{% extends 'base.html' %}
{% block title %}Überblick über Wetterdaten-Services{% endblock %}
{% block content %}
    {% load static %}
    {% load i18n %}
    <!DOCTYPE html>

</head>

<body>

    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- =======================
Page Banner START -->
        <section class="py-4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="p-2 text-left rounded-3">
                            <h2 class="m-0">{% translate "Überblick über Wetterdaten-Services" %}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
Page Banner END -->

        {% include '../weatherdata_over/explanation.html' %}

        <!-- =======================
Page content START -->
        <section class="pt-0">
            <div class="container {{ focusBorder }}-cards">
                <!-- Filter bar START -->

                {% include "partials/search-bar.html" %}
                <!-- Filter bar END -->
                <ul class="list-inline mb-0">

                    {% if search %}

                        <li class="list-inline-item">

                            <div class="btn btn-outline-light btn-sm">
                                <a href="/weatherdata_list/?searched={{ search }}&k=&l=">
                                    {% translate "Suchbegriff" %}: {{ search }}
                                </a>
                                <a href="/weatherdata_list/?searched=&k={% if kategorie %}{{ kategorie }}{% endif %}&l={% if lizenz %}{{ lizenz }}{% endif %}">
                                    <i class="bi bi-x-lg"></i>
                                </a>

                            </div>

                        </li>

                    {% endif %}

                    {% if kategorie %}

                        <li class="list-inline-item">

                            <div class="btn btn-outline-light btn-sm">
                                <a href="/weatherdata_list/?searched=&k={{ kategorie }}&l=">{{ kategorie }}</a>
                                <a href="/weatherdata_list/?searched={% if search %}{{ search }}{% endif %}&k=&l={% if lizenz %}{{ lizenz }}{% endif %}">
                                    <i class="bi bi-x-lg"></i>
                                </a>

                            </div>

                        </li>

                    {% endif %}

                    {% if lizenz %}

                        <li class="list-inline-item">

                            <div class="btn btn-outline-light btn-sm">
                                <a href="/weatherdata_list/?searched=&k=&l={{ lizenz }}">{{ lizenz }}</a>
                                <a href="/weatherdata_list/?searched={% if search %}{{ search }}{% endif %}&k={% if kategorie %}{{ kategorie }}{% endif %}&l=">
                                    <i class="bi bi-x-lg"></i>
                                </a>

                            </div>

                        </li>

                    {% endif %}
                </ul>

                <div class="row mt-3">
                    <!-- Main content START -->

                    <div class="col-12">

                        <!-- Course Grid START -->

                        <div class="row g-4"  id="weatherdata-listing-results">

                            {% include '../weatherdata_over/weatherdata-listings-results.html' %}

                        </div>
                        <!-- Course Grid END -->
                        <!-- Pagination START -->

                        {% include "partials/pagination.html" %}
                        <!-- Pagination END -->

                    </div>
                    <!-- Main content END -->
                </div>
                <!-- Container END -->
            </section>
            <!-- =======================
Page content END -->

        </main>
        <!-- **************** MAIN CONTENT END **************** -->

    {% endblock %}
