{% load static %}

<section class="py-4">
	<div class="container">
        <div class="row collapseInfoContainer" id="collapseInfoContainerWeatherdata">
            
            
            <div class="col-lg-12 collapse lead collapseInfo" id="collapseInfoWeatherdata">
                <p>
                    Die hier vorgestellten Wetterdaten bzw. Anwendungen zum Umgang mit Wetterdaten
                    sind in einer ersten Recherche durch das Modul Digitalisierung der
                    wissenschaftliche Begleitforschung der Forschungsinitiative Energiewendebauen
                    entstanden. Der Fokus der Recherche lag auf der Region Deutschland.
                </p>  
                <p> Wir möchten Sie ermutigen uns auf weitere Datenquellen, digitale Werkzeuge oder
                    auch konkrete Anwendungen von Wetterdaten aufmerksam zu machen, um diese ihren
                    Kollegen aus der Forschung aber auch aus der Praxis zugänglich zu machen.
                </p>
                <p> In Rahmen der ersten Recherche haben wir folgende Aspekte zu den Wetterdaten
                    bzw. deren Anwendungen zusammengetragen:
                </p>
                <ul>
                    <li class="lead"><b>Kurzbeschreibung</b>&nbsp;&ndash; Um was handelt es sich?</li>
                    <li class="lead"><b>Letztes Update</b>&nbsp;&ndash; Wann ist das letzte Update erfolgt. Insbesondere bei
                        Anwendungen, welche im Rahmen von Forschungsprojekten entwickelt werden, kann
                        nach Abschluss des Projektes die Weiterentwicklung bzw. die Wartung eingestellt
                        werden.</li>
                    <li class="lead"><b>Lizenz</b>&nbsp;&ndash; Unter welcher Lizenz wurde die Anwendung veröffentlicht und
                        entstehen Kosten durch die Anwendung?</li>
                </ul>
            </div>           
            <div class="col-lg-12 lead mt-3">
                <a role="button" class="collapsed text-truncation-btn" data-toggle="collapse" href="#collapseInfoWeatherdata" aria-expanded="false" aria-controls="collapseInfoWeatherdata"></a>
            </div>
        </div>
    </div>
</section>
