{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% translate "Komponentenliste" %}
{% endblock %}
{% load static %}
{% block content %}
    <style>
    .secondaryNavbar{
        display: flex;
        justify-content: space-between;
    }
    .secondaryNavbarLeft a{
        color: #8FDE97;
        font-size: 15px;
    }
    .secondaryNavbarRight a{
        color: #000000;
        font-size: 15px;
        border: 2px solid #8FDE97;
        margin: 6.5px;
    }
    .arrowImage{
        width: 5px;
        height: 11px;
    }
    .collapseListingRow {
        flex-wrap: wrap;
        padding-inline: 14px;
        padding-bottom: 24px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .collapseListingRow .col-6 {
        word-break: break-word;
    }
    .collapseListingRow a {
        font-size: 16px;
        color: #8FDE97;
    }
    .collapseListingRow .listing-right {
        padding-top: 28px;
    }
    .collapseListingRow p {
        display: flex;
        justify-content: space-between; 
        gap: 16px;
        flex-wrap: wrap;
    }
    .listingRowAttributeName  {
        flex-basis: 70%;
    }
    .listingRowAttributeValues {
        flex-basis: 30%;
    }
    .headingInListingContainer {
        font-size: 22px !important;
        font-weight: 500 !important;
    }
    .subHeading {
        margin-block: 22px;
    }
    #searchBox .search-button {
        max-width: fit-content;
        margin-left: auto;
    }
    #search-submit- {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px !important;
        height: 40px !important;
        border-radius: 50% !important;
    }
    #search-submit- .fa-search {
        font-size: 20px;
    }
    #allButton {
        border-radius: 22px !important;
        padding-inline: 0.5rem !important;
    }
    #select-category,
    #select-component,
    #dropdownMenuButton,
    #select-overview {
        color: #8FDE97;
    }
    #dropdownMenuButton {
        background-color: #ffffff;
    }
    .form-group.dropdown {
        max-width: fit-content;
    }
    #search-input-::placeholder {
        color: #8FDE97;
    }
    #firstComparisonButtonTools,
    #secondComparisonButtonTools,
    #cancelButtonTools {
        width: 50%;
    }
    .comparisonInputTools {
        transform: translate(-20px,5px);
    }
    .unstyledLink{
        text-decoration: underline;
        text-decoration-color: #8FDE97;
        color: black;
        font-size: 22px;
    }
    .descriptionDownloadLink {
        margin-bottom: 24px;
        font-size: 22px;
    }
    .ecological-cards {
        max-width: 100%;
    }
    .dropdown-menu__nested {
        width: 100%;
        padding-left: 1rem;
        border-bottom: 1px solid #cccccc;
        border-radius: 0;
    }
    /* #componentListingContainer{ 
        padding-inline: 16px;
    } */
    </style>
    <div class="content container">
        {% include "partials/backLinkInFocusColor.html" %}
        <div class="row">
            <div class="descriptionBox">
                {% include "partials/descriptionContainer.html" %}

                {% include "partials/_descriptionImage.html" %}
                <div class="descriptionDownloadLink">
                    {% blocktranslate %}
                    In der folgenden Tabelle finden Sie weitergehende Informationen zu den Treibhausgasemissionen und Energieverbräuchen (Nutzungsphase) häufig verwendeter Komponenten. Sie können die Daten als{% endblocktranslate %} <a href="{% static 'pdf/componentList.pdf' %}" class="unstyledLink" download>Gesamttabelle herunterladen</a>{% blocktranslate %} oder die Komponenten nach Ihren Vorgaben online darstellen lassen.
                                        {% endblocktranslate %}
                </div>
            </div>
            <div class="searchContainer {{ focusBorder }}-cards">
                {% include "partials/search-bar.html" %}
            </div>
            <div class="compareBox {{ focusBorder }}-cards"
                 id="compareBox"
                 style="display: none">
                {% include "common/comparison.html" %}
            </div>
            <div id="componentListingContainer">
                {% include "common/listing-row.html" %}
            </div>
            <div id="paginationContainer">{% include "common/pagination.html" %}</div>
        </div>
        <script>var modelName = "{{ model }}";</script>
    {% endblock %}
