{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% translate "Komponentenliste" %}
{% endblock %}
{% load static %}
{% block content %}
    <div class="content container">
        <div class="row">
            <div class="col-12 secondaryNavbar">
                <a href="{% url 'environmentalIntegrityNegativ' %}">{% translate "Negative Umweltwirkungen" %}</a>
                <a href="{% url 'dataProcessing' %}">{% translate "Zu den Aufwänden für Datenverarbeitungsprozsse " %}</a>
            </div>
        </div>
        <div class="row">
            <div class="descriptionBox">
                <div class="descriptionHeading">{% translate "Aufwände für verwendete Komponenten" %}</div>
                <div class="descriptionText">
                    <p>
                        {% blocktranslate %}In Analogie zur Daten-Wertschöpfungskette (siehe “Aufwände für Datenverarbeitungsprozesse”) können wichtige Komponenten von der Datenerfassung (Sensoren) bis zur Datennutzung (Aktuatoren) gedacht werden. Abbildung 2 zeigt wichtige Komponenten, die zur Realisierung einer effektiven Nutzung von Daten für die Betriebsoptimierung von Gebäuden und Quartieren notwendig sind. Je nachdem welche dieser – oder weitere – Komponenten zusätzlich für die digitale Anwendung verbaut werden mussten, müssen die entsprechenden Umweltlasten mit in die Bilanz einfließen. Dabei sind alle Lebenszyklusphasen mit zu betrachten. Hier finden Sie wichtige Komponenten und deren Umweltlasten.{% endblocktranslate %}
                    </p>
                </div>
                <div class="descriptionDownloadLink">
                    <a href="{% static 'pdf/componentList.pdf' %}" download>{% translate "Download Link" %}</a>
                </div>
                <div class="descriptionImage"></div>
            </div>
        </div>
    </div>
{% endblock %}
