{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% translate "Komponentenliste" %}
{% endblock %}
{% load static %}
{% block content %}
    <style>
    .secondaryNavbar{
        display: flex;
        justify-content: space-between;
    }
    .secondaryNavbarLeft a{
        color: #8FDE97;
        font-size: 15px;
    }
    .secondaryNavbarRight a{
        color: #000000;
        font-size: 15px;
        border: 2px solid #8FDE97;
        margin: 6.5px;
    }
    .arrowImage{
        width: 5px;
        height: 11px;
    }
    </style>
    <div class="content container">
        <div class="row">
            <div class="col-12 secondaryNavbar">
                <div class="secondaryNavbarLeft">
                    <img src="{% static 'img/componentList/caret-left.svg' %}"
                         alt="green arrow"
                         class="arrowImage" />
                    <a href="{% url 'environmentalIntegrityNegativ' %}">{% translate "Negative Umweltwirkungen" %}</a>
                </div>
                <div class="secondaryNavbarRight">
                    <a href="{% url 'dataProcessing' %}">{% translate "Zu den Aufwänden für Datenverarbeitungsprozesse " %}
                        <img src="{% static '/assets/images/right-arrow.svg' %}"
                             class="arrowImage" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="descriptionBox">
                <div class="descriptionHeading">
                    {% translate "Aufwände für verwendete Komponenten" %}
                </div>
                <div class="descriptionText">
                    <p>
                        {% blocktranslate %}In Analogie zur Daten-Wertschöpfungskette (siehe “Aufwände für Datenverarbeitungsprozesse”) können wichtige Komponenten von der Datenerfassung (Sensoren) bis zur Datennutzung (Aktuatoren) gedacht werden. Abbildung 2 zeigt wichtige Komponenten, die zur Realisierung einer effektiven Nutzung von Daten für die Betriebsoptimierung von Gebäuden und Quartieren notwendig sind. Je nachdem welche dieser – oder weitere – Komponenten zusätzlich für die digitale Anwendung verbaut werden mussten, müssen die entsprechenden Umweltlasten mit in die Bilanz einfließen. Dabei sind alle Lebenszyklusphasen mit zu betrachten. Hier finden Sie wichtige Komponenten und deren Umweltlasten.{% endblocktranslate %}
                    </p>
                </div>
                <div class="descriptionDownloadLink">
                    <a href="{% static 'pdf/componentList.pdf' %}" download>{% translate "Download Link" %}</a>
                </div>
                <div class="descriptionImage">
                    <img src="{% static 'img/componentListDescriptionImage.svg' %}"
                         alt="Description Component Image" />
                </div>
            </div>
        </div>
        <div class="searchContainer {{ focusBorder }}-cards">
            {% include "common/search-bar.html" %}
        </div>
        <div class="compareBox {{ focusBorder }}-cards" id="compareBox">
            {% include "common/comparison.html" %}
        </div>
        <div class="container" id="componentListingContainer">
            {% include "common/listing-row.html" %}
        </div>
        <div id="paginationContainer">{% include "common/pagination.html" %}</div>
    </div>
    <script>var modelName = "{{ model }}";</script>
{% endblock %}
