{% extends "base.html" %}
{% load i18n %}
{% block title %}
  {% translate "Datenverarbeitung" %}
{% endblock title %}
{% load static %}
{% block content %}
  <style>
    .link-navigator__negative {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 13px;
        font-weight: 500;
        color: #8FDE97;
    }

    .link-navigator__icon {
        width: 8px;
    }

    .columns {
        display: flex;
        row-gap: 16px;
        padding-inline: 28px;
        padding-block: 36px;
    }

    .column__right {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .column__right-image-background {
        width: 100%;
        padding: 10px;
        background-color: #EDEDED;
    }

    .column__right-image {
        height: 100% !important;
        object-fit: contain;
    }
    
    @media only screen and (min-width: 1070px) {
      .column__left {
          flex-basis: 25%;
      }

      .column__right {
        flex-basis: 75%;
      }

      .column__right-image-background {
        padding-block: 30px;
        padding-inline: 60px;
    }
    }
    
  </style>
  <!-- ======================= Content START ======================= -->
  <div class="content container" id="container-start-focus">
    <div class="row link-navigator">
      <a href="{% url 'environmentalIntegrityNegativ' %}"
         class="link-navigator__negative">
        <img src="{% static 'img/componentList/caret-left.svg' %}"
             alt="Caret left icon"
             class="link-navigator__icon" />
        {% translate "Negative Umweltwirkungen" %}
      </a>
    </div>
    <div class="row columns border-ecological">
      <div class="column__left">
        {% translate "Aufwände für Datenverarbeitungsprozsse" %}
      </div>
      <div class="column__right">
        <div>
          {% blocktranslate %}Bei der Nutzung digitaler Technologien für die Betriebsoptimierung von Gebäuden und
                Quartieren werden in der Regel unterschiedliche Datenverarbeitungsprozesse durchlaufen, die am Ende eine
                bestmögliche Nutzung der Daten ermöglichen sollen. Einen Überblick über einige der möglichen
                Prozessschritte bietet das in Abbildung 1 gezeigten Daten-Wertschöpfungskette. Hinter jedem
                Prozessschritt steht eine programmierte Anweisung, die oftmals in Schleifen ausgeführt wird. Dadurch
                kommt es fortwährend zur Generierung von Daten, welche auch mit einem entsprechenden Energieverbrauch
                verbunden ist. Hier finden Sie Umweltlasten wichtiger Datenverarbeitungsprozesse.{% endblocktranslate %}
        </div>
        <div class="column__right-image-background">
          <img src="{% static 'img/componentList/data-processing.png' %}"
               alt="Data processing"
               class="column__right-image" />
        </div>
        <div>
          Hier steht ein Platzhaltertext: Con rest voles molor se reptur, erum sum autaquiae prae nonsequat quas
          ex exero dolupti dolupta tempossimi, volestiures es doluptatur santius ulparciis et ad eum aceptiistion
          cum quianihictem unt rest voles molor se reptur, erum sum autaquiae prae nonsequat quas ex exero dolupti
          dolupta tempossimi, volestiures es doluptatur santius ulparciis et ad eum aceptiistion cum quianihictem
          unt ut pel ma dolorpo rruntur, accat. Ent, que nimi, quas si odi optatis ex estisque ommossi tatur,
          vendit por sum ellecatur repudanda simusae et enis ne nus. Et fugit od eos eatum expedit, imint as quas
          comniminus electibustis doloribus. Ent que volore doles eos es dolupta voluptibusam cus sam que nimodios
          as dolori dolor aut dolorem rem que voluptasimus eum.
        </div>
        <div>
          Hier steht ein Platzhaltertext: Con rest voles molor se reptur, erum sum autaquiae prae nonsequat quas
          ex exero dolupti dolupta tempossimi, volestiures es doluptatur santius ulparciis et ad eum aceptiistion
          cum quianihictem unt rest voles molor se reptur, erum sum autaquiae prae nonsequat quas ex exero dolupti
          dolupta tempossimi, volestiures es doluptatur santius ulparciis et ad eum aceptiistion cum quianihictem
          unt ut pel ma dolorpo rruntur, accat. Ent, que nimi, quas si odi optatis ex estisque ommossi tatur,
          vendit por sum ellecatur repudanda simusae et enis ne nus. Et fugit od eos eatum expedit, imint as quas
          comniminus electibustis doloribus. Ent que volore doles eos es dolupta voluptibusam cus sam que nimodios
          as dolori dolor aut dolorem rem que voluptasimus eum.
        </div>
        <div>
          Hier steht ein Platzhaltertext: Con rest voles molor se reptur, erum sum autaquiae prae nonsequat quas
          ex exero dolupti dolupta tempossimi, volestiures es doluptatur santius ulparciis et ad eum aceptiistion
          cum quianihictem unt rest voles molor se reptur, erum sum autaquiae prae nonsequat quas ex exero dolupti
          dolupta tempossimi, volestiures es doluptatur santius ulparciis et ad eum aceptiistion cum quianihictem
          unt ut pel ma dolorpo rruntur, accat. Ent, que nimi, quas si odi optatis ex estisque ommossi tatur,
          vendit por sum ellecatur repudanda simusae et enis ne nus. Et fugit od eos eatum expedit, imint as quas
          comniminus electibustis doloribus. Ent que volore doles eos es dolupta voluptibusam cus sam que nimodios
          as dolori dolor aut dolorem rem que voluptasimus eum.
        </div>
      </div>
    </div>
  </div>
  <!-- Content END -->
{% endblock content %}
