{% load static %}
{% load i18n %}
<style>
    .columnHeading {
        color: #787575;
    }
    p {
        margin-top: 32px;
        font-size: 16px;
    }
    .plus-sign-list {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
.plus-sign-list li:before {
	content: "+";
	position: absolute;
	left: 0;
}
.minus-sign-list {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
.minus-sign-list li:before {
	content: "-";
	position: absolute;
	left: 0;
}
</style>
<div style="font-size: 22px;">{{ boxObject.category }}</div>
<p>
    <span class="columnHeading">{% translate "Zeitbedarf" %}:</span> {{ boxObject.timeRequired|safe }}
</p>
<p>
    <span class="columnHeading">{% translate "Gruppengröße" %}:</span> {{ boxObject.groupSizeRendered|safe }}
</p>
<p>
    <span class="columnHeading">{% translate "Material" %}:</span> {{ boxObject.material|safe }}
</p>
<p>
    <span class="columnHeading">{% translate "Vorteile" %}:</span>
    <ul class="plus-sign-list">
        {% for proElement in boxObject.proArguments.all %}
            <li>{{ proElement }}</li>
        {% endfor %}
    </ul>
</p>
<p>
    <span class="columnHeading">{% translate "Nachteile" %}:</span>
    <ul class="minus-sign-list">
        {% for conElement in boxObject.conArguments.all %}
            <li>{{ conElement }}</li>
        {% endfor %}
    </ul>
</p>
{% if boxObject.goodPracticeExampleRendered != "" %}
    <p>
        <span class="columnHeading">{% translate "Good-Practice-Beispiel" %}:</span>
        <ul class="minus-sign-list">
            {{ boxObject.goodPracticeExampleRendered }}
        </ul>
    </p>
{% endif %}
<!-- <p>
    <span class="columnHeading">{% translate "Durchgeführt von" %}:</span> {{ boxObject.conductedBy }}
</p> -->
<!-- <p>
    <span class="columnHeading">{% translate "Erfolgsfaktoren für die Umsetzung der Methode" %}:</span> {{ boxObject.successFactors }}
</p> -->
