{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% load static %}

{% block content%}

  <!-- =======================
Page Banner START -->
<section class="py-4">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bg-light p-4 text-center rounded-3">
					<h1 class="m-0">Über WebCentral BF M</h1>
					
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Page Banner END -->



  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Wir speichern die relvanten Informationen für die Arbeit des Moduls Digitalisierung der Wissenschaftlichen Begleitforschung </h2>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
          <img src="{% static '/img/ER_Diagramm_Draft6-SourceByTabels.png' %}" alt="">
          <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis esse officia repudiandae ad saepe ex, amet
            neque quod accusamus rem quia magnam magni dolorum facilis ullam minima perferendis? Exercitationem at quaerat
            commodi id libero eveniet harum perferendis laborum molestias quia.</p>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="assets/img/realtors/kyle.jpg" alt="Ansprechpartner">
            <div class="card-body">
              <h5 class="card-title">Ansprechpartner</h5>
              <h6 class="text-secondary">Max Mustermann</h6>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nesciunt amet, illo itaque similique repellat.
                content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
