{% extends 'base.html' %}

{% block title %} Geschäftsmodelle - Herausforderungen {% endblock %}

{% load static %}

{% block content%}

  <!-- =======================
Page Banner START -->
<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="p-2 text-left rounded-3">
          <h2 class="m-0">Geschäftsmodelle – Herausforderungen</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Page Banner END -->
<!-- Content START -->
<section id="about" class=" pt-4 py-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <p>
          Die digitale Anwendung wurde erfolgreich in einem Prototyp getestet?
          Dem Einsatz als fertigem Produkt steht nichts mehr im Wege und die
          digitale Anwendung kann bald großflächig zum Einsatz kommen? Oftmals
          ist der Weg zu einem funktionierenden Geschäftsmodell lang. Gerade bei
          digitalen Anwendungen treten entlang der Technologieentwicklungsstufen
          immer wieder Herausforderungen auf. So auch beim Übergang von der
          technologischen Entwicklung zur wirtschaftlichen Verwertung. Die mit
          der Geschätsmodellentwicklung einhergehenden Herausforderungen, mit
          der sich Projekte der Forschungsinitiative Energiewendebauen
          konfrontiert sehen, wurden systematisch aufgearbeitet und werden hier
          vorgestellt.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Content END -->
{% endblock %}
