{% extends 'base.html' %}

{% block title %} Geschäftsmodelle - Herausforderungen {% endblock %}

{% load static %}

{% block content%}

<!-- general text for "coming soon" -->
{% include 'partials/_coming.html' %}

  <!-- =======================
Page Banner START -->
<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img src="{% static 'assets/images/StartPage_figure.svg' %}"
             class="rounded" alt="overview_figure"
             style="width: 800px vertical-align: middle" nonce="{{request.csp_nonce}}">
      </div>
    </div> -->
    <div class="row align-items-center">
      <div class="col-12 col-lg-12">
        <p class="lead">
          <img src="{% static 'assets/images/standards.svg' %}">Kriterienkatalog <br />
          Text (Generelle Erläuterungen) Hier steht ein Platzhaltertext: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
        <br />
        <p>
          <a href="#" style="color: black; text-decoration: underline;">Downloade den gesamten Kriterienkatalog als Exceldatei</a> 
        </p>
      </div>
      <!-- <div class="col-12 col-lg-2">
        <img src="{% static '/img/BMWK_Fz_2017_WebSVG_de.svg' %}"
          class="img-side-column" style="height: 200px;"
          alt="Logo_BMWK">
      </div> -->
    </div>
  </div>
</section>
<!-- Page Banner END -->
<!-- Content START -->

<!-- Page content START -->
<section class="pt-0">
  <!-- Filter bar END -->
  
  <div class="container" id="container-criteria-catalog-landing-page">
    <!-- Row START -->
    <div class="row">
      <h2 class="criteriaCatalogHeading" style="color: #F5E86A">Für welchen Zweck möchtest du Daten verarbeiten?</h2>
      <!-- Block START -->
      <div class="col-12 col-lg-6 p-3 border-legal" title="Planung, Betrieb und Betriebsoptimierung">
        <a href="/criteriaCatalog/Planung">  
          <div class="p-4 position-relative">
            <div class="row">
              <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 p-3"
                  title="Erläuterungstext">
                <h3>Planung, Betrieb und Betriebsoptimierung</h3>
                <p>Zum Beispiel:
                  <ul>
                    <li>(Teil-)Automatisierte Regelung der Gebäude-Klimatisierung (z.B. Belüftung, Heizanlagen)</li>
                    <li>(Teil-)Automatisierte Regelung sonstiger technischer Anlagen</li>
                    <li>Modellbasierte Regelung technischer Anlagen</li>
                    <li>Verbesserung von Modellen</li>
                    <li>Monitoring technischer Anlagen</li>
                    <li>Errechnung des Wärme-/Kältebedarfs (auf Gebäude- oder Quartiersebene)</li>
                    <li>Errechnung des Bedarfs elektrischer Energie (auf Wohneinheits-, Gebäude- oder Quartiersebene)</li>
                    <li>Ermittlung von Energie-Einsparpotenzialen</li>
                    <li>Handlungsempfehlung an Gebäudebetreiber zur Energieeinsparung</li>
                    <li>Erfassung von Gebäudeinformationen in digitalem Zwilling; BIM</li>
                  </ul>
                </p>
              </div>
              <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-3"
                  title="Links">
                <img src="{% static 'assets/images/PurposeCategory1.svg' %}"  class="rounded" alt="icon">
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- Block END -->
      <!-- Block START -->
      
      <div class="col-12 col-lg-6 p-3 border-legal" title="Betrieblicher Fokus">
        <a href="/criteriaCatalog/Profilbildung">
          <div class="p-4 position-relative">
            <!-- <img src="{% static 'assets/images/symbol_operational_focus.svg' %}"
                  class="position-absolute start-0 translate-middle"
                  style="top: 30px"
                  nonce="{{request.csp_nonce}}"
                  alt="icon"> -->
              <div class="row">
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 p-3"
                      title="Erläuterungstext">
                  <h3>Profilbildung und Personalisierung</h3>
                  <p>
                    Zum Beispiel:
                    <ul>
                      <li>Personalisierte Gebäude-Klimatisierung</li>
                      <li>Personalisierte Handlungsempfehlungen</li>
                      <li>Intelligentes Raumwärmemanagement</li>
                      <li>Erstellung von Personenprofilen</li>
                      <li>Einholen von Nutzenden-Feedback</li>
                    </ul>
                  </p>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-3"
                      title="Links">
                      <img src="{% static 'assets/images/PurposeCategory3.svg' %}"
                      class="rounded" alt="icon" style="justify-self: end;">
                </div>
              </div>
            </div>
          </a>
        </div>
      
      <!-- Block END -->
    </div>
    <!-- Row END -->
    <!-- Row START -->
    <div class="row">
      <!-- Block START -->
      <div class="col-12 col-lg-6 p-3 border-legal" title="Verhaltensbeeinflussung" style="min-height: 460px;">
        <a href="/criteriaCatalog/Verhaltensbeeinflussung">
          <div class="p-4 position-relative">
            <div class="row">
              <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 p-3"
                    title="Erläuterungstext">
                <h3>Verhaltensbeeinflussung (Nudging)</h3>
                <p>
                  Zum Beispiel:
                  <ul>
                    <li>Visualisierung des Energieverbrauchs auf UI</li>
                    <li>Handlungsempfehlungen mittels UI</li>
                    <li>Gamification Anwendungen</li>
                  </ul>
                </p>
              </div>
              <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-3"
                    title="Links">
                <img src="{% static 'assets/images/PurposeCategory2.svg' %}"  class="rounded" alt="icon" style="justify-self: end;">
              </div>
            </div>          
          </div>
        </a>
      </div>
      <!-- Block END -->
      <!-- Block -->
      <div class="col-12 col-lg-6 p-3 border-legal" title="Teilen von Daten">
        <a href="criteriaCatalog/Teilen">
            <div class="p-4 position-relative">
              <div class="row">
                <div class="col-9 col-sm-10 col-md-10 col-lg-10 col-xl-10 p-3"
                    title="Erläuterungstext">
                  <h3>Teilen von Daten</h3>
                  <p>
                    Zum Beispiel:
                    <ul>
                      <li>Veröffentlichen/Teilen von Energieverbrauchsdaten</li>
                      <li>Veröffentlichen/Teilen von Gebäudebestandsdaten</li>
                      <li>Veröffentlichen/Teilen von Monitoring Daten</li>
                    </ul>
                  </p>
                </div>
                <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-3"
                    title="Links">
                  <img src="{% static 'assets/images/PurposeCategory4.svg' %}"
                  class="rounded" alt="icon" style="justify-self: end;">
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- Block END -->
    </div>
  </div>
</section>
<!-- Content END -->
{% endblock %}
