{% extends 'base.html' %}

{% block title %} Datensuffizienz {% endblock %}

{% load static %}
{% load i18n %}
{% block content%}

<!-- general text for "coming soon" -->
{% include 'partials/_coming.html' %}

  <!-- =======================
Page Banner START -->
<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="p-2 text-left rounded-3">
          <h2 class="m-0">Datensuffizienz</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Page Banner END -->
<!-- Content START -->
<section id="about" class=" pt-4 py-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <p>
          Sowohl die Materialisierung als auch der Energieaufwand für den
          Betrieb immer größer werdender Rechenkapazitäten stellt eine
          Herausforderung dar. Der maßhaltige Umgang mit Daten – die
          Datensuffizienz – gewinnt daher zunehmend an Relevanz. Die
          Datensuffizienz schaut dabei auf alle Bereiche der Datenverarbeitung:
          von der Erhebung, der Weiterverarbeitung, Speicherung bis zur
          Löschung. Gerade die ökologischen Auswirkungen eines (in-)suffizienten
          Umgangs mit Daten sind derzeit noch wenig untersucht und bleiben in
          der Praxis oftmals unbeachtet. Durch die ständige Zunahme digitaler
          Anwendungen im Gebäudebereich muss die Datensuffizienz jedoch bereits
          bei der Entwicklung und auch später bei der Nutzung mitgedacht werden.
          Im Folgenden sollen daher Anhaltspunkte für einen maßhaltigen Umgang
          mit Daten gegeben und auf die ökologischen Wirkungen bestimmter
          Praktiken beim Umgang mit Daten hingewiesen werden.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Content END -->
{% endblock %}
