{% load static %}
{% load i18n %}
<style>
    .mainContent {
        font-size: 22px;
        display: inline;
    }
    .showMore {
        display: inline;
        
        font-size: 22px;
    }
    .showMore a {
        color: #8FDE97;
    }
    .blockOfContent{
        margin-bottom: 54px;
    }
</style>
<div class="blockOfContent">
    <div class="mainContent" id="shortDescription">
        {{ boxObject.categoryShortDescription|slice:":400" }}
    </div>
    <div class="mainContent collapse" id="shortDescriptionRest">
        {{ boxObject.categoryShortDescription|slice:"401:" }}
    </div>
    <div class="showMore">
        <a role="button"
           class="collapsed text-truncation-btn"
           data-toggle="collapse"
           href="#shortDescriptionRest"
           aria-expanded="true"
           aria-controls="shortDescriptionRest"
           data-expanded-text="{% translate 'Zeige weniger ...' %}"
           data-collapsed-text="{% translate 'Zeige mehr ...' %}">Zeige mehr...</a>
    </div>
</div>
<div class="blockOfContent">
    <div class="mainContent">{% translate "Good Practice Beispiel" %} 1:</div>
    <div>
        <div class="mainContent">{{ boxObject.example1|slice:":400" }}</div>
        <div class="mainContent collapse" id="example1">
            {{ boxObject.example1|slice:"401:" }}
        </div>
        <div class="showMore">
            <a role="button"
               class="collapsed text-truncation-btn"
               data-toggle="collapse"
               href="#example1"
               aria-expanded="true"
               aria-controls="example1"
               data-expanded-text="{% translate 'Zeige weniger ...' %}"
               data-collapsed-text="{% translate 'Zeige mehr ...' %}">Zeige mehr...</a>
        </div>
    </div>
</div>
<div class="mainContent">{% translate "Good Practice Beispiel" %} 2:</div>
<div>
    <div class="mainContent">{{ boxObject.example2|slice:":400" }}</div>
    <div class="mainContent collapse" id="example2">
        {{ boxObject.example2|slice:"401:" }}
    </div>
    <div class="showMore">
        <a role="button"
           class="collapsed text-truncation-btn"
           data-toggle="collapse"
           href="#example2"
           aria-expanded="true"
           aria-controls="example2"
           data-expanded-text="{% translate 'Zeige weniger ...' %}"
           data-collapsed-text="{% translate 'Zeige mehr ...' %}">Zeige mehr...</a>
    </div>
</div>
