{% extends 'base.html' %}

{% block title %} Negative Umweltwirkungen {% endblock %}

{% load static %}
{% load i18n %}
{% block content%}

<!-- general text for "coming soon" -->
{% include 'partials/_coming.html' %}

  <!-- =======================
Page Banner START -->
<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="p-2 text-left rounded-3">
          <h2 class="m-0">{% translate "Negative Umweltwirkungen" %}</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Page Banner END -->
<!-- Content START -->
<section id="about" class=" pt-4 py-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <p>
          {% blocktranslate %}Die Digitalisierung bietet große Potenziale und Chancen. Auch im
          Gebäudebereich lassen sich mittels digitaler Anwendungen u.a.
          Effizienzpotenziale heben (siehe positive Umweltwirkungen –
          good-practice). Jedoch stehen den positiven Wirkungen, hervorgerufen
          durch digitale Anwendungen, auch Umweltlasten gegenüber. Ausgehend vom
          Lebenszyklus der verwendeten Produkte und Services ergeben sich
          negative Umweltwirkungen von der Rohstoffgewinnung, über den
          Energieverbrauch im Betrieb bis zur Entsorgung der Technologie.{% endblocktranslate %}
        </p>
        <p>
          {% blocktranslate %}Folgend sollen die Umweltlasten für häufig verwendete Komponenten
          digitaler Anwendungen in Gebäuden aufgeführt werden. Dabei wird nur
          auf den Energieverbrauch und die CO<sub>2</sub>-Emissionen fokussiert, da die
          Minimierung dieser Kenngrößen in Gebäuden ein Hauptpfeiler der
          derzeitigen Forschung der Forschungsinitiative Energiewendebauen
          darstellt. Die Übersicht soll zunächst einen einfachen Überblick und
          ersten Anhaltspunkt zu den Umweltlasten bieten. Zum anderen soll sie
          Interessierte dazu befähigen, die Nettoeffekte – also die Bilanz aus
          Umweltnutzen und – lasten – abzuschätzen, um so digitale Anwendungen
          aus der ökologischen Perspektive möglichst effektiv zu entwickeln,
          und/oder zu nutzen.{% endblocktranslate %}
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Content END -->
{% endblock %}
