{% extends 'base.html' %}
{% load i18n %}
{% block title %}
  {% translate "Negative Umweltwirkungen" %}
{% endblock %}
{% load static %}
{% block content %}
  <style>
    .description-heading {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 18px;
    }

    .description-heading__icon {
      font-size: 24px;
    }

    .box {
        padding: 40px;
        padding-bottom: 44px;
    }

    .box__content {
      flex-direction: column;
      height: 100%;
    }

    .boxHeading {
      font-size: 20px;
      font-weight: 400;
    }

    .boxDescription {
      font-size: 16px;
    }

    .boxImage {
      margin-top: auto;
    }

    .box__image {
      background-color: #F0F0F0;
      margin-top: 8px;
      /* height: 100% !important; */
      /* object-fit: contain; */
      /* eight: */
      height: auto;
      width: 569px;
    }
  </style>
  <!-- =======================
 Content START -->
  <div class="content container">
    {% include "partials/descriptionContainer.html" %}
    <div class="boxes row overview-box-site">
      {% for boxObject in boxes %}
        {% include boxObject.pathToTemplate with boxObject=boxObject %}
      {% endfor %}
    </div>
  </div>
  <!-- Content END -->
{% endblock %}
