{% extends 'base.html' %}
{% load i18n %}
{% block title %}
  Positive Umweltwirkungen
{% endblock title %}
{% load static %}
{% block content %}
  <style>
    .description-heading {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 18px;
    }

    .description-heading__icon {
      font-size: 24px;
    }

    .box {
        padding: 40px;
    }

    .box__content {
      flex-direction: column;
      height: 100%;
    }

    .boxHeading {
      font-size: 20px;
      font-weight: 400;
    }

    .box-content__main {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .content-right {
      display: flex; flex-direction: column; color: #787575;
    }

    .box__image {
      width: 100% !important;
      height: 100px !important;
      margin-top: 28px;
      object-fit: contain;
      object-position: top;
    }

    @media only screen and (min-width: 480px) {
      .box-content__main {
        flex-direction: row;
      }

      .boxDescription {
        margin-bottom: 0;
      }

      .content-left {
        flex-basis: 70%;
      }

      .content-right {
        flex-basis: 30%;
      }
    } 
  </style>

  <!-- ======================= Page Banner START ======================= -->
  <div class="content container">
    <div class="row">{% include "partials/descriptionContainer.html" %}</div>
    <div class="boxes" id="container-start-focus">
      {% include "common/fourBoxesContainer.html" %}
    </div>
  </div>
  <!-- Content END -->
{% endblock %}
