{% load i18n %}
{% load static %}
<div class="col-12 col-lg-6 box border-{{ focusBorder }}" id="box1">
    <a href="{% url 'environmentalIntegrityBox' boxObject.id %}"
       style="color: inherit;
              text-decoration: none;
              font-style: normal">
        <div class="row box__content">
            <div class="col-12">
                <h6 class="boxHeading mb-4">{{ boxObject.category }}</h6>
            </div>
            <div class="box-content__main">
                <div class="col-12 content-left">
                    <p class="boxDescription">{{ boxObject.description }}</p>
                </div>
                <div class="content-right">
                    <div>{{ boxObject.name_digital_application }}</div>
                    <div class="mt-4">{{ boxObject.project_name }}</div>
                    <img src="{% static boxObject.image %}"
                         alt="Positive impact project image"
                         class="box__image" />
                </div>
            </div>
        </div>
    </a>
</div>
