{% extends 'base.html' %}

{% block title %} Positive Umweltwirkungen {% endblock %}

{% load static %}

{% block content%}

<!-- general text for "coming soon" -->
{% include 'partials/_coming.html' %}

  <!-- =======================
Page Banner START -->
<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="p-2 text-left rounded-3">
          <h2 class="m-0">Positive Umweltwirkungen – best-practice</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Page Banner END -->
<!-- Content START -->
<section id="about" class=" pt-4 py-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <p>
          Die Reduktion des Energiebedarfs und der CO2-Emissionen von Gebäuden
          und Quartieren steht im derzeitigen Fokus der Forschung. Gleichzeitig
          stellt dieses Ziel nur eine der möglichen positiven Umweltwirkungen
          dar, die mittels digitaler Anwendungen ermöglicht werden. Auch in
          Projekten der Forschungsintiative Energiewendebauen kommen eine
          Vielzahl digitaler Anwendungen zum Einsatz oder werden entwickelt, mit
          denen sich positive Umweltwirkungen erzielen lassen. Auch wenn die
          Effekte oftmals schwer auf andere Gebäude/Quartiere zu übertragen
          sind, gibt es doch immer Forschungsprojekte an denen die Potenziale
          bestimmter digitaler Anwendungen gut verdeutlicht werden können. Diese
          sollen im Folgenden kurz vorgestellt werden. Dazu wird die eingesetzte
          digitale Anwendung beschrieben und die gefundenen positiven
          Umweltwirkungen erörtert. Das Ziel dieser Übersicht ist das Aufzeigen
          von derzeitigen Möglichkeiten digitaler Anwendungen, positive
          Umweltwirkungen zu erzielen. Der dadurch geschaffenen Anreiz soll
          Interessierte animieren, sich eingehender mit den Möglichkeiten
          digitaler Anwendungen zu beschäftigen, um so für eigene Vorhaben
          fundierte Entscheidungen treffen zu können.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Content END -->
{% endblock %}
