{% extends 'base.html' %}

{% block title %} Nutzendeneinbindung – good-practice {% endblock %}

{% load static %}

{% block content%}

<!-- general text for "coming soon" -->
{% include 'partials/_coming.html' %}

  <!-- =======================
Page Banner START -->
<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="p-2 text-left rounded-3">
          <h2 class="m-0">Nutzendeneinbindung – good-practice</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Page Banner END -->
<!-- Content START -->
<section id="about" class=" pt-4 py-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <p>
          Was kann eine gelungene Nutzendeneinbindung bewirken? Dieser Frage
          widmet sich die Aufbereitung von ausgewählten Beispielen. Es wird
          näher auf Projekte eingegangen, die die Nutzenden digitaler
          Anwendungen während der Entwicklung und/oder während der Nutzung der
          digitalen Anwendung aktiv eingebunden haben, um so übergeordnete Ziele
          wie die Realisierung von Energieeinsparungen zu erreichen. Neben den
          Methoden, die in den Beispielprojekten für eine Nutzendenintegration
          angewandt wurden, wird die good-practice Darstellung auch auf die
          damit realisierten Effekte fokussiert. Ebenso werden die
          Herausforderungen und Erkenntnisse aus der Nutzendeneinbindung des
          jeweiligen Beispielprojekts aufgezeigt werden.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Content END -->
{% endblock %}
