{% extends 'base.html' %}

{% block title %} Nutzendeneinbindung – Methoden {% endblock %}

{% load static %}

{% block content%}

<!-- general text for "coming soon" -->
{% include 'partials/_coming.html' %}

  <!-- =======================
Page Banner START -->
<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="p-2 text-left rounded-3">
          <h2 class="m-0">Nutzendeneinbindung – Methoden</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Page Banner END -->
<!-- Content START -->
<section id="about" class=" pt-4 py-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <p>
          Wie kann die Nutzendeneinbindung gelingen? Erprobte Methoden aus der
          sozialwissenschaftlichen Forschung können auf diese Frage Antwort
          geben. Auf dieser Seite werden Sie eine Zusammenstellung gängiger
          Methoden zur Nutzendeneinbindung finden. Die hier aufgezeigten
          Methoden werden kurz beschrieben und mögliche Einsatzgebiete bzw.
          Projektkontexte dargelegt werden. Durch die weiterführenden
          Literaturhinweisen sollen Interessierte zur tieferen
          Auseinandersetzung mit den Methoden für eigene Projekte ermutigt
          werden.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Content END -->
{% endblock %}
