{% load static %}
<style>
    .link-navigator__icon {
        width: 8px;
    }
    .link-navigator__negative-ecological {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 13px;
        font-weight: 500;
        color: #8FDE97;
    }
    .link-navigator__negative-operational {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 13px;
        font-weight: 500;
        color: #FFAE9D;
    }

    .link-navigator__negative-legal {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 13px;
        font-weight: 500;
        color: #EADB52;
    }
</style>
<div class="row link-navigator">
    {% if backLinkParam %}
        <a href="{% url backLink backLinkParam %}"
           class="link-navigator__negative-{{ focusBorder }}">
        {% else %}
            <a href="{% url backLink %}"
               class="link-navigator__negative-{{ focusBorder }}">
            {% endif %}
            <img src="{% static imageInBackButton %}"
                 alt="Caret left icon"
                 class="link-navigator__icon" />
            {{ backLinkText }}
        </a>
    </div>
