{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  {% load static %}
  {% load template_tags %}
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #AFC5FF;
      text-align: center;
      padding: 8px;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
  <div class="content container" id="compareResultsContainer">
    <div class="row">
      <div class="explanation">
        <img src="{% static 'img/componentList/caret-left.svg' %}"
             alt="arrow"
             style="width: 11px;
                    height: 11px" />
        <a href="{% url 'components' %}" style="color: #8FDE97; font-size: 15px">{{ backLinkText }}</a>
        <p style="padding-top: 26px; font-size: 22px;">{% translate "Ergebnisse" %}</p>
        <p style="font-size: 22px;">{{ explanationText }}</p>
      </div>
      <div class="comparisonContent">
        <table style="display: block; overflow-x: auto;">
          <!-- Table Header -->

          {% for attribute in attributesToCompare %}
            <tr>
              <th>{{ attribute.displayedStr }}</th>
              {% for modelObject in objectsToCompare %}
                <td>
                  {% if attribute.isManyToManyField %}
                    {% with objectOfAttribute=modelObject|get_attribute:attribute.dbLocator %}
                      {% for manyToManyObj in objectOfAttribute.all %}
                        {{ manyToManyObj|get_attribute:attribute.dbLocator }}
                        {% if not forloop.last %},{% endif %}
                      {% endfor %}
                    {% endwith %}
                  {% else %}
                    {{ modelObject|get_attribute:attribute.dbLocator }}
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>

</div>
{% endblock %}
