{% load static %}
{% load i18n %}
{% load template_tags %}
{% for object in page.object_list %}
    <div class="row border-{{ focusName }}">
        <div class="col-6">
            {% for element in elementsFirstColum %}
                <div>
                    {% if element.description != "" %}{{ descriptionText }}:{% endif %}
                    {{ object|get_attribute:element.objectReference }}
                {% endfor %}
            </div>
            <div class="col-6">
                {% for descriptionText in descriptionSecondColumn %}
                    <div>
                        {% if descriptionText != "" %}{{ descriptionText }}:{% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
