{% load static %}
{% load i18n %}
{% load template_tags %}
{% for object in page.object_list %}
    <div class="row border-{{ focusName }}">
        <div class="col-6">
            {% for element in elementsFirstColumn %}
                <div>
                    {% if element.description != "" %}{{ descriptionText }}:{% endif %}
                    {{ object|get_attribute:element.objectReference }}
                </div>
            {% endfor %}
        </div>
        <div class="col-6">
            {% for element in elementsSecondColumn %}
                <div>
                    {% if element.description != "" %}{{ descriptionText }}:{% endif %}
                    {{ object|get_attribute:element.objectReference }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
