{% extends 'base.html' %}

{% block title %}Über uns{% endblock %}

{% load static %}
{% load i18n %}

{% block content %}

  <!-- =======================
Page Banner START -->
  <section class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="p-2 text-left rounded-3">
            <h2 class="m-0">{% translate "Wissensplattform" %}</h2>
            <h3 class="m-0">
              {% blocktranslate %}Eine Plattform der Begleitforschung Energiewendebauen{% endblocktranslate %}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Banner END -->
  <!-- Content START -->
  <section id="about" class=" pt-4 py-lg-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <p class="lead">
            {% blocktranslate %}Die Wissensplattform wird durch das Modul
          Digitalisierung der wissenschaftlichen Begleitforschung der
          Forschungsinitiative
          <a href="https://www.energiewendebauen.de" target="_blank">Energiewendebauen</a>
          entwickelt und bereitgestellt.{% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}Die wissenschaftliche Begleitforschung wertet Arbeitsprogramme und
          Ergebnisse der Forschungs- und Demonstrationsvorhaben aus die im Rahmen der 
          Forschungsinitiative Energiewendebauen vom Bundesministerium für Wirtschaft und Klimaschutz
          geförderten werden. Ziel ist es diese Ergebnisse zentral aufzubereiten, um die Erkenntnisse 
          in die Planungs- und Entscheidungspraxis nachhaltig einfließen zu lassen.{% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}Die Querauswertung der Forschungsprojekte, die
          Bereitstellung von Fachinformationen, der Transfer von
          Forschungsergebnissen in die Praxis und die breite Kommunikation von
          Lösungsansätzen sind wesentliche Elemente, um die Dekarabonisierung von 
          Gebäuden und Quartieren zu erreichen. Diese Leistungen werden durch 
          die Begleitforschung erbracht.{% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}Insgesamt fünf Module werten die inhaltlichen
          Schwerpunkte der Forschungsinitiative Energiewendebauen aus,
          vernetzen diese und entwickeln sie weiter (Modul 1: Monitoring und
          Dokumentation, Modul 2: Gebäude, Modul 3: Quartiere, Modul 4:
          Digitalisierung, Modul 5: Vernetzung und Kommunikation).{% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}Das Modul 4 (Digitalisierung) wird von der TU Berlin
          mit der
          <a href="https://www.digital-future.berlin/" target="_blank">
            Einstein Center Digital Future Professur
          </a>
          für die digitale Vernetzung von Gebäuden,
          Energieversorgungsanlagen und Nutzenden zusammen mit der
          <a href="https://www.ziw.udk-berlin.de/" target="_blank">
            Universität der Künste Berlin und der Einstein Center Digital
            Future Professur Digitale Selbstbestimmung
          </a>
          und dem
          <a href="https://www.ioew.de/" target="_blank">
            Institut für ökologische Wirtschaftsforschung
          </a>
          bearbeitet.{% endblocktranslate %}
          </p>
        </div>
        <div class="col-lg-3">
          <a href="https://www.energiewendebauen.de" target="_blank">
            <img class="img-side-column"
                 src="{% static '/img/Energiewendebauen.png' %}"
                 id="ewbImage"
                 alt="Image_EWB" />
          </a>
        </div>
      </div>
      <div class="row my-6">
        <div class="col-lg-12 d-lg-flex flex-lg-row justify-content-between about-logos">
          <a href="https://www.digital-future.berlin/"
             target="_blank"
             class="align-self-center"
             style="height: 100%">
            <img src="{% static '/img/ECDF.png' %}"
                 class="my-auto"
                 alt="Image_ECDF"
                 id="ecdfImage" />
          </a>
          <a href="https://www.tu.berlin"
             class="align-self-center"
             target="_blank">
            <img src="{% static '/img/tu-berlin-logo.svg' %}"
                 class="my-auto"
                 alt="Image_TUB" />
          </a>
          <a href="https://www.ziw.udk-berlin.de/"
             target="_blank"
             class="align-self-center"
             style="height: 85%">
            <img src="{% static '/img/bcc_logo_4c.jpg' %}"
                 class="my-auto"
                 alt="Image_UdKB"
                 id="udkImage" />
          </a>
          <a href="https://www.ioew.de/"
             target="_blank"
             class="align-self-center"
             style="height: 100%">
            <img src="{% static '/img/ioew.png' %}"
                 class="my-auto"
                 alt="Image_ioew"
                 id="ioewImage" />
          </a>
        </div>
      </div>
      {% include '../partials/_gefoerdert_bmwk.html' %}
    </div>
  </section>
  <!-- Content END -->
{% endblock %}
