{% extends 'base.html' %}

{% block title %}Geschäftsmodelle – good-practice{% endblock %}

{% load static %}
{% load i18n %}
{% block content %}

  <!-- general text for "coming soon" -->
  {% include 'partials/_coming.html' %}

  <!-- =======================
Page Banner START -->
  <section class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="p-2 text-left rounded-3">
            <h2 class="m-0">{% translate "Geschäftsmodelle – good-practice" %}</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Banner END -->
  <!-- Content START -->
  <section id="about" class=" pt-4 py-lg-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <p>
            {% blocktranslate %}Der Weg zum marktgängigen Produkt oder Service ist oftmals steinig.
          Unzählige Beispiele bezeugen jedoch die erfolgreiche
          Geschäftsmodellentwicklung und -implementierung von digitalen
          Anwendungen. Auch in Projekten der Forschungsinitiative
          Energiewendebauen wurden und werden Geschäftsmodelle erfolgreich
          entwickelt. Hier sollen einige dieser Projekte beispielhaft
          vorgestellt werden. Dabei sollen der Projektkontext, die digitale
          Anwendung, die Geschäftsmodellentwicklung und die sich daraus
          ergebenden Erfahrungen der Projekte beschrieben werden. Die
          good-practice Beispiele sollen zu einer möglichst frühzeitigen
          Auseinandersetzung mit der Geschäftsmodellentwicklung anregen, um so
          eine effiziente Entwicklung digitaler Anwendungen zu unterstützen.{% endblocktranslate %}
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Content END -->
{% endblock %}
