{% extends 'base.html' %}

{% block title %}Copyright{% endblock %}

{% load static %}
{% load i18n %}

{% block content %}

  <!-- =======================
Page Banner START -->
  <section class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-left rounded-3">
            <h1 class="m-0">Copyright</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- =======================
Page Banner END -->

  <section id="about" class=" pt-4 py-lg-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="lead">Text 1</p>
          <br />
          <h4>Python</h4>
          <p class="lead">Python text</p>
          <br />
          <h4>Autodesk</h4>
          <p class="lead">Autodesk text</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
