{% extends 'base.html' %}
{% load i18n %}
{% block title %}
  {% translate "Kriterienkatalog - Übersicht" %}
{% endblock %}

{% load static %}

{% block content %}
  <style>
  .boxDescription  {
    front-size: 16px;
    color: #868181;
  }
  .listElementsCCBox {
    color: #868181;
  }
  </style>
  <!-- =======================
Page Banner START -->
  <section class="py-4">
    <div class="content container">
      {% include "partials/description_criteria_catalog.html" %}
      <p>
        <!--<a href="{% static 'downloads/criteria_catalog.xlsx' %}"-->
        <!--   download-->
        <!--   style="color: black;-->
        <!--          text-decoration: underline;-->
        <!--          font-size: 16px">{% translate "Downloade den gesamten Kriterienkatalog als Exceldatei" %}</a>-->
        <div class="row">
          <h2 class="criteriaCatalogHeading"
              style="font-size: 28px; color: black;">
            {% blocktranslate %}Für welchen Zweck möchtest du Daten verarbeiten?{% endblocktranslate %}
          </h2>
        </div>

        <!-- Block START -->
        <div class="boxes row" id="container-start-focus">
          {% for boxObject in boxes %}
            {% include boxObject.pathToTemplate with boxObject=boxObject.objectToRender %}
          {% endfor %}
        </div>
      {% endblock %}
