{% extends 'base.html' %}

{% load i18n %}
{% block title %} {% translate "Datenschutzübersicht" %} {% endblock %}

{% load static %}

{% block content%}

  <!-- =======================
Page Banner START -->
<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="p-2 text-left rounded-3">
          <h2 class="m-0">{% translate "Datenschutzübersicht" %}</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Page Banner END -->
<!-- Content START -->
<section id="about" class=" pt-4 py-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <p>
          {% blocktranslate %}Beim Einsatz digitaler Anwendungen im Gebäude- und Quartierssektor
          lassen verschiedene Datenquellen zum Raumklima, Energieverbrauch oder
          bloße Gebäudeinformationen häufig Rückschlüsse auf das Verhalten von
          Einzelpersonen oder Personengruppen zu. Beziehen sich diese Daten auf
          eine identifizierte oder identifizierbare Person, findet das nationale
          bzw. europäische Datenschutzrecht Anwendung und mit ihm die gesamte
          Bandbreite rechtlicher Verpflichtungen für den Verantwortlichen der
          Datenverarbeitung. Ziel des Datenschutzrechts ist es dabei, die
          Betroffenen vor Risiken zu schützen, die durch die Datenverarbeitung
          verursacht werden und ihnen damit grundsätzlich die Entscheidung über
          das Maß und den Umgang mit diesen Risiken zu gewähren. Schon die
          Frage, ob eine Datenverarbeitung überhaupt in den Anwendungsbereich
          des Datenschutzrechts fällt, kann aber zur Herausforderung werden. Das
          dafür zentrale europäische Regelwerk - die Datenschutz-Grundverordnung
          (DSGVO) - ist nämlich an den sehr unbestimmten Begriff der
          personenbezogenen Daten geknüpft. Der Anwendungsbereich wurde dabei
          durch den Gesetzgeber bewusst weit gefasst und wird durch die Gerichte
          weit ausgelegt, um einen möglichst umfassenden Schutz der Betroffenen
          vor den Risiken verschiedener Datenverarbeitungen zu gewährleisten.
          Das liegt daran, dass sogar vermeintlich rein technische Daten wie
          Maschinen-Daten, Geo-Daten oder Gebäude-Daten Rückschlüsse über
          Personen zulassen können, wenn sie mit anderen Datensätzen verknüpft
          werden. Zur Erläuterung, wie Datenschutzrisiken bei der Verarbeitung
          von gebäudebezogenen Daten entstehen können und wann dadurch der
          Anwendungsbereich der DSGVO eröffnet wird, ist im Rahmen von Modul 4
          der Wissenschaftlichen Begleitforschung Energiewendebauen eine
          Datenschutzübersicht entstanden. Anhand verschiedener Use-Cases wird
          hier erklärt wann Datenschutzrisiken entstehen und wie diese durch den
          richtigen Einsatz technisch-organisatorischer Schutzmaßnahmen
          kontrolliert werden müssen.{% endblocktranslate %}
        </p>
        <p>
          <a href="https://www.energiewendebauen.de/lw_resource/datapool/systemfiles/agent/ewbpublications/E529BF584385483EE0537E695E86DD55/live/document/Effiziente_Datenminimierung_im_Geb%C3%A4ude-_und_Quartierssektor.pdf">
            {% translate "Effiziente Datenminimierung im Gebäude- und Quartierssektor" %}
          </a>
        </p>
        <p>
          <a href="{% url 'coming' %}">
            {% translate "Sammlung von Leitfäden, Literatur und Gerichtsentscheidungen" %}
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Content END -->
{% endblock %}
