{% extends 'base.html' %}

{% block title %}Datenschutzhinweis{% endblock %}

{% load static %}
{% load i18n %}

{% block content %}

  <!-- =======================
Page Banner START -->
  <section class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-left rounded-3">
            <h1 class="m-0">{% translate "Datenschutzhinweis" %}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- =======================
Page Banner END -->

  <section id="about" class=" pt-4 py-lg-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="lead">
            {% blocktranslate %}Für den Projektträger Jülich, Forschungszentrum Jülich GmbH (PtJ) hat ein verantwortungsbewusster Umgang mit personenbezogenen Daten hohe Priorität.
            Wir möchten, dass Nutzerinnen und Nutzer wissen, wann welche Daten durch den PtJ erhoben und verwendet werden.

            Das PTJ betreibt unter der Domain www.wissen-digital-ewb.de eine Internetseite, auf der es die Öffentlichkeit über seine Tätigkeit informiert und der Öffentlichkeit niedrigschwellig Informationen zur Verfügung stellt.
            Personenbezogene Daten werden nur im notwendigen Umfang verarbeitet. Welche Daten zu welchem Zweck und auf welcher Grundlage benötigt und verarbeitet werden,
            richtet sich maßgeblich nach der Art der Leistung, die von Ihnen in Anspruch genommen wird, beziehungsweise ist abhängig davon, für welchen Zweck diese benötigt werden.
            Wir haben technische und organisatorische Maßnahmen getroffen, die sicherstellen, dass die Vorschriften über den Datenschutz sowohl von uns als auch von unseren externen Dienstleistern beachtet werden.
            Die Verarbeitung personenbezogener Daten bei PtJ erfolgt in Übereinstimmung mit der <a href='https://eur-lex.europa.eu/legal-content/DE/TXT/PDF/?uri=CELEX:32016R0679&qid=1527147390147&from=EN'>Europäischen Datenschutz-Grundverordnung (DSGVO)</a> und dem <a href='ttps://www.gesetze-im-internet.de/bdsg_2018/'>Bundesdatenschutzgesetz (BDSG)</a>.{% endblocktranslate %}
          </p>
          <br />
          <h4>{% translate "Grundlagen" %}</h4>
          <h4>{% translate "Verantwortlicher und Datenschutzbeauftragter" %}</h4>
          <p class="lead">
            {% blocktranslate %}

            Verantwortlicher im Sinne der Datenschutz-Grundverordnung, sonstiger in den Mitgliedstaaten der Europäischen Union geltenden Datenschutzgesetze und anderer Bestimmungen mit datenschutzrechtlichem Charakter ist:
            
            Projektträger Jülich, Forschungszentrum Jülich GmbH (nachfolgend PtJ)<br />
            Wilhelm-Johnen-Strasse, 52428 Jülich, Deutschland<br />
            Tel.: +49-2461-61-0<br />
            E-Mail: <a href="mailto:ptj@ptj.de">ptj@ptj.de</a><br />
            De-Mail: poststelle@ptj.de-mail.de<br />
            Website: www.ptj.de<br />

            Der Datenschutzbeauftragte des für die Verarbeitung Verantwortlichen ist:
            
            Frank Rinkens<br />
            Forschungszentrum Jülich GmbH<br />
            Wilhelm-Johnen-Strasse, 52428 Jülich, Deutschland<br />
            Tel.: +49-2461-61-9005<br />
            E-Mail: <a href="mailto:DSB@fz-juelich.de">DSB@fz-juelich.de</a><br />
            Website: www.fz-juelich.de<br />
            
            Jede betroffene Person kann sich jederzeit bei allen Fragen und Anregungen zum Datenschutz direkt an unseren Datenschutzbeauftragten wenden.
            {% endblocktranslate %}
          </p>

          <h3>{% translate "Personenbezogene Daten" %}</h3>
          <p class="lead">
            {% blocktranslate %}Selbstverständlich beachtet der PtJ die gesetzlichen Bestimmungen zum Datenschutz und
          andere rechtliche Bestimmungen und Vorgaben.{% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}Wir tun alles dafür, dass Sie uns bezüglich Ihrer persönlichen Daten vertrauen können. So erfolgt die Übertragung
          personenbezogener und sensibler Daten verschlüsselt. Zusätzlich sind unsere Webseiten durch technische Maßnahmen gegen 
          Beschädigungen oder unberechtigten Zugriff geschützt.{% endblocktranslate %}
          </p>
          <br />
          <h3>
            {% translate "Datenverabeitung im Zusammenhang mit dem Besuch dieser Website" %}
          </h3>
          <h5>{% translate "Datenferfassung" %}</h5>
          <ol>
            <li>
              <p class="lead">
                {% blocktranslate %}Bei jedem Zugriff eines Nutzers auf unser Internet-Angebot und bei jedem Abruf einer Datei werden Daten über diesen Vorgang vorübergehend in einer Protokolldatei verarbeitet.
                Im Einzelnen werden über jeden Zugriff/Abruf folgende Daten gespeichert::{% endblocktranslate %}
              </p>
              <ul>
                <li>
                  <p class="lead">{% translate "die IP-Adresse Ihres Gerätes," %}</p>
                </li>
                <li>
                  <p class="lead">
                    {% translate "das Datum und die Uhrzeit des Seitenaufrufs," %}
                  </p>
                </li>
                <li>
                  <p class="lead">
                    {% translate "die aufgerufene Seite bzw. der Name der abgerufenen Datei," %}
                  </p>
                </li>
                <li>
                  <p class="lead">{% translate "die übertragene Datenmenge," %}</p>
                </li>
                <li>
                  <p class="lead">
                    {% translate "der \"User Agent-String\" Ihres Webbrowsers," %}
                  </p>
                </li>
                <li>
                  <p class="lead">
                    {% blocktranslate %}die Webseite, von der aus Sie die aktuelle Seite oder Datei aufgerufen haben{% endblocktranslate %}
                  </p>
                </li>
                <li>
                  <p class="lead">
                    {% blocktranslate %}und die Statusmeldung, ob der Zugriff bzw. Abruf erfolgreich war.{% endblocktranslate %}
                  </p>
                </li>
              </ul>
              <p class="lead">
                {% blocktranslate %}Diese nicht anonymisierten Logdaten werden nach zwei Wochen automatisch gelöscht, nicht archiviert und ausschließlich zu nicht
              kommerziellen Zwecken genutzt. Sie werden nur im Bedarfsfall manuell eingesehen und zur Fehleranalyse, Optimierung oder 
              Untersuchung von Missbrauchsfällen oder Performance-Engpässen benötigt. Dies stellt ein berechtigtes Interesse im Sinne von Art. 
              6 Abs. 1 lit. f EU-DSGVO dar. Ein Widerspruchsrecht nach Art. 21 EU-DSGVO ist nicht möglich aufgrund fehlender technischer 
              Realisierbarkeit.{% endblocktranslate %}
              </p>
              <p class="lead">
                {% blocktranslate %}Daten, die beim Zugriff auf das Internetangebot des PtJ protokolliert wurden, werden an Dritte nur übermittelt,
                 soweit wir rechtlich dazu verpflichtet sind oder die Weitergabe im Falle von Angriffen auf die Kommunikationstechnik zur Rechts- oder Strafverfolgung erforderlich ist.
                 Eine Weitergabe in anderen Fällen erfolgt nicht. Das PtJ führt diese Daten nicht mit anderen Datenquellen zusammen.{% endblocktranslate %}
              </p>
            </li>
            <li>
              <p class="lead">
                {% blocktranslate %}Um Ihre übermittelten Daten bestmöglich zu schützen, nutzen wir für jegliche Übertragung von Daten SSL-Verschlüsselung. Sie
              erkennen derart verschlüsselte Verbindungen an dem Präfix “https://“ im Seitenlink in der Adresszeile bzw. durch das 
              grüne/geschlossene Schlosssymbol Ihres Browsers. Unverschlüsselte Seite sind durch “http://“ oder ein offenes bzw. 
              rotes Schlosssymbol gekennzeichnet. Sämtliche Daten, welche Sie an diese Website übermitteln – etwa bei Anfragen oder 
              Logins – können dank SSL-Verschlüsselung nicht von Dritten gelesen werden.{% endblocktranslate %}
              </p>
            </li>
          </ol>
          <h4>{% translate "Session Cookies" %}</h4>
          <h4>{% translate "Cookies" %}</h4>
          <p class="lead">
            {% blocktranslate %}Auf unserer Seite sowie bei der Anzeige von Bannern setzen wir verschiedene Cookies ein, die teils nur während Ihres Besuchs gültig sind und teils darüber hinaus bestehen.
             Dies ist aus technischen Gründen für die Bereitstellung der Funktionen und zur Gewährleistung einer korrenten Darstellung der Inhalte notwendig.
            {% endblocktranslate %}
          </p>

          <p class="lead">
            {% blocktranslate %}Wir setzen unter anderem folgende Cookies auf unserer Domain wissen-digital-ewb.de ein:{% endblocktranslate %}
          </p>

          <p class="lead">
            <strong>igonesSplashWindow</strong>
            <br />
            {% blocktranslate %}HTTPOnly: False, Secure: False, SameSite: None, Gültigkeitsdauer: 1 Tag (bis Sitzungsende bzw. max. 1 Tag). Dieses Cookie dient dazu, bestimmte Anzeigeelemente (wie ein Splash-Fenster) während Ihres Besuchs zu steuern und ist somit nur kurzzeitig gültig.{% endblocktranslate %}
          </p>

          <p class="lead">
            <strong>csrftoken</strong>
            <br />
            {% blocktranslate %}HTTPOnly: False, Secure: False, SameSite: Lax, Gültigkeitsdauer: 10 Monate. Dieses länger gültige Cookie setzt einen CSRF-Schutz-Token, um die Sicherheit Ihrer Sitzungen zu erhöhen und missbräuchliche Aktionen zu verhindern.{% endblocktranslate %}
          </p>

          <p class="lead">
            <strong>sessionid</strong>
            <br />
            {% blocktranslate %}HTTPOnly: True, Secure: True, SameSite: Strict, Gültigkeitsdauer: 1 Tag. Dieses Cookie enthält eine zufällig erzeugte Session-ID zur eindeutigen Zuordnung Ihres Warenkorbs und Ihrer Bestellungen. Wird die Sitzung beendet oder das Cookie ist abgelaufen, wird der Warenkorb zurückgesetzt, sofern Sie den Bestellvorgang nicht abgeschlossen haben.{% endblocktranslate %}
          </p>

          <p class="lead">
            {% blocktranslate %}Diese Cookies können keine anderen Daten speichern als die für den Betrieb erforderlichen Informationen (z. B. Session-ID, CSRF-Token, Anzeigeeinstellungen). Durch die Session-ID kann Ihr Warenkorb während Ihres Besuchs eindeutig Ihrem Endgerät zugeordnet werden. Schließen Sie das Browserfenster oder rufen Sie eine andere Seite auf, bevor Sie den Bestellvorgang abschließen, wird Ihr Warenkorb zurückgesetzt und die bis dahin gesammelten Inhalte müssen bei erneuter Sitzung neu zusammengestellt werden.{% endblocktranslate %}
          </p>

          <p class="lead">
            {% blocktranslate %}Sie können mit jedem Internetbrowser einsehen, wenn Cookies gesetzt werden, und welche Informationen diese enthalten. Ausführliche Informationen hierzu finden Sie auf den Internetauftritten der Bundesbeauftragten für den Datenschutz und die Informationsfreiheit sowie des Bundesamts für Sicherheit in der Informationstechnik. Bitte beachten Sie, dass die meisten Browser standardmäßig Cookies akzeptieren. Das Speichern von Cookies kann von Ihnen jedoch jederzeit deaktiviert oder so eingestellt werden, dass Cookies nur für die Dauer der jeweiligen Verbindung zum Internet gespeichert bleiben.{% endblocktranslate %}
          </p>
          <br />
          <h4>{% translate "Social-Media-Drittanbieter" %}</h4>
          <h6>{% translate "Social-Media-Links" %}</h6>
          <p class="lead">
            {% blocktranslate %}Wir verweisen in unseren Webseiten auf PtJ-spezifische Präsenzen bzw. Profile von sozialen Netzwerken der nachstehend
          aufgeführten Drittanbieter bzw. bieten die Möglichkeit zum Teilen unseres Webangebotes in den sozialen Netzwerken der nachstehend 
          aufgeführten Drittanbieter. Die Einbindung erfolgt dabei über eine verlinkte Grafik des jeweiligen Netzwerks, wodurch verhindert 
          wird, dass es beim Aufruf unserer Webseiten mit einem solchen Social-Media-Inhalt automatisch zu einem Verbindungsaufbau zum 
          jeweiligen Server des sozialen Netzwerks kommt, um z.B. einen Beitrag des jeweiligen Netzwerkes selbst darzustellen. Erst durch 
          Ihren aktiven Klick auf die entsprechende Grafik werden Sie zu dem Dienst des jeweiligen sozialen Netzwerks geleitet. Die 
          Rechtsgrundlage bildet Art. 6 Abs. 1 lit. a EU-DSGVO.{% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}Hierbei werden dann durch das jeweilige Netzwerk Informationen über die Sie erfasst. Dies sind zunächst Daten wie IP-Adresse Ihres
          Endgeräts, Datum, Uhrzeit und besuchte Seite. Es kann nicht ausgeschlossen werden, dass eine Verarbeitung der so erhobenen Daten in 
          den USA stattfindet. Sind Sie währenddessen mit Ihrem Benutzerkonto des jeweiligen Netzwerks eingeloggt, kann der Netzwerk-Betreiber 
          ggf. die gesammelten Informationen Ihres konkreten Besuchs Ihrem persönlichen Account zuordnen. Interagierten Sie über einen 
          „Teilen“-Button des jeweiligen Netzwerks, können diese Informationen in Ihrem Benutzerkonto gespeichert und ggf. veröffentlicht 
          werden. Wollen Sie verhindern, dass die gesammelten Informationen unmittelbar Ihrem Benutzerkonto zugeordnet werden, müssen Sie 
          sich vor dem Anklicken der Grafik ausloggen. Zudem besteht die Möglichkeit, Ihre Benutzerkonten entsprechend zu konfigurieren.{% endblocktranslate %}
          </p>
          <h6>YouTube</h6>
          <p class="lead">
            {% blocktranslate %}Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland, ein Tochterunternehmen der Google LLC, 1600 Amphitheatre
          Parkway, Mountain View, CA 94043 USA{% endblocktranslate %}
            {% translate "Datenschutzerklärung:" %} <a href="https://policies.google.com/privacy?hl=de">https://policies.google.com/privacy?hl=de</a>
          </p>
          <br />
          <h4>YouTube</h4>
          <p class="lead">
            {% blocktranslate %}Für die Darstellung von Videoinhalten nutzt unsere Website unter anderem ein Plugin zur Einbindung von YouTube-Videos.
          Anbieter des Videoportals ist die YouTube, LLC, 901 Cherry Ave., San Bruno, CA 94066, USA.
          Beim Aufruf einer Seite mit integriertem YouTube-Plugin wird nicht sofort eine Verbindung zu den Servern von YouTube hergestellt. 
          Statt dessen wird ein lokales Bild ("Thumbnail") zur Ankündigung des Videos geladen und auf YouTube als Drittanbieter hingewiesen. 
          Nutzer*innen müssen aktiv das YouTube-Video starten. Erst dann erfährt hierbei YouTube die IP-Adresse Ihres Endgerätes und die Seite mit 
          YouTube-Video, die Sie gerade aufgerufen haben, selbst wenn Sie nicht beim Videoportal eingeloggt sind oder dort kein Konto besitzen.{% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}YouTube kann Ihr Surfverhalten direkt Ihrem persönlichen Profil zuzuordnen, sollten Sie in Ihrem YouTube Konto eingeloggt sein. Durch vorheriges Ausloggen haben Sie die Möglichkeit, dies zu unterbinden.{% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}Die Nutzung von YouTube erfolgt erst mit Ihrer Zustimmung durch Ihren aktiven Start des Videos im Sinne von Art. 6 Abs. 1 lit. a EU-DSGVO.{% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}Einzelheiten zum Umgang mit Nutzerdaten finden Sie in der Datenschutzerklärung von YouTube unter:{% endblocktranslate %}
            <a href="https://www.google.de/intl/de/policies/privacy">https://www.google.de/intl/de/policies/privacy</a>
          </p>
          <br />
          <h4>
            {% blocktranslate %}Ort der Speicherung und zweckgebundene Datenverwendung{% endblocktranslate %}
          </h4>
          <p class="lead">
            {% blocktranslate %}Wir erheben, verarbeiten und speichern Ihre personenbezogenen Daten ausschließlich intern (i.d.R. auf eigenen Servern) nur für den
          Zweck, für den Sie sie uns mitgeteilt haben und beachten damit den Grundsatz der zweckgebundenen Datenverwendung. Es erfolgt ohne 
          Ihre ausdrückliche Einwilligung keine Weitergabe Ihrer persönlichen Daten an Dritte, sofern dies nicht zur Erbringung der 
          Dienstleistung oder zur Vertragsdurchführung notwendig ist. Auch die Übermittlung an auskunftsverlangende staatliche Institutionen 
          und Behörden erfolgt nur im Rahmen der gesetzlichen Auskunftspflichten bzw. wenn wir durch eine gerichtliche Entscheidung zur 
          Auskunft verpflichtet werden.{% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}Wir nehmen auch den Universitäts-internen Datenschutz sehr ernst. Unsere Mitarbeiter und Mitarbeiterinnen sowie die von uns
          beauftragten Dienstleistungsunternehmen sind von uns zur Verschwiegenheit und zur Einhaltung der datenschutzrechtlichen Bestimmungen 
          verpflichtet.{% endblocktranslate %}
          </p>
          <br />
          <h4>{% translate "Ihre Rechte" %}</h4>
          <p class="lead">
            {% blocktranslate %}Sie haben gegenüber dem PtJ folgende Rechte hinsichtlich der Sie betreffenden personenbezogenen Daten:{% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}Recht auf Auskunft, Art. 15 DSGVO Mit dem Recht auf Auskunft erhält der Betroffene eine umfassende Einsicht in die ihn angehenden Daten und einige andere wichtige Kriterien wie beispielsweise die Verarbeitungszwecke oder die Dauer der Speicherung. Es gelten die in § 34 BDSG geregelten Ausnahmen von diesem Recht.{% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}Recht auf Berichtigung, Art. 16 DSGVO Das Recht auf Berichtigung beinhaltet die Möglichkeit für den Betroffenen, unrichtige ihn angehende personenbezogene Daten korrigieren zu lassen.{% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}Recht auf Löschung, Art. 17 DSGVO Das Recht auf Löschung beinhaltet die Möglichkeit für den Betroffenen, Daten beim Verantwortlichen löschen zu lassen. Dies ist allerdings nur dann möglich, wenn die ihn angehenden personenbezogenen Daten nicht mehr notwendig sind, rechtswidrig verarbeitet werden oder eine diesbezügliche Einwilligung widerrufen wurde. Es gelten die in § 35 BDSG geregelten Ausnahmen von diesem Recht. {% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}Recht auf Einschränkung der Verarbeitung, Art. 18 DSGVO Das Recht auf Einschränkung der Verarbeitung beinhaltet die Möglichkeit für den Betroffenen, eine weitere Verarbeitung der ihn angehenden personenbezogenen Daten vorerst zu verhindern. Eine Einschränkung tritt vor allem in der Prüfungsphase anderer Rechtewahrnehmungen durch den Betroffenen ein.{% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}Recht auf Widerspruch gegen die Erhebung, Verarbeitung und beziehungsweise oder Nutzung, Art. 21 DSGVO Das Recht auf Widerspruch beinhaltet die Möglichkeit, für Betroffene, in einer besonderen Situation der weiteren Verarbeitung ihrer personenbezogenen Daten zu widersprechen, soweit diese durch die Wahrnehmung öffentlicher Aufgaben oder öffentlicher sowie privater Interessen gerechtfertigt ist. Es gelten die in § 36 BDSG geregelten Ausnahmen von diesem Recht.{% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}Recht auf Datenübertragbarkeit, Art. 20 DSGVO Das Recht auf Datenübertragbarkeit beinhaltet die Möglichkeit für den Betroffenen, die ihn angehenden personenbezogenen Daten in einem gängigen, maschinenlesbaren Format vom Verantwortlichen zu erhalten, um sie ggf. an einen anderen Verantwortlichen weiterleiten zu lassen. Gemäß Art. 20 Abs. 3 Satz 2 DSGVO steht dieses Recht aber dann nicht zur Verfügung, wenn die Datenverarbeitung der Wahrnehmung öffentlicher Aufgaben dient.{% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %} Recht auf Widerruf der Einwilligung, Art. 13 und 14 DSGVO Soweit die Verarbeitung der personenbezogenen Daten auf Grundlage einer Einwilligung erfolgt, kann der Betroffene diese jederzeit für den entsprechenden Zweck mit Wirkung für die Zukunft widerrufen. Die Rechtmäßigkeit der Verarbeitung aufgrund der getätigten Einwilligung bleibt bis zum Eingang des Widerrufs unberührt.{% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %} Die vorgenannten Rechte können Sie unter den in Ziffer 1 genannten Erreichbarkeiten schriftlich geltend machen.

            Ihnen steht zudem gemäß Art. 77 DSGVO ein Beschwerderecht bei der datenschutzrechtlichen Aufsichtsbehörde, der Bundesbeauftragten für den Datenschutz und die Informationsfreiheit, zu..{% endblocktranslate %}
          </p>
          <br />
          <h4>{% translate "Beschwerderecht" %}</h4>
          <p class="lead">
            {% blocktranslate %}Sollten Sie Anhaltspunkte dafür erkennen, dass wir mit Ihren Daten nicht datenschutzgerecht umgehen, können Sie sich jederzeit an das
          Team Datenschutz der Technischen Universität Berlin oder an die Aufsichtsbehörde wenden.{% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}Natürlich steht Ihnen auch das Recht zu, sich an die Aufsichtsbehörde zu wenden:{% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}Berliner Beauftragte für Datenschutz und Informationsfreiheit{% endblocktranslate %}
            <br />
            Alt–Moabit 59–61
            <br />
            10555 Berlin
            <br />
            {% translate "Tel." %}: +49 30 13889-0
            <br />
            {% translate "Fax" %}: +49 30 2155050
            <br />
            E-Mail: <a href="mailto:mailbox@datenschutz-berlin.de">mailbox@datenschutz-berlin.de</a>
          </p>
          <br />
          <h4>{% translate "Abschließende Hinweise" %}</h4>
          <p class="lead">
            {% blocktranslate %}Beachten Sie, dass sich Datenschutzbestimmungen und Handhabungen zum Datenschutz laufend ändern können, so dass es erforderlich ist,
          sich über Veränderungen der gesetzlichen Bestimmungen und der Praxis von Unternehmen fortlaufend zu informieren.{% endblocktranslate %}
          </p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
