{% extends "base.html" %}
{% load i18n %}
{% block title %}
  {% if boxObject.name %}
    {{ boxObject.name }}
  {% else %}

    {{ pageTitle }}
  {% endif %}

{% endblock title %}
{% load static %}
{% block content %}
  <section class="pt-0">
    <!-- ======================= Content START ======================= -->
    <div class="container {{ focusBorder }}-cards p-4 my-4 z-index-9 position-relative collapseListingRow content">
      {% if backLink %}
        {% include "partials/back_link_focus_color.html" %}
      {% endif %}
      {% if imageQuickLinks == True %}
        {% include "partials/images_navbar.html" %}
      {% endif %}
      <div class="row columns p-4 my-4 z-index-9 border-{{ focusBorder }} mx-auto">
        <div class="column__left">{% include leftColumn %}</div>
        <div class="column__right prevent_overflow">{% include rightColumn %}</div>
      </div>
    </div>
  </section>
  <!-- Content END -->
  <script src="{% static 'js/detailsPage.js' %}" nonce="{{request.csp_nonce}}"></script>
{% endblock content %}
