{% extends "base.html" %}
{% load i18n %}
{% block title %}
  {{ pageTitle }}
{% endblock title %}
{% load static %}
{% block content %}
  <style>
    .link-navigator__negative {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 13px;
        font-weight: 500;
        color: #8FDE97;
    }

    .link-navigator__icon {
        width: 8px;
    }

    .columns {
        display: flex;
        flex-wrap: nowrap;
        row-gap: 16px;
        padding-inline: 28px;
        padding-block: 36px;
    }

    .column__right {
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex-shrink: 1;
    }

    .column__right-image-background {
        width: 100%;
        /*padding: 10px;*/
        background-color: #EDEDED;
    }

    .column__right-image {
        height: 100% !important;
        object-fit: contain;
    }
    
    .column__left {
        flex-basis: 25%;
    }

    .column__right {
      flex-basis: 75%;
    }

    @media only screen and (min-width: 1070px) {
      .column__right-image-background {
        /*padding-block: 30px;
        padding-inline: 60px;*/
      }
    } 
  </style>
  <section class="pt-0">
    <!-- ======================= Content START ======================= -->
    <div class="container {{ focusBorder }}-cards p-4 my-4 z-index-9 position-relative collapseListingRow content">
      {% if backLink %}
        {% include "partials/backLinkInFocusColor.html" %}
      {% endif %}
      {% if imageQuickLinks == True %}
        {% include "partials/_imagesNavBar.html" %}
      {% endif %}
      <div class="row columns p-4 my-4 z-index-9 border-{{ focusBorder }} mx-auto">
        <div class="column__left">{% include leftColumn %}</div>
        <div class="column__right prevent_overflow">{% include rightColumn %}</div>
      </div>
    </div>
  </section>
  <!-- Content END -->
  <script src="{% static 'js/detailsPage.js' %}" nonce="{{request.csp_nonce}}"></script>
{% endblock content %}
