{% extends 'base.html' %}

{% block title %}Impressum{% endblock %}

{% load static %}
{% load i18n %}
{% block content %}
  <!-- =======================
Page Banner START -->
  <section class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-left rounded-3">
            <h1 class="m-0">{% translate "Impressum" %}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Banner END -->
  <section id="about" class="pt-4 py-lg-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <p class="lead">
            {% blocktranslate %}Projektträger Jülich | Forschungszentrum Jülich GmbH<br />
            Wilhelm-Johnen-Straße, 52428 Jülich{% endblocktranslate %}
          </p>

          <h4>{% blocktranslate %}1 Kontakt{% endblocktranslate %}</h4>
          <p class="lead">
            {% blocktranslate %}Tel.: 02461 61-2626<br />
            Fax: 02461 61-5837<br />
            E-Mail: <a href="mailto:ptj@ptj.de">ptj@ptj.de</a><br />
            De-Mail: <a href="mailto:poststelle@ptj.de-mail.de">poststelle@ptj.de-mail.de</a><br />
            <a href="https://www.ptj.de" target="_blank">www.ptj.de</a>{% endblocktranslate %}
          </p>

          <h4>{% blocktranslate %}2 Postanschrift{% endblocktranslate %}</h4>
          <p class="lead">
            {% blocktranslate %}52425 Jülich<br />
            Die Forschungszentrum Jülich GmbH als Trägerorganisation des Projektträgers Jülich ist eingetragen im Handelsregister des Amtsgerichts Düren Nr. HR B 3498<br />
            Umsatzsteuer-Id-Nr. gem. § 27 a Umsatzsteuergesetz: DE 122624631<br />
            Steuer-Nr.: 213/5700/0033{% endblocktranslate %}
          </p>

          <h4>
            {% blocktranslate %}3 Geschäftsführung der Forschungszentrum Jülich GmbH{% endblocktranslate %}
          </h4>
          <p class="lead">
            {% blocktranslate %}Prof. Dr. Astrid Lambrecht (Vorsitzende)<br />
            Karsten Beneke (Stellv. Vorsitzender)<br />
            Prof. Dr. Ir. Pieter Jansens{% endblocktranslate %}
          </p>

          <h4>
            {% blocktranslate %}4 Vorsitzender des Aufsichtsrats{% endblocktranslate %}
          </h4>
          <p class="lead">
            {% blocktranslate %}Ministerialdirektor Stefan Müller{% endblocktranslate %}
          </p>

          <h4>
            {% blocktranslate %}5 Leiterin des Projektträgers Jülich{% endblocktranslate %}
          </h4>
          <p class="lead">
            {% blocktranslate %}Dr. Stephanie Bauer{% endblocktranslate %}
          </p>

          <h4>
            {% blocktranslate %}6 Verantwortlicher nach § 18 Abs. 2 Medienstaatsvertrag (MStV){% endblocktranslate %}
          </h4>
          <p class="lead">
            {% blocktranslate %}Alexander Simon<br />
            Projektträger Jülich<br />
            Leiter Kommunikationsmanagement (SPF 1)<br />
            Wilhelm-Johnen-Straße, 52428 Jülich{% endblocktranslate %}
          </p>

          <h4>{% blocktranslate %}7 Copyright{% endblocktranslate %}</h4>
          <p class="lead">
            {% blocktranslate %}
              Für die Internet-Seiten des Projektträgers Jülich in der Forschungszentrum Jülich GmbH liegen Copyright 
              und alle weiteren Rechte beim Projektträger Jülich in der Forschungszentrum Jülich GmbH. Die Weiterverbreitung, 
              auch in Auszügen, für pädagogische, wissenschaftliche oder private Zwecke ist unter Angabe der Quelle gestattet 
              (sofern nichts anderes an der entsprechenden Stelle ausdrücklich angegeben). Eine Verwendung im gewerblichen 
              Bereich ist ohne ausdrückliche Zustimmung des Forschungszentrums Jülich nicht gestattet. Bilder mit einem anderen 
              Quellennachweis als Forschungszentrum Jülich/Projektträger Jülich sind für eine Nutzung durch Dritte nicht freigegeben.
            {% endblocktranslate %}
          </p>

          <h4>{% blocktranslate %}8 Haftungsausschluss{% endblocktranslate %}</h4>

          <h4>{% blocktranslate %}9 Inhalt der eigenen Seiten{% endblocktranslate %}</h4>
          <p class="lead">
            {% blocktranslate %}
              Wir haben die Internet-Seiten des Projektträgers Jülich in der Forschungszentrum Jülich GmbH sorgfältig 
              zusammengestellt. Allerdings übernehmen wir keine Gewähr oder Haftung für die fortwährende Aktualität, 
              Vollständigkeit und Richtigkeit der angebotenen Informationen.
            {% endblocktranslate %}
          </p>

          <h4>
            {% blocktranslate %}10 Links auf externe Web-Seiten{% endblocktranslate %}
          </h4>
          <p class="lead">
            {% blocktranslate %}
              Die Internet-Seiten des Projektträgers Jülich in der Forschungszentrum Jülich GmbH enthalten Links auf die 
              Web-Seiten Dritter. Diese Links auf die Web-Seiten Dritter stellen keine Zustimmung zu deren Inhalt dar. Für 
              die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.
              Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Wir übernehmen keine Gewähr für die 
              fortwährende Aktualität, Richtigkeit und Vollständigkeit der verlinkten Inhalte, da diese Inhalte außerhalb 
              unseres Verantwortungsbereichs liegen und wir auf die zukünftige Gestaltung keinen Einfluss haben.
            {% endblocktranslate %}
            <br />
            <br />
            {% blocktranslate %}
              Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
            {% endblocktranslate %}
          </p>

        </div>
      </div>
    </div>
  </section>

{% endblock %}
