{% extends 'base.html' %}

{% block title %}Impressum{% endblock %}

{% load static %}
{% load i18n %}
{% block content %}
  <!-- =======================
Page Banner START -->
  <section class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-left rounded-3">
            <h1 class="m-0">{% translate "Impressum" %}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Banner END -->
  <!-- Content START -->
  <section id="about" class=" pt-4 py-lg-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>{% translate "Kontakt" %}</h4>
          <p class="lead">
            E-Mail: <a href="mailto:ptj-ewb@ptj.de ">ptj-ewb@ptj.de </a>
          </p>
          <br />
          <h4>{% translate "Postanschrift" %}</h4>
          <p class="lead">
            {% translate "Sekretariat" %} HL 45
            <br />
            {% translate "z.Hd. Fachgebiet: Digitale Vernetzung von Gebäuden, Energieversorgungsanlagen und Nutzenden" %}
            <br />
            Marchstr. 4
            <br />
            10587 Berlin
          </p>
          <br />
          <h4>{% translate "Haftungsausschluss" %}</h4>
          <h6>{% translate "Inhalt der eigenen Seiten" %}</h6>
          <p class="lead">
            {% blocktranslate %}Wir haben die Web-Seiten der Wissensplattform (wissen-digital-ewb.de) sorgfältig zusammengestellt. Allerdings übernehmen wir keine Gewähr oder Haftung für die fortwährende Aktualität, Vollständigkeit und Richtigkeit der angebotenen Informationen.{% endblocktranslate %}
          </p>
          <h6>{% translate "Links auf externe Web-Seiten" %}</h6>
          <p class="lead">
            {% blocktranslate %}Die Web-Seiten der Wissensplattform enthalten Links auf die Web-Seiten Dritter. Diese Links auf die Web-Seiten Dritter stellen keine Zustimmung zu deren Inhalt dar. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.
                    Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Wir übernehmen keine Gewähr für die fortwährende Aktualität, Richtigkeit und Vollständigkeit der verlinkten Inhalte, da diese Inhalte außerhalb unseres Verantwortungsbereichs liegen und wir auf die zukünftige Gestaltung keinen Einfluss haben.{% endblocktranslate %}
            {% blocktranslate %}Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.{% endblocktranslate %}
          </p>
          <br />
          <h4>Copyright</h4>
          <p class="lead">
            {% blocktranslate %}
              Der Herausgeber ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Bilder, Grafiken, Ton- und Videodokumente sowie Texte zu beachten, von ihm selbst erstellte Bilder, Grafiken, Ton- und Videodokumente sowie Texte zu nutzen oder auf lizenzfreie Grafiken, Ton- und Videodokumente sowie Texte zurückzugreifen.
            {% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}
              Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind!
            {% endblocktranslate %}
          </p>
          <p class="lead">
            {% blocktranslate %}
              Das Copyright für veröffentlichte, vom Herausgeber selbst erstellte Inhalte und Objekte bleibt allein beim Herausgeber der Seiten. Eine Vervielfältigung, Verarbeitung, Einspeicherung oder Verwendung solcher Grafiken, Ton- und Videodokumente sowie Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Autors nicht gestattet. Unberührt davon bleibt das Kopieren und Herunterladen für den privaten, wissenschaftlichen und nicht kommerziellen Gebrauch. Wir erlauben ausdrücklich und begrüßen das Zitieren unserer Dokumente und Webseiten sowie das Setzen von Links auf unsere Website.
            {% endblocktranslate %}
          </p>
          <br />
        </div>
      </div>
    </div>
  </section>
  <!-- Content END -->

{% endblock %}
