# Created by https://www.toptal.com/developers/gitignore/api/django
# Edit at https://www.toptal.com/developers/gitignore?templates=django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
venv
/static
*csv#
/01_application/webcentral_app/static
02_work_doc/01_daten/01_prePro/enargus_csv_20220216.csv
02_work_doc/01_daten/01_prePro/modulzuordnung_csv_20220216.csv
