# Created by https://www.toptal.com/developers/gitignore/api/django
# Edit at https://www.toptal.com/developers/gitignore?templates=django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
venv
/static
*csv#
01_application/webcentral_app/webcentral_app/settings.py
/01_application/webcentral_app/static
02_work_doc/01_daten/01_prePro/enargus_csv_20220216.csv
02_work_doc/01_daten/01_prePro/modulzuordnung_csv_20220216.csv
#01_application/webcentral_app/project_listing/migrations
#/01_application/webcentral_app/settings.py
#/01_application/webcentral_app/tools_over/migrations
#/01_application/webcentral_app/weatherdata_over/migrations
/01_application/webcentral_app/tools_over/Media
/01_application/webcentral_app/weatherdata_over/Media
/01_application/webcentral_app/media
#/01_application/webcentral_app/schlagwoerter/migrations
# database dumps (for import into docker container)
postgres/*.sql
# backupfile from drawio
*.bkp
# temporary from drawio
*.dtmp
# exclude the .env file from git, since it holds secrets
.env
