{% load i18n %}
<p>
{% blocktranslate %}Unter dem Grundsatz „Datensuffizienz“ verstehen wir, dass Daten nur in dem notwendigen Maße erhoben, übermittelt, verarbeitet und gespeichert werden, wie damit ein Nutzen für einen energieeffizienten und -sparsamen Betrieb verbunden ist. Dieser Begriff ordnet unter sich unter „Software-Suffizienz“ ein als Teil der Digitalen Suffizienz aus Santarius et al. (2023). Gleichzeitig soll bei der Datenerhebung, -übermittlung, -verarbeitung und -speicherung Hardware mit ressourcenschonendem Materialeinsatz und ressourcenschonende Übermittlungswege gewählt werden. Damit sollen die negativen ökologischen Wirkungen, die mit der Implementierung digitaler Anwendungen einhergehen, möglichst reduziert werden, während ein möglichst großer Nutzen erzielt werden soll.{% endblocktranslate %} 
</p>
<p>
{% blocktranslate %}Damit grenzt sich die Datensuffizienz von dem juristischen Begriff der Datenminimierung ab. Dieser ist ein Datenschutz-Grundsatz, der in Art. 5 Abs. 1c der Datenschutz-Grundverordnung (DSGVO) für personenbezogene Daten definiert ist, und darauf abzielt, das Risiko für die Rechte und Freiheiten natürlicher Personen zu reduzieren. Der Begriff Datenminimierung aus der DSGVO ersetzt die Begriffe Datensparsamkeit und -vermeidung, die im Bundesdatenschutzgesetz (§3a BDSG) verwendet wurden.{% endblocktranslate %}
</p>
<p>
{% blocktranslate %}Während die Datenminimierung also Grundrechtsrisiken durch extensive, nicht erforderliche Datenverarbeitung verhindert, zielt die Datensuffizienz darauf ab, die ökologischen Wirkungen durch die Erhebung, Verarbeitung und Speicherung von extensiven, nicht erforderlichen Daten zu minimieren. Um eine Abgrenzung zu dem juristischen Begriff zu verdeutlichen, werden unterschiedliche Begriffe verwendet.{% endblocktranslate %}
</p>
<p>
{% blocktranslate %}Forschungsprojekte sind von Natur aus so konzipiert, dass zunächst Daten generiert werden, von denen im Vorfeld nicht immer absehbar ist, welchen Zweck sie im weiteren Verlauf erfüllen werden und ob den Erwartungen an eine Forschungsarbeit auch entsprochen wird. Diese Maxime wissenschaftlichen Arbeitens soll auch mit diesem Ansatz nicht in Frage gestellt werden, jedoch sollte Datensuffizienz bei der Entwicklung im Hinblick auf die spätere Nutzungsphase mitgedacht werden. Denn werden die in Forschungsprojekten entwickelten digitalen Lösungen auf den Markt gebracht, können bei der Verbreitung datensparsamer Technologien durch die Mengeneffekte ökologische Wirkungen erzielt werden.{% endblocktranslate %}   
</p>
<p>
{% blocktranslate %}Im Folgenden werden Strategien für einen suffizienten Umgang mit vorgestellt und auf die ökologischen Wirkungen beim Umgang mit Daten hingewiesen.{% endblocktranslate %} 
</p>
<p>
{% blocktranslate %}Literatur{% endblocktranslate %} 
<p>
<p>
Santarius, Tilman, Bieser, Jan C.T., Frick, Vivian, Höjer, Mattias, Gossen, Maike, Hilty, Lorenz M., Kern, Eva, Pohl, Johanna, Rohde, Friederike, Lange, Steffen (2023): Digitale Suffizienz: konzeptionelle Überlegungen für IKT auf einem endlichen Planeten. Annals of Telekommunikation. 78, 277–295 (2023). https://doi.org/10.1007/s12243-022-00914-x
</p>
