{% load static %}

{% load i18n %}
        <p>
          {% blocktranslate %} Es handelt sich um deutsche, österreichische, 
          europäische oder internationale Standards und Richtlinien für die Planung, 
          den Bau, und/oder den Betrieb von Lüftungs-, Trinkwasser-, Warmwasser-, 
          Entwässerungs-, Heizungs-, Kühl-, und sonstige Energiesystemen in Gebäuden. 
          Andere technische Standards, wie Schallschutz, Beleuchtung, und Gasinstallation,
          sind ebenfalls enthalten. Für jede Norm wurden die folgenden Aspekte
          erfasst: {% endblocktranslate %}
        </p>
        <ul>
          <li class="lead">
            <b>{% blocktranslate %}Name und vollständiger Titel der Norm{% endblocktranslate %}</b>
          </li>
          <li class="lead">
            <b>{% translate "Kurzbeschreibung" %}</b>&nbsp;&ndash; {% translate "um was handelt es sich?" %}
          </li>
          <li class="lead">
            <b>{% translate "Quelle" %}</b>&nbsp;&ndash; {% translate "woher kann die Norm bezogen werden?" %}
          </li>
          <li class="lead">
            <b>Link</b>&nbsp;&ndash; {% translate "ein Link, über den die Norm abgerufen (ggf. gekauft) werden kann." %}
          </li>
        </ul>
      
