{% load static %}
{% load i18n %}
        
        <p>
          {% blocktranslate %}Wir möchten Sie ermutigen uns auf weitere Datenquellen, digitale Werkzeuge oder
                    auch konkrete Anwendungen von Wetterdaten aufmerksam zu machen, um diese ihren
                    Kollegenschaft aus der Forschung aber auch aus der Praxis zugänglich zu machen.{% endblocktranslate %}
        </p>
        <p>
          {% blocktranslate %}Im Rahmen der ersten Recherche haben wir folgende Aspekte zu den Wetterdaten
                    bzw. deren Anwendungen zusammengetragen:{% endblocktranslate %}
        </p>
        <ul>
          <li class="lead">
            <b>{% translate "Kurzbeschreibung" %}</b>&nbsp;&ndash; {% blocktranslate %}Um was handelt es sich?{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Letztes Update" %}</b>&nbsp;&ndash; {% blocktranslate %}Wann ist das letzte Update erfolgt. Insbesondere bei
                        Anwendungen, welche im Rahmen von Forschungsprojekten entwickelt werden, kann
                        nach Abschluss des Projektes die Weiterentwicklung bzw. die Wartung eingestellt
                        werden. {% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Lizenz" %}</b>&nbsp;&ndash; {% blocktranslate %}Unter welcher Lizenz wurde die Anwendung veröffentlicht und
                        entstehen Kosten durch die Verwendung?{% endblocktranslate %}
          </li>
        </ul>

