[FORMAT]

# Maximum number of characters on a single line.
max-line-length=80

[BASIC]

# Naming style matching correct class names
variable-naming-style=camelCase
function-naming-style=camelCase

[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s).
# Add any additional rules you want to disable below.
disable=

[REPORTS]

# Tells whether to display a full report or only the messages
reports=no
