{% extends 'base.html' %}

{% block title %} {{ tool.name }} {% endblock %}

{% load static %}

{% block content%}

<!-- Page intro START -->
<section class="py-0 py-sm-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Title -->
        <h2>{{tool.name}}</h2>
        <!-- Content -->
        <ul class="list-inline mb-0">
          {% if tool.lastUpdate %}
          <li class="list-inline-item h6 me-3 mb-1 mb-sm-0">
            <i class="{{ lastUpdateClass }} me-2">
            </i>
            {{tool.lastUpdate}}
          </li>
          {% endif %}
          {% if tool.licence %}
          <li class="list-inline-item h6 me-3 mb-1 mb-sm-0">
            <i class="fas fa-bars fa-book-open me-2">
            </i>{{tool.licence}}
          </li>
          {% endif %}
          {% if tool.lifeCyclePhase %}
          <li class="list-inline-item h6 me-3 mb-1 mb-sm-0">
            <i class="fas fa-bars fa-history me-2">
            </i>
            {{tool.lifeCyclePhase}}
          </li>
          {% endif %}
          <li class="list-inline-item h6 me-3 mb-1 mb-sm-0">
            <i class="fas fa-user-alt me-2"></i>{{tool.targetGroup}}
          </li>
          <li class="list-inline-item h6 mb-0">
            <i class="fas fa-bars me-2">
            </i>{{tool.usage}}
          </li>
          <li class="list-inline-item h6 mb-0">
            <i class="fas fa-bars me-2">
            </i>{{tool.provider}}
          </li>
        </ul>
      </div>
    </div>
    <div class="row" style="margin-top: 16px;">
      <a href="javascript:window.history.back();">Zurück </a>
    </div>
  </div>
</section>
<!-- Page intro END -->

<!-- Page content START -->
<section class="pb-0 pt-4 py-lg-5">
  <div class="container operational-cards">
    <div class="row">
      <!-- Main content START -->
      <div class="col-lg-8">
        <div class="card border-operational p-0">
          <div class="tab-content card-body p-4 detail-card-body">
            <!-- tool detail START -->
            <div class="tab-pane container active" id="course-pills-1" >
              {% if tool.name %}
                <h5 class="mb-3">Was ist {{tool.name}}?</h5>
                <p class="mb-0">{{tool.shortDescription}}</p>
              {% endif %}
              {% if tool.applicationArea %}
                <h5 class="mt-4">Anwendungsbereich</h5>
                <p class="mb-0">{{tool.applicationArea}}</p>
              {% endif %}
              {% if tool.furtherInformation %}
                <h5 class="mt-4">Weitere Informationen</h5>
                <p class="mb-0"><a href="{{tool.furtherInformation}}" id="furtherInfoLink" target="_blank">{{tool.furtherInformation}}</a></p>
              {% endif %}
              {% if tool.alternatives %}
              <h5 class="mt-4">Alternativen</h5>
              <p class="mb-0">{{tool.alternatives}}</p>
              {% endif %}
              {% if tool.userInterface %}
                <h5 class="mt-4">Nutzerschnittstelle</h5>
                <p class="mb-0">{{tool.userInterface}}</p>
              {% endif %}
              {% if tool.specificApplication %}
                <h5 class="mt-4">konkrete Anwendung</h5>
                <p class="mb-0">{{tool.specificApplication}}</p>
              {% endif %}
              {% if tool.targetGroup %}
                <h5 class="mt-4">Zielgruppe</h5>
                <p class="mb-0">{{tool.targetGroup}}</p>
              {% endif %}
              {% if tool.provider %}
                <h5 class="mt-4">Anbieter</h5>
                <p class="mb-0">{{tool.provider}}</p>
              {% endif %}
            </div>
            <!-- tool detail END -->
          </div>
        </div>
      </div>
      <!-- Main content END -->
      <!-- Right sidebar START -->
      <div class="col-lg-4">
        <div class="row mb-5 mb-lg-0">
          <div class="col-md-6 col-lg-12">
            <!-- Image Tool START -->
            <div class="card border-operational p-2 mb-4 z-index-9">
              <div class="overflow-hidden text-center">
                {%if tool.image %}
                <img src=" {{ tool.image.url }}"
                  class="" style="max-height: 150px;"
                  alt="tool image">
                {% else %}
                <img src=" {%static 'img/Default.webp' %}"
                  class=""
                  style="max-height: 150px;"
                  alt="tool image (else)">
                {% endif %}
              </div>
            </div>
            <!-- Image Tool END -->
            <!-- "Kurzinformationen" START -->
            <div class="card card-body border-operational p-4 mb-4">
              <!-- Title -->
              <h4 class="mb-3">Kurzinformationen</h4>
              <ul class="list-group border-0">
                {% if tool.lastUpdate %}
                <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                  <span class="h6 fw-light mb-0">
                    <i class="{{ lastUpdateClass }} fa-fw">
                    </i>
                    {{ lastUpdateLabel }}
                  </span>
                  <span>{{ tool.lastUpdate }}
                  </span>
                </li>
                {% endif %}
                <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                  <span class="h6 fw-light mb-0">
                    <i class="fas fa-fw fa-book-open"></i>
                    Lizenz
                  </span>
                  <span>{{ tool.licence }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                  <span class="h6 fw-light mb-0">
                    <i class="fas fa-fw fa-history"></i>
                    Lebenszyklusphase
                  </span>
                  <span>{{ tool.lifeCyclePhase }}</span>
                </li>
              </ul>
            </div>
            <!-- "Kurzinformationen" END -->
            <!-- Tags START -->
            <div class="card card-body border-operational p-4">
              <h4 class="mb-3">Tags</h4>
              <ul class="list-inline mb-0" id="tagsUlElement">
                {% for usage in usages %} 
                <li class="list-inline-item"> 
                  <a class="btn btn-outline-light btn-sm" 
                    href="/tool_list/buisnessApps/?searched=&u={{usage}}&l=&lcp=">
                    {{usage}}
                  </a> 
                </li>
                {% endfor %}
                {% if tool.licence %}
                <li class="list-inline-item"> 
                  <a class="btn btn-outline-light btn-sm" 
                    href="/tool_list/buisnessApps/?searched=&u=&l={{tool.licence}}&lcp=">
                    {{tool.licence}}
                  </a> 
                </li>
                {% endif %}
                {% for lifeCyclePhase in lifeCyclePhases %} 
                <li class="list-inline-item"> 
                  <a class="btn btn-outline-light btn-sm" 
                    href="/tool_list/buisnessApps/?searched=&u=&l=&lcp={{lifeCyclePhase}}">
                    {{lifeCyclePhase}}
                  </a> 
                </li>
                {% endfor %}
              </ul>
            </div>  
            <!-- Tags END -->
          </div>
        </div>
      </div>  
      <!-- Right sidebar END -->
    </div>
    <!-- Row End -->
  </div>
</section>
<!-- =======================
Page content END -->

{% endblock %}
