{% load static %}

<section class="py-4">
	<div class="container">
    <div class="row collapseInfoContainer"
         id="collapseInfoContainerTools">
      <div class="col-lg-12 collapse lead collapseInfo"
           id="collapseInfoTools">
        <p>
          Neben der wissenschaftlichen Entwicklung digitaler Anwendungen, müssen erprobte Technologien auch ökonomisch umgesetzt werden. Hierzu sind Geschäftsmodelle notwendig, sodass das Potenzial der digitalen Anwendung als Produkt oder Service einer möglichst breiten Anwenderschaft zur Verfügung gestellt werden kann. Eine Reihe von Tools kann die Geschäftsmodellentwicklungunterstützen. Einige von diesen werden hier vorgestellt.
        </p>
      </div>
      <div class="col-lg-12 lead mt-3">
        <a role="button" class="collapsed text-truncation-btn"
           data-toggle="collapse" href="#collapseInfoTools"
           aria-expanded="false" aria-controls="collapseInfoTools">
        </a>
      </div>
    </div>
  </div>
</section>
