{% load static %}

<section class="py-4">
	<div class="container">
    <div class="row collapseInfoContainer"
         id="collapseInfoContainerTools">
      <div class="col-lg-12 collapse lead collapseInfo"
           id="collapseInfoTools">
        <p>
          Die hier dargestellten digitalen Werkzeuge entsprechen den Werkzeugen,
          welche im Rahmen der Analyse des Fragebogens der wissenschaftlichen
          Begleitforschung der Forschungsinitiative Energiewendebauen im Herbst
          2021 erfasst worden sind. Sämtliche digitalen Werkzeuge werden also
          verwendet, entwickelt oder weiterentwickelt im Rahmen von Projekten,
          welche in der Forschungsinitiative Energiewendebauen gefördert sind.
          Zudem sind nur solche digitalen Werkzeuge enthalten, zu denen auch
          öffentlich zugängliche Informationen vorhanden sind. In einem ersten
          Schritt gilt es diese digitalen Werkzeuge zu sammeln und Ihnen als
          Übersicht und Inspiration zur Verfügung zu stellen. Eine detaillierte
          Bewertung kann nur im Zusammenhang mit den Anwendenden erfolgen, also
          kontaktieren Sie uns gerne. Wir freuen uns Ihre Erfahrungen und
          Anwendungsbeispiele aus Ihren Projekten aufzunehmen. Eine Einordnung
          unsererseits erfolgt also zunächst über öffentlich zugängliche
          Informationen. Dabei berücksichtigen wir die folgenden Aspekte:
        </p>
        <ul>
          <li class="lead"><b>Kurzbeschreibung</b>&nbsp;&ndash;
            Um was handelt es sich?
          </li>
          <li class="lead"><b>Anwendungsbereich</b>&nbsp;&ndash; Was beschreiben
            die Entwickler als Anwendungsbereich ihres digitalen Werkzeugs.
          </li>
          <li class="lead"><b>Nutzerschnittstelle</b>&nbsp;&ndash;
            Wie können Nutzende das digitale Werkzeug bedienen?
            Benötigt es eine eigenständige Installation, gibt es
            eine webbasierte Oberfläche oderbspw. über die Kommandozeile?
          </li>
          <li class="lead"><b>Zielgruppe</b>&nbsp;&ndash;
            An wen richtet sich das digitale Werkzeug laut eigener Aussage? In
            der Regel können digitale Werkzeuge von allen genutzt werden.
            Digitale Werkzeuge, die sich aber an kommerzielle Anwendende richtet,
            zeichnet häufiger eine einfachere Bedienbarkeit aus.
          </li>
          <li class="lead"><b>Letztes Update</b>&nbsp;&ndash;
            Wann ist das letzte Update erfolgt. Insbesondere bei digitalen
            Werkzeugen, welche im Rahmen von Forschungsprojekten entwickelt
            werden, kann nach Abschluss des Projektes die Weiterentwicklung
            bzw. die Wartung eingestellt werden.
          </li>
          <li class="lead"><b>Lizenz</b>&nbsp;&ndash;
            Unter welcher Lizenz wurde das digitale Werkzeug veröffentlicht
            und entstehen Kosten durch die Anwendung des digitalen Werkzeugs?
          </li>
        </ul>
        <p>
          Weiterführende Informationen:
        </p>
        <p>
          <a href="https://simquality.de/tools/">https://simquality.de/tools</a>
          </br>
          Im Projekt Simquality wurden Informationen und Daten rund um das Thema
          Qualitätssicherung und Standardisierung von Simulationsverfahren
          gesammelt. Bestandteil des Projektes war die unabhängige Prüfung von
          Simulationssoftware. Auf der Website sind weiterführende Informationen
          zu IDA ICE, EDSL-TAS, NANDRAD, ETU Simulation, THERAKLES, TRNSYS und
          AixLib einsehbar.
        </p>
        <p>
          <a href="https://github.com/protontypes/open-sustainable-technology">
            https://github.com/protontypes/open-sustainable-technology
          </a>
          </br>
          Das Projekt Open Sustainable Technology sammelt offene,
          nachhaltige und aktive Projekte, welche zum Ziel haben eine
          nachhaltige Energieversorgung zu ermöglichen. Dabei werden
          Standards, Daten oder Programme gesammelt. Es erfolgt keine
          weitere Einordnung.
        </p>
        <p>
          <a href="https://www.baulinks.de/architektursoftware/index.php">
            https://www.baulinks.de/architektursoftware/index.php</a>
           </br>
           Die Website baulinks sammelt Informationen über Software mit
           einem Fokus auf Architekten und Handwerker. Neben CAD, oder
           digitale Werkzeuge zur Planungen werden auch Informationen
           über digitale Stundenzettel oder digitale Werkzeuge zur
           Kalkulation von Mengen gesammelt.
        </p>
        <p>
          <a href="https://openenergy-platform.org/">
            https://openenergy-platform.org
          </a>
          </br>
          Die Openenergy Platform hat zum Ziel die Modellierung des
          Energiesystems transparent zu machen. Hierzu werden
          Informationen und digitale Werkzeuge rund um das Thema
          Energie gesammelt.
        </p>
        <p class="mb-0">
          <a href="https://www.energy.gov/eere/buildings/building-energy-modeling">
            https://www.energy.gov/eere/buildings/building-energy-modeling
          </a>
          </br>
          Andere Seiten wie bspw. die durch das Office of Energy Efficiency &
          Renewable Energy der Vereinigten Staaten von Amerika betriebene
          Website sammeln Informationen zu digitale Werkzeuge, welche durch
          diese finanziert und erstellt werden. Zudem werden durch weitere
          Informationen wie beispielsweise eines Blogs anschauliche
          Informationen bereitgestellt.
        </p>
      </div>
      <div class="col-lg-12 lead mt-3">
        <a role="button" class="collapsed text-truncation-btn"
           data-toggle="collapse" href="#collapseInfoTools"
           aria-expanded="false" aria-controls="collapseInfoTools">
        </a>
      </div>
    </div>
  </div>
</section>
