{% load static %}

<section class="py-4">
	<div class="container">
    <div class="row collapseInfoContainer"
         id="collapseInfoContainerTools">
      <div class="col-lg-12 collapse lead collapseInfo"
           id="collapseInfoTools">
        <p>Die hier vorgestellten digitalen Tools entsprechen den Tools, die im Rahmen der Auswertung des 
          Fragebogens der wissenschaftlichen Begleitforschung der Forschungsinitiative Energiewendebauen von 2021 und 2023 erfasst wurden. 
          Alle digitalen Werkzeuge werden also im Rahmen von Projekten eingesetzt, entwickelt oder weiterentwickelt, 
          die von der Forschungsinitiative Energiewendebauen gefördert werden. <br>
          Wir unterscheiden zwischen digitalen Werkzeugen und digitalen Anwendungen. <br>
          Ein digitales Werkzeug ist ein Stück Software, das in Verbindung mit anderen Werkzeugen von Entwicklern oder Ingenieuren verwendet wird, 
          um Produkte mit bestimmten Funktionalitäten bereitzustellen. Frameworks, Bibliotheken, Programmiersprachen, Standards und Plattformen sind ebenfalls unter Tools aufgeführt. <br>
          Eine digitale Anwendung hingegen ist ein Stück Software, das einen bestimmten Anwendungsfall allein abdeckt, 
          in der Regel eine Verkettung von Werkzeugen mit möglicher direkter Interaktion mit dem Endbenutzer. <br>
          Es ist durchaus möglich, ein Werkzeug zu haben, das auch als Anwendung klassifiziert werden kann.
          In einem ersten Schritt sammeln wir diese digitalen Werkzeuge und Anwendungen und stellen sie Ihnen als Übersicht und Inspiration zur Verfügung. 
          Eine detaillierte Zusammenstellung der Tools und Anwendungen kann nur gemeinsam mit den Anwendern erfolgen, sprechen Sie uns daher gerne an. 
          Wir freuen uns auf Ihre Anwendungsbeispiele aus Ihren Projekten. 
          Bei der Zusammenstellung der Anwendungen haben wir folgende Aspekte berücksichtigt:
        </p>
        <ul>
          <li class="lead"><b>Kurzbeschreibung</b>&nbsp;&ndash;
            Um was handelt es sich?
          </li>
          <li class="lead"><b>Einsatzbereich </b>&nbsp;&ndash; 
            Was beschreiben die Entwicklenden als Einsatzsbereich ihres digitalen Werkzeugs? 
            Optionen sind Verwaltung, Forschung/Lehre, Industrie, und Dienstleistung.
          </li>
          <li class="lead"><b>Nutzung</b>&nbsp;&ndash;
            Zu welchem Zweck wird das Werkzeug eingesetzt? 
            Optionen sind Simulation, Monitoring, Optimierung, Planung, Steuerung, Regelung.
          </li>
          <li class="lead"><b>Lebenszyklusphase</b>&nbsp;&ndash;
            In welcher Phase des Produktlebenszyklus wird das Werkzeug eingesetzt? 
            Hier sind die Phasen Vorplanung, Planung, Umsetzung und Betrieb berücksichtigt.
          </li>
          <li class="lead"><b>Nutzerschnittstelle</b>&nbsp;&ndash;
            Wie können Nutzende das digitale Werkzeug bedienen? 
            Benötigt es eine eigenständige Installation, gibt es eine webbasierte Oberfläche oder bspw. über die Kommandozeile? 
          </li>
          <li class="lead"><b>Zielgruppe</b>&nbsp;&ndash;
            An wen richtet sich das digitale Werkzeug laut eigener Aussage?
            In der Regel können digitale Werkzeuge von allen genutzt werden. 
          </li>          
          <li class="lead"><b>Letztes Update</b>&nbsp;&ndash;
            Wann ist das letzte Update erfolgt. 
            Insbesondere bei digitalen Werkzeugen, 
            welche im Rahmen von Forschungsprojekten entwickelt werden, 
            kann nach Abschluss des Projektes die Weiterentwicklung bzw. die Wartung eingestellt werden.
          </li>
          <li class="lead"><b>Zugänglichkeit</b>&nbsp;&ndash;
            Wie zugänglich ist das Werkzeug? Ist es kostenpflichtig, open-source oder freeware?
          </li>
          <li class="lead"><b>Lizenz</b>&nbsp;&ndash;
            Unter welcher Lizenz wurde das digitale Werkzeug veröffentlicht und entstehen Kosten 
            durch die Anwendung des digitalen Werkzeugs?
          </li>
          <li class="lead"><b>Alternativen</b>&nbsp;&ndash;
            Welche anderen Instrumente können eine ähnliche Nutzung ermöglichen (wenn vorhanden)? 
          </li>
          <li class="lead"><b>Konkrete Anwendungsfälle</b>&nbsp;&ndash;
            Benennung von konkreten Beispielen für den Einsatz von Werkzeugen im Bausektor/EnergiewendeBauen (bspw. Projekt Nummer).
          </li>
          <li class="lead"><b>Enwicklende / Maintainer</b>&nbsp;&ndash;
            Wer ist für die Entwicklung und Wartung des Tools verantwortlich?
          </li>
          <li class="lead"><b>Generelle Art des Werkzeugs</b>&nbsp;&ndash;
            Welcher Art ist das Werkzeug? 
            Handelt es sich um ein digitales Werkzeug, ein Framework/eine Bibliothek, eine Programmiersprache, einen Standard, eine Plattform oder auch eine Anwendung?
          </li>
          <li class="lead"><b>Veröffentlicht</b>&nbsp;&ndash;
            Ist das Werkzeug bereits veröffentlicht?
          </li>
          <li class="lead"><b>Veröffentlichung geplant</b>&nbsp;&ndash;
            Falls das Werkzeug noch nicht veröffentlicht ist, ist eine Veröffentlichung geplant?
          </li>
          <li class="lead"><b>Jahr der Veröffentlichung</b>&nbsp;&ndash;
            Falls das Werkzeug veröffentlicht ist, in welchem Jahr wurde es veröffentlicht?
          </li>
          <li class="lead"><b>Informationsquellen</b>&nbsp;&ndash;
            Quelle für weitere Information zum Werkzeug, z.B. git-Repo, Projektwebseite.
          </li>
          <li class="lead"><b>Entwicklungsstand</b>&nbsp;&ndash;
            Was ist der aktuelle Entwicklungsstand? Dabei sind folgende Optionen möglich:
            <ol>
              <li>erster Entwurf (pre-Alpha)</li>
              <li>wesentliche Funktionen (Alpha)</li>
              <li>noch nicht vollständig gestetet (Beta)</li>
              <li>alle Funktion erhalten, evtl. Fehler enthalten (Release Canditate - RC)</li>
              <li>bereit für den produktiven Einsatz (Release)</li>
            </ol> 
          </li>
          <li class="lead"><b>Programmiersprache</b>&nbsp;&ndash;
            Welche Programmiersprache ist bei der Umsetzung des Tools hauptsächlich genutzt?
          </li>    
          <li class="lead"><b>Wichtigste Framework / Bibliotheken</b>&nbsp;&ndash;
            Was sind die wichtigsten Frameworks oder Bibliotheken bei der Umsetzung?
          </li>
          <li class="lead"><b>Datenbanksystem</b>&nbsp;&ndash;
            Welches Datenbanksystem verwendet das Werkzeug?
          </li> 
          <li class="lead"><b>Räumliche Größenordnung der Anwendungsfälle</b>&nbsp;&ndash;
            In welcher Größenordnung wird das Werkzeug angewendet, handelt es sich um eine Komponente, 
            eine Anlage, ein Gebäude, oder um ein Quartier/Netz oder ein/e Region/Land?
          </li>
          <li class="lead"><b>Normen/Standards</b>&nbsp;&ndash;
            Welche Normen oder Standards dienen als Basis bzw. Orientierung für das Werkzeug?
          </li>
        </ul>
        <p>
          Weiterführende Informationen:
        </p>
        <p>
          <a href="https://simquality.de/tools/" target="_blank">https://simquality.de/tools</a>
          </br>
          Im Projekt Simquality wurden Informationen und Daten rund um das Thema
          Qualitätssicherung und Standardisierung von Simulationsverfahren
          gesammelt. Bestandteil des Projektes war die unabhängige Prüfung von
          Simulationssoftware. Auf der Website sind weiterführende Informationen
          zu IDA ICE, EDSL-TAS, NANDRAD, ETU Simulation, THERAKLES, TRNSYS und
          AixLib einsehbar.
        </p>
        <p>
          <a href="https://github.com/protontypes/open-sustainable-technology" target="_blank">
            https://github.com/protontypes/open-sustainable-technology
          </a>
          </br>
          Das Projekt Open Sustainable Technology sammelt offene,
          nachhaltige und aktive Projekte, welche zum Ziel haben eine
          nachhaltige Energieversorgung zu ermöglichen. Dabei werden
          Standards, Daten oder Programme gesammelt. Es erfolgt keine
          weitere Einordnung.
        </p>
        <p>
          <a href="https://www.baulinks.de/architektursoftware/index.php" target="_blank">
            https://www.baulinks.de/architektursoftware/index.php</a>
           </br>
           Die Website baulinks sammelt Informationen über Software mit
           einem Fokus auf Architekten und Handwerker. Neben CAD, oder
           digitale Werkzeuge zur Planungen werden auch Informationen
           über digitale Stundenzettel oder digitale Werkzeuge zur
           Kalkulation von Mengen gesammelt.
        </p>
        <p>
          <a href="https://openenergy-platform.org/" target="_blank">
            https://openenergy-platform.org
          </a>
          </br>
          Die Openenergy Platform hat zum Ziel die Modellierung des
          Energiesystems transparent zu machen. Hierzu werden
          Informationen und digitale Werkzeuge rund um das Thema
          Energie gesammelt.
        </p>
        <p class="mb-0">
          <a href="https://www.energy.gov/eere/buildings/building-energy-modeling" target="_blank">
            https://www.energy.gov/eere/buildings/building-energy-modeling
          </a>
          </br>
          Andere Seiten wie bspw. die durch das Office of Energy Efficiency &
          Renewable Energy der Vereinigten Staaten von Amerika betriebene
          Website sammeln Informationen zu digitale Werkzeuge, welche durch
          diese finanziert und erstellt werden. Zudem werden durch weitere
          Informationen wie beispielsweise eines Blogs anschauliche
          Informationen bereitgestellt.
        </p>
        <p>
          <a href="https://www.gebaeudeforum.de/service/toolbox/" target="_blank">
            https://www.gebaeudeforum.de/service/toolbox/
          </a>
          </br>
          Das Gebäudeforum Klimaneutral stellt eine Übersicht über Werkzeuge zur 
          Verfügung. Diese richten sich insbesondere an Personen richten, die in 
          der Bilanzierung und Beratung tätig sind.
        </p>
      </div>
      <div class="col-lg-12 lead mt-3">
        <a role="button" class="collapsed text-truncation-btn"
           data-toggle="collapse" href="#collapseInfoTools"
           aria-expanded="false" aria-controls="collapseInfoTools">
        </a>
      </div>
    </div>
  </div>
</section>
