{% extends 'base.html' %}
{% block title %}Überblick über die Anwendungen{% endblock %}
{% block content %}
{% load static %}
<!DOCTYPE html>

</head>

<body>

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Page Banner START -->
<section class="py-4">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bg-light p-4 text-center rounded-3">
					<h1 class="m-0">Überblick über die digitalen Werkzeuge</h1>
					
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Page Banner END -->


{% include '../tools_over/explanation.html' %}


<!-- =======================
Page content START -->
<section class="pt-0">
	<div class="container">

		<!-- Filter bar START -->
		<form class="bg-light border p-4 rounded-3 my-4 z-index-9 position-relative">
			<div class="row g-3">
				<!-- Input -->
				<div class="col-xl-3" title="Suchen in den Anwendungsnamen">
					<input class="form-control me-1" type="search" placeholder="Suchbegriff" name='searched'>
				</div>

				<!-- Select item -->
				<div class="col-xl-7">
					<form  method="GET">
						<div class="row g-3">
							
							<!-- Select items -->
						<div class="form-group col-sm-6 col-md-3 pb-2 pb-md-0">
								<select class="form-select js-choice" aria-label=".form-select-sm example" name="1" title="Filtern nach der Kategorie der Anwendung"> 
									
									<option value="">Kategorien</option>
									
									<option value="Datenverwaltung" {% if kategorie == "Datenverwaltung" %} selected="selected" {% endif %}>Datenverwaltung</option>
									<option value="Anzeige und Gestaltung" {% if kategorie == "Anzeige und Gestaltung" %} selected="selected" {% endif %}>Anzeige und Gestaltung</option>
									<option value="Modellbildung" {% if kategorie == "Modellbildung" %} selected="selected" {% endif %}>Modellbildung</option>
									<option value="Cloud-basiertes Echtzeit Monitoring" {% if kategorie == "Cloud-basiertes Echtzeit Monitoring" %} selected="selected" {% endif %}>Cloud-basiertes Echtzeit Monitoring</option>
									<option value="Programmiersprache" {% if kategorie == "Programmiersprache" %} selected="selected" {% endif %}>Programmiersprache</option>
									<option value="Konstruktion" {% if kategorie == "Konstruktion" %} selected="selected" {% endif %}>Konstruktion</option>
									<option value="Cloud Anwendung" {% if kategorie == "Cloud Anwendung" %} selected="selected" {% endif %}>Cloud Anwendung</option>
									<option value="Analyse" {% if kategorie == "Analyse" %} selected="selected" {% endif %}>Analyse</option>
									<option value="Modellierung" {% if kategorie == "Modellierung" %} selected="selected" {% endif %}>Modellierung</option>
									<option value="Simulation" {% if kategorie == "Simulation" %} selected="selected" {% endif %}>Simulation</option>
									<option value="Energiemanagement" {% if kategorie == "Energiemanagement" %} selected="selected" {% endif %}>Energiemanagement</option>
									<option value="Betriebsoptimierung" {% if kategorie == "Betriebsoptimierung" %} selected="selected" {% endif %}>Betriebsoptimierung</option>
									<option value="Datenbankmanagement" {% if kategorie == "Datenbankmanagement" %} selected="selected" {% endif %}>Datenbankmanagement</option>
									<option value="Berechnung" {% if kategorie == "Berechnung" %} selected="selected" {% endif %}>Berechnung</option>
									<option value="Programmierumgebung" {% if kategorie == "Programmierumgebung" %} selected="selected" {% endif %}>Programmierumgebung</option>
									<option value="Visualisierung" {% if kategorie == "Visualisierung" %} selected="selected" {% endif %}>Visualisierung</option>
									<option value="Modellanalyse" {% if kategorie == "Modellanalyse" %} selected="selected" {% endif %}>Modellanalyse</option>
									<option value="Machine Learning" {% if kategorie == "Machine Learning" %} selected="selected" {% endif %}>Machine Learning</option>

								</select>
								
							</div>

							<!-- Search item -->
							<div class="form-group col-sm-6 col-md-3 pb-2 pb-md-0">
								
								<select class="form-select js-choice" aria-label=".form-select-sm example" name="2" title="Filtern nach der Lizenz der Anwendung">
									
									<option value="">Lizenz</option>
									<option value="kostenpflichtig" {% if lizenz == "kostenpflichtig" %} selected="selected" {% endif %}>Kostenpflichtig</option>
									<option value="Open-Source" {% if lizenz == "Open-Source" %} selected="selected" {% endif %}>Open-Source</option>
									<option value="kostenfrei" {% if lizenz == "kostenfrei" %} selected="selected" {% endif %}>Kostenfrei</option>
								</select>
							</div>

							<!-- Search item -->
							<div class="form-group col-sm-6 col-md-3 pb-2 pb-md-0">
								
								<select class="form-select js-choice" aria-label=".form-select-sm example" name="3" title="Filtern nach der Lebenszyklusphase in der die Anwendung genutzt wird">
									<option value="">Lebenszyklusphase</option>
									<option value="Planung" {% if lebenszyklusphase == "Planung" %} selected="selected" {% endif %}>Planung</option>
									<option value="Vorplanung" {% if lebenszyklusphase == "Vorplanung" %} selected="selected" {% endif %}>Vorplanung</option>
									<option value="Betrieb" {% if lebenszyklusphase == "Betrieb" %} selected="selected" {% endif %}>Betrieb</option>
									<option value="Umsetzung" {% if lebenszyklusphase == "Umsetzung" %} selected="selected" {% endif %}>Umsetzung</option>
								</select>
							</div>

							<!-- Search item -->
							
						</div> <!-- Row END -->
					</form>

				</div>
				<!-- Clear -->
				<div class="col-xl-1">
					
                	<a href="{% url 'tool_list' %}"> <h6 class="btn btn-primary mb-0 rounded z-index-1 w-100">Alle</h6></a>
					<!--<button class="btn btn-primary mb-0 rounded z-index-1 w-100" href="{% url 'tool_list' %}">Alle</button>-->
				</div>
				<!-- Button -->
				<div class="col-xl-1">
					<button type="submit" class="btn btn-primary mb-0 rounded z-index-1 w-100" href=""><i class="fas fa-search"></i></button>
				</div>
			</form>
			</div> <!-- Row END -->
		</form>
		<!-- Filter bar END -->

		<ul class="list-inline mb-0">
			{% if search %}
			<li class="list-inline-item"> 
				<div class="btn btn-outline-light btn-sm">
					<a href="/tool_list/?searched={{search}}&1=&2=&3=">Searched:{{search}}</a>
					<a href="/tool_list/?searched=&1={% if kategorie %}{{kategorie}}{% endif %}&2={% if lizenz %}{{lizenz}}{% endif %}&3={% if lebenszyklusphase %}{{lebenszyklusphase}}{% endif %}">
						<i class="bi bi-x fa-lg close-icon"></i>
					</a>
				</div>
			</li>
			{% endif %}	
			{% if kategorie %}
			<li class="list-inline-item">
				<div class="btn btn-outline-light btn-sm">
					<a href="/tool_list/?searched=&1={{kategorie}}&2=&3=">{{kategorie}}</a>
					<a href="/tool_list/?searched={% if search %}{{search}}{% endif %}&1=&2={% if lizenz %}{{lizenz}}{% endif %}&3={% if lebenszyklusphase %}{{lebenszyklusphase}}{% endif %}">
						<i class="bi bi-x fa-lg close-icon"></i>
					</a>
				</div>
			</li>
			{% endif %}	
			{% if lizenz %}
			<li class="list-inline-item">
				<div class="btn btn-outline-light btn-sm">
					<a href="/tool_list/?searched=&1=&2={{lizenz}}&3=">{{lizenz}}</a>
					<a href="/tool_list/?searched={% if search %}{{search}}{% endif %}&1={% if kategorie %}{{kategorie}}{% endif %}&2=&3={% if lebenszyklusphase %}{{lebenszyklusphase}}{% endif %}">
						<i class="bi bi-x fa-lg close-icon"></i>
					</a>
				</div>
			</li>
			{% endif %}
			{% if lebenszyklusphase %}
			<li class="list-inline-item">
				<div class="btn btn-outline-light btn-sm">
					<a href="/tool_list/?searched=&1=&2=&3={{lebenszyklusphase}}">{{lebenszyklusphase}}</a>
					<a href="/tool_list/?searched={% if search %}{{search}}{% endif %}&1={% if kategorie %}{{kategorie}}{% endif %}&2={% if lizenz %}{{lizenz}}{% endif %}&3=">
						<i class="bi bi-x-lg close-icon"></i>
					</a>
				</div>
			</li>
			{% endif %}
		</ul>



		<div class="row mt-3">
			<!-- Main content START -->
			<div class="col-12">

				<!-- Course Grid START -->
				<div class="row g-4">
					{% for tool in page.object_list %}	
					<!-- Card item START -->
					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="card shadow h-100">
							<!-- Image -->
							{%if tool.image %}
							<img src=" {{ tool.image.url }}" class="card-img-top px-4" alt="tool image (if=db)">
							{% else %}
							<img src=" {%static 'img/Default.webp' %}" class="card-img-top px-4" alt="tool image (else)">
							{% endif %}
							<!-- Card body -->
							<div class="card-body pb-0">
						
								<!-- Title -->
								<h5 class="card-title"><a href="{%url 'tool_view' tool.id %}"> {{ tool.bezeichnung   }}</a></h5>
								<p class="mb-2 text-truncate-2">Nutzerschnittstelle: {{ tool.nutzerschnittstelle   }}</p>
								<!-- Rating star -->
							
								
								<ul class="list-inline mb-0">
									{% if  tool.average_rating == 0 %}
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									
									{% endif %}

									{% if  tool.average_rating == 1 %}
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									
									{% endif %}
									{% if  tool.average_rating == 1.5 %}
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
								
									<li class="list-inline-item me-0 small"><i class="far fa-star-half-alt text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									
									{% endif %}
									{% if  tool.average_rating == 2 %}
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									
									{% endif %}
									{% if  tool.average_rating == 2.5 %}
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star-half-alt text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									
									{% endif %}
									{% if  tool.average_rating == 3 %}
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									
									{% endif %}
									{% if  tool.average_rating == 3.5 %}
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star-half-alt text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									
									{% endif %}
									{% if  tool.average_rating == 4 %}
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									
									{% endif %}
									{% if  tool.average_rating == 4.5 %}
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star-half-alt text-warning"></i></li>
									
									{% endif %}
									{% if  tool.average_rating == 5 %}
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									
									{% endif %}
									
								</ul>

							
							</div>
							<!-- Card footer -->
							<div class="card-footer pt-0 pb-3">
								{% if tool.letztes_update %}
								<hr>
								<div class="d-flex justify-content-between">
									<span class="h6 fw-light mb-0">
										{% if tool.letztes_update == 'laufend' %}
										<i class="fas fa-sync text-success me-2"></i>Updates: {{ tool.letztes_update }}
										{% else %}
										<i class="far fa-clock text-danger me-2"></i>Letztes Update: {{ tool.letztes_update }}
										{% endif %}
								</div>
								{% endif %}
							</div>
						</div>
					</div>
					<!-- Card item END -->
					{% endfor %}
					
				</div>
				<!-- Course Grid END -->

				<!-- Pagination START -->
			<div class="col-12">
				<nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
					<ul class="pagination pagination-primary-soft rounded mb-0">
						{% if page.has_previous %}
						<li class="page-item mb-0"><a class="page-link" href="{%url 'tool_list' %}?searched={% if search %}{{search}}{% endif %}&1={% if kategorie %}{{kategorie}}{% endif %}&2={% if lizenz %}{{lizenz}}{% endif %}&3={% if lebenszyklusphase %}{{lebenszyklusphase}}{% endif %}&page={{ page.previous_page_number}}" tabindex="-1"><i class="fas fa-angle-double-left"></i></a></li>
						{% else %}
						<!--<li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-double-left"></i></a></li>-->
						{% endif %}
						{% if page.has_next %}
						<li class="page-item mb-0"><a class="page-link" href="{%url 'tool_list' %}?searched={% if search %}{{search}}{% endif %}&1={% if kategorie %}{{kategorie}}{% endif %}&2={% if lizenz %}{{lizenz}}{% endif %}&3={% if lebenszyklusphase %}{{lebenszyklusphase}}{% endif %}&page={{ page.next_page_number}}"><i class="fas fa-angle-double-right"></i></a></li>
						{% else %}
						<!--<li class="page-item mb-0"><a class="page-link" href="#" ><i class="fas fa-angle-double-right"></i></a></li>-->
						{% endif %}
					</ul>
				</nav>
			</div>
			<!-- Pagination END -->
			</div>
			<!-- Main content END -->
		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Page content END -->


</main>
<!-- **************** MAIN CONTENT END **************** -->


{% endblock %}





