{% extends 'base.html' %}
{% load i18n %}
{% load plotly_dash %}
{% block title %}{% translate "Darstellung der Zeitreihen" %}{% endblock %}
{% block content %}
{% load static %}

<html>
<head><meta charset="utf-8" /></head>
<body>
    <div class="container" id="plotlyContainer">
        {% include "common/back-button.html" %}
        <div>
            <input type="checkbox" id="einHaushalt" onchange="showPlotsBasedOnSelection(this)" checked>
            <label for="oneHouseHold">{%translate "Einen Haushalt"%}</label>
            
            <input type="checkbox" id="dreiHaushalte" onchange="showPlotsBasedOnSelection(this)" checked>
            <label for="threeHouseHolds">{%translate "Drei Haushalte"%}</label>
        </div>
        <div>
            <input type="checkbox" id="Geschirrspüler" onchange="showPlotsBasedOnSelection(this)" checked>
            <label for="oneHouseHold">{%translate "Geschirrspüler"%}</label>

            <input type="checkbox" id="Elektrisch-Kombiniert" onchange="showPlotsBasedOnSelection(this)" checked>
            <label for="oneHouseHold">{%translate "Elektrisch-Kombiniert"%}</label>

            <input type="checkbox" id="Kühl-_und_Gefrierschrank" onchange="showPlotsBasedOnSelection(this)" checked>
            <label for="oneHouseHold">{%translate "Kühl- und Gefrierschrank"%}</label>   
            
            <input type="checkbox" id="Wasserkocher" onchange="showPlotsBasedOnSelection(this)" checked>
            <label for="oneHouseHold">{%translate "Wasserkocher"%}</label>   

            <input type="checkbox" id="Hauptanschluss" onchange="showPlotsBasedOnSelection(this)" checked>
            <label for="oneHouseHold">{%translate "Hauptanschluss"%}</label> 

            <input type="checkbox" id="Staubsauger" onchange="showPlotsBasedOnSelection(this)" checked>
            <label for="oneHouseHold">{%translate "Staubsauger"%}</label>

            <input type="checkbox" id="Herd" onchange="showPlotsBasedOnSelection(this)" checked>
            <label for="oneHouseHold">{%translate "Herd"%}</label>

            <input type="checkbox" id="Mikrowelle" onchange="showPlotsBasedOnSelection(this)" checked>
            <label for="oneHouseHold">{%translate "Mikrowelle"%}</label>

            <input type="checkbox" id="Waschmaschine" onchange="showPlotsBasedOnSelection(this)" checked>
            <label for="oneHouseHold">{%translate "Waschmaschine"%}</label>

            <input type="checkbox" id="Durchlauferhitzer" onchange="showPlotsBasedOnSelection(this)" checked>
            <label for="oneHouseHold">{%translate "Durchlauferhitzer"%}</label>
        </div>
        
        <input type="checkbox" id="5sek" onchange="showPlotsBasedOnSelection(this)" checked>
        <label for="oneHouseHold">{%translate "Mikrowelle"%}</label>

        <input type="checkbox" id="15min" onchange="showPlotsBasedOnSelection(this)" checked>
        <label for="oneHouseHold">{%translate "Waschmaschine"%}</label>

        <input type="checkbox" id="1h" onchange="showPlotsBasedOnSelection(this)" checked>
        <label for="oneHouseHold">{%translate "Durchlauferhitzer"%}</label>
        <div>
        </div>
        <!-- <div>
    Wirkebene:
    <ul>
        <li>{{ levelOfDetailElements.degreeOfDetail }}</li>
    </ul>
</div> -->
</div>
</body>
<script>
    // function getShownTraces(graphDiv) {
    //     var shownTraces = [];
    //     for (var i = 0; i < graphDiv.data.length; i++) {
    //         if (graphDiv.data[i].visible !== false) {
    //             shownTraces.push(graphDiv.data[i]);
    //         }
    //     }
    //     return shownTraces;
    // }
    function showPlotsBasedOnSelection(element) {
    
        // check which option-elements are ticked:
        var householdType = element.id
        var enabledOrDisabled = element.checked
        // debugger;
        plotlyDiv = document.getElementsByClassName("plotly-graph-div")[0]
        allPlotlyTraces = plotlyDiv.data
        for (var i = 0; i < allPlotlyTraces.length; i++) {
            if (allPlotlyTraces[i].name.includes(householdType)) {
                if (enabledOrDisabled) {
                    allPlotlyTraces[i].visible = true;
                }
                else {
                    allPlotlyTraces[i].visible = false;
                }
            }
        }
        Plotly.react(plotlyDiv, allPlotlyTraces);

    }
</script>
<body>
    <h1>My Dash App</h1>
    {% plotly_app name='useCaseTS' %}
</body>
</html>
{% endblock %}