{% load static %}
<style>
  table, th, td {
    border:1px solid black;
  }
  </style>
<section class="py-4">
	<div class="container">
    <div class="row collapseInfoContainer"
         id="collapseInfoContainerTools">
      <div class="col-lg-12 collapse lead collapseInfo"
           id="collapseInfoTools">
        
          <ol type="1">

            <p>
              Auf dieser Seite präsentieren wir eine detaillierte Analyse verschiedener Anwendungsfälle im Kontext des Smart Readiness Indicator. 
              Das Ziel ist es die unterschiedlichen Effekte der Digitalisierung aufzudecken und die Inteaktion verschiedener Anforderungen aufzuzeigen. 
              Dabei gehen wir auf verschiedene Fragestellungen ein: 
            </p>
            <li>Was verstehen wir unter einem Anwendungsfall?</li>
            <li>Welche Anwendungsfälle werden diskutiert?</li>
            <li>Was ist in dem Graph zu sehen?
              <ol type="a">
                <li>Welche Aggreationen sind zu sehen und warum?</li>
                <li>Woher kommen die Daten?</li>
              </ol>
            </li>

          </ol>
   
        <p>
          Die digitale Anwendung benötigt zahlreiche Messdaten, die Verhaltensmuster erkennen lassen? 
          Die Anwendung ermöglicht durch Feedback energetische Einsparungen? 
          Die Auswirkungen digitaler Anwendungen sind durch ihre Wechselwirkungen komplex und vielschichtig.
          So werden bepspielweise Ressourcen und Energie für Erstellung und den Betrieb von Messetechnik benötigt, 
          eine genauere Messung ermöglicht aber auch ein individuelleres Feedback an Nutzende oder ein genaues Erkennen von Fehlern.
          Hier sollen einige dieser wechselwirkenenden Effekte gesammelt und in ihren Auswirkungen begreifbar gemacht werden.
        </p>
        <p>
          Als Basis wird das Rahmenwerk des Smart Readiness Indicator genutzt, der zur Bewertung der Intelligenzfähigkeit von Gebäuden
          nach Vorschriften der EU entwickelt wurde. In diesem Rahmenwerk sind “Services” definiert, welche hier als Use-Cases betrachtet werden.
          Dabei werden die folgenden Aspekte betrachtet:
        </p>
        <ul>
          <li>Use-Case: Beschreibt den konkreten Service auf den sich bezogen wird und wordurch die Effekte/Wirkungen hervorgerufen werden.</li>
          <li>Wirkebene: Die Ebenen, auf die sich der Use-Case bzw. Die Aktion/Durchführung bezieht.</li>
          <li>Level: Die Abstufungen der Durchführung des Use-Casess.</li>
          <table >
           
            <tr>
              <td>Smart Readiness Indicator Service</td>
              <td>Functionality level 0 (as non-smart default)</td>
              <td>Functionality level 1</td>
              <td>Functionality level 2</td>
              <td>Functionality level 3</td>
              <td>Functionality level 4</td>
            </tr>
            <tr>
              <td>Reporting information regarding electricity consumption</td>
              <td>None</td>
              <td>Reporting on current electricity consumption on building level</td>
              <td>Real-time feedback or benchmarking on building level</td>
              <td>Real-time feedback or benchmarking on appliance level</td>
              <td>Real-time feedback or benchmarking on appliance level with automated personalized recommendation</td>
            </tr>
          </table>

          <li>Perspektive: Die Bereiche auf denen sich die Durchführung des Use-Cases auswirkt, beispielsweise Ökonomisch, Ökologisch,
             aus der Nutzendenperspektive oder der technischen Sichweite.</li>

             <li> Effekt: Die mit der Durchführung des Use-Cases einhergehenden Wirkungen bzw. Erzielten/intendierten Effekte.</li>
        </ul>
        <p>
          Eine detaillierte Betrachtung anhand von Zeitreihen findet anhand des Services „Reporting information regarding electricity consumption“ statt.
          <br>
          Um diese Effekte detaillierter darzustellen wurde der IDEAL-Datensatz genutzt. In diesem Datensatz sind Montoringdaten für 255 Haushalte aus den UK und Schottland enthalten.
          39 dieser Haushalte sind in einem engmaschigen System gemonitort worden. 
          Für die Darstellung sind die engmaschig gemonitorten Haushalte 105, 106 und 62 genutzt worden. 
          <br>
          Dargestellt sind der Durschnittliche Verbrauch in einem Zeitfenster von 15 Sekunden (orange), einer Stunde (blau) und als Mittel von drei Haushalten (grün). 
          Bei der 15-sekündigen Messung sind die einezonen Ausshläge sehr gut zu sehen. Diese gehen werden geglättet bei der Messung des durschnittlichen Verbrauchs über eine Stunde. 
          Zeiten in denen das Gerät aus ist, reduzieren die Spitzenlastausschläge.
        </p> 
        <a href="{%url 'use_cases_time_graph' %}" target="_blank"> Zeige Zeitreihen Daten</a>   
        <p>
          Weiterführende Informationen:
        </p>
        <p>
          SRI:
          <a href="https://energy.ec.europa.eu/system/files/2022-06/SRI training slide deck - Version 2 - Jan 2022 - updated.pdf">Training SlTraining Slide Deckide Deck</a>
        </p>
        <p>
          IDEAL Datensatz:
          <a href="https://pubmed.ncbi.nlm.nih.gov/34050194/">
              Pullinger et al., The IDEAL household energy dataset, electricity, gas, contextual sensor data and survey data for 255 UK homes, ci Data 2021 May 28;8(1):146. doi: 10.1038/s41597-021-00921-y.</a>
        </p>
        <br>
        
      </div>
      <div class="col-lg-12 lead mt-3">
        <a role="button" class="collapsed text-truncation-btn"
           data-toggle="collapse" href="#collapseInfoTools"
           aria-expanded="false" aria-controls="collapseInfoTools">
        </a>
      </div>
    </div>
  </div>
</section>
