{% load static %}

<div class="row mt-lg-6">
    <div class="col-lg-12 d-lg-flex flex-lg-row justify-content-between">
        <div class="my-auto pr-3"><span class="lead ">Die Wissensplattform - Digitalisierung Energiewendebauen entsteht im 
            Rahmen des Forschungsprojektes „BF2020 Begleitforschung Energiewendebauen - 
            Modul Digitalisierung; Teilvorhaben: TU Berlin: Wissensplattform“ 
            (FKZ: 03EWB004A).</br>
            Dieses Projekt  wurde aufgrund eines Beschlusses des Deutschen Bundestages mit öffentlichen Mitteln des Bundesministeriums für Wirtschaft und Energie gefördert.</span>
        </div>
        <img src="{% static '/img/BMWK_Fz_2017_WebSVG_de.svg' %}" style="height: 200px;" alt="">
    </div>
</div>
