{% load static %}  

<!-- Header START -->
<header class="navbar-light navbar-sticky sticky-top">
  <!-- Logo Nav START -->
  <nav class="navbar navbar-expand-xl">
    <div class="container">
      <!-- Logo START -->
      <a class="navbar-brand" href="{% url 'StartSearch' %}">
        <img  height="100" src="{% static 'assets/images/logo_dummy.svg' %}" alt="logo">
      </a>
      <!-- Logo END -->

      <!-- Responsive navbar toggler -->
      <button class="navbar-toggler ms-auto"
              type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
        <!-- menu button, when navbar is collapsed -->
        <span class="navbar-toggler-animation">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>
      <!-- Main navbar START -->
      <div class="navbar-collapse w-100 collapse" id="navbarCollapse">
        <!-- Nav Main menu START -->
        <!-- Nav item 4 Component-->
        <ul class="navbar-nav navbar-nav-scroll mx-auto">
          <!-- Nav technical focus START-->
          <li class="dropdown nav-item postion-relative">
            <span class="nav-link">
              <img src="{% static 'assets/images/symbol_technical_focus.svg' %}"
                   class="position-absolute start-0 top-50 translate-middle-y"
                alt="">
                 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Technischer Fokus
              <a class="dropdown-toggle dropdown-toggle-split pl-0">
                <span class="visually-hidden">Toggle Dropdown
                </span>
              </a>
            </span>
            <ul class="dropdown-menu dropdown-menu-end pt-3"
                aria-labelledby="dataDropdown">
              <li>
                <a class="dropdown-item"
                   href="{% url 'tool_list' %}">
                  Digitale Werkzeuge
                </a>
              </li>

              <li>
                <a class="dropdown-item"
                   href="{% url 'coming' %}">
                  Digitale Anwendungen
                </a>
              </li>

              <li>
                <a class="dropdown-item"
                   href="{% url 'norm_list' %}">
                  Technische Standards
                </a>
              </li>

              <li>
                <a class="dropdown-item"
                   href="{% url 'weatherdata_list' %}">
                  Wetterdaten
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="{% url 'LastProfile' %}">
                  Lastprofile
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="{% url 'dataset_list' %}">
                  Datensets
                </a>
              </li>
            </ul>
          </li>
          <!-- Nav technical focus END -->
          <!-- Nav ecomomical focus START-->
          <li class="dropdown nav-item postion-relative">
            <span class="nav-link">
              <img src="{% static 'assets/images/symbol_operational_focus.svg' %}"
                class="position-absolute start-0 top-50 translate-middle-y"
                alt="">
                 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Betrieblicher Fokus
              <a class="dropdown-toggle dropdown-toggle-split pl-0">
                <span class="visually-hidden">Toggle Dropdown
                </span>
              </a>
            </span>
            <ul class="dropdown-menu dropdown-menu-end pt-3"
                aria-labelledby="dataDropdown">
              <li>
                <a class="dropdown-item"
                   href="{% url 'businessModelsDev' %}">
                  Geschäfts&shy;modell&shy;entwicklung
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="#">
                  Geschäfts&shy;modell&shy;anwendungen
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="#">
                  Nutzenden&shy;perspektive
                </a>
              </li>
            </ul>
          </li>
          <!-- Nav economical focus END -->
          <!-- Nav ecological focus START-->
          <li class="dropdown nav-item postion-relative">
            <span class="nav-link postion-relative">
              <img src="{% static 'assets/images/symbol_ecological_focus.svg' %}"
                class="position-absolute start-0 top-50 translate-middle-y"
                alt="">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Ökologischer Fokus
              <a class="dropdown-toggle dropdown-toggle-split pl-0">
                <span class="visually-hidden">Toggle Dropdown
                </span>
              </a>
            </span>
            <ul class="dropdown-menu dropdown-menu-end pt-3"
                aria-labelledby="dataDropdown">
              <li>
                <a class="dropdown-item"
                   href="#">
                  Daten&shy;suffizienz
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="#">
                  PLATZZZZ
                </a>
              </li>
            </ul>
          </li>
          <!-- Nav ecological focus END -->
          <!-- Nav legal focus START-->
          <li class="dropdown nav-item postion-relative">
            <span class="nav-link">
              <img src="{% static 'assets/images/symbol_legal_focus.svg' %}"
                class="position-absolute start-0 top-50 translate-middle-y"
                alt="">
                 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Rechtlicher Fokus
              <a class="dropdown-toggle dropdown-toggle-split pl-0">
                <span class="visually-hidden">Toggle Dropdown
                </span>
              </a>
            </span>
            <ul class="dropdown-menu dropdown-menu-end pt-3"
                aria-labelledby="dataDropdown">
              <li>
                <a class="dropdown-item"
                   href="#">
                  Übersicht: Datenschutz im Gebäude- und Quartiersbereich
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="#">
                  Kriterienkatalog
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="#">
                  Visualisierungs&shy;bausteine
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="#">
                  Wissen
                </a>
              </li>
            </ul>
          </li>
          <!-- Nav legal focus END -->
        </ul>
        <!-- Nav Main menu END -->
      </div>
      <!-- Main navbar END -->

  </nav>
  <!-- Logo Nav END -->
</header>
<!-- Header END -->
