{% load static %}  


<!-- Header START -->
<header class="navbar-light navbar-sticky sticky-top">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" href="{% url 'index' %}">
				<img  height="100" src="{% static 'img/tu-berlin-logo.svg' %}" alt="logo">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

        <!-- Nav Main menu START -->
				<ul class="navbar-nav navbar-nav-scroll mx-auto">
					

					<!-- Nav item 4 Component-->
					<li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Start</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'tool_list' %}">Digitale Werkzeuge</a></li>

					<li class="dropdown nav-item"><span class="nav-link"><a href="{% url 'data' %}">Daten</a>
						<a class="dropdown-toggle dropdown-toggle-split pl-0">
							<span class="visually-hidden">Toggle Dropdown</span>
						</a></span>
						<ul class="dropdown-menu dropdown-menu-end shadow pt-3" aria-labelledby="dataDropdown">
							<li><a class="dropdown-item" href="{% url 'weatherdata_list' %}">Wetterdaten</a></li>
							<li><a class="dropdown-item" href="{% url 'LastProfile' %}">Lastprofile</a></li>
							<li><a class="dropdown-item" href="{% url 'dataset_list' %}">Datensets</a></li>
						</ul></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'coming' %}">Digitale Anwendungen</a></li>
					<li class="dropdown nav-item"><span class="nav-link"><a href="{% url 'about' %}">Über uns</a>
						<a class="dropdown-toggle dropdown-toggle-split pl-0">
							<span class="visually-hidden">Toggle Dropdown</span>
						</a></span>
						<ul class="dropdown-menu dropdown-menu-end shadow pt-3" aria-labelledby="dataDropdown">
							<li><a class="dropdown-item" href="{% url 'Datenschutzhinweis' %}">Datenschutzhinweis</a></li>
						</ul></li>

					
				</ul>
				<!-- Nav Main menu END -->

				
			</div>
			<!-- Main navbar END -->

			<!-- Profile START -->
			
			<div class="dropdown ms-1 ms-lg-0">
				{% if user.is_authenticated %}
				<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
					
					<img class="avatar-img rounded-circle" src="{% static 'User_Images/Default-User.png' %}" alt="avatar">
				</a>
				<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
					<!-- Profile info -->
					<li class="px-3">
						<div class="d-flex align-items-center">
							<!-- Avatar -->
							<div class="avatar me-3">
								<img class="avatar-img rounded-circle shadow" src="{% static 'User_Images/Default-User.png' %}" alt="avatar">
							</div>
							<div>
								<p class="h6" href="#">{{ request.user }}</p>
								<p class="small m-0">{{ request.email}}</p>
							</div>
						</div>
						<hr>
					</li>
					<!-- Links -->
					<li><a class="dropdown-item" href="#"><i class="bi bi-person fa-fw me-2"></i>Edit Profile</a></li>
					<li><a class="dropdown-item" href="#"><i class="bi bi-gear fa-fw me-2"></i>Account Settings</a></li>
					<li><a class="dropdown-item" href="#"><i class="bi bi-info-circle fa-fw me-2"></i>Help</a></li>
					<li><a class="dropdown-item bg-danger-soft-hover" href="{% url 'logout' %}"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
					<li> <hr class="dropdown-divider"></li>
					<!-- Dark mode switch START
					<li>
						<div class="modeswitch-wrap" id="darkModeSwitch">
							<div class="modeswitch-item">
								<div class="modeswitch-icon"></div>
							</div>
							<span>Dark mode</span>
						</div>
					</li> 
					-->
          <!-- Dark mode switch END --> 
				</ul>
				{% else %}
				<a class="avatar avatar-sm p-0" href="{% url 'login' %}" >
					<img class="avatar-img rounded-circle" src="{% static 'User_Images/Default-User.png' %}" alt="avatar">
				</a>
				{% endif %}	
			</div>
			<!-- Profile START -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->
