{% load static %}  

<!-- Header START -->
<header class="navbar-light navbar-sticky sticky-top">
  <!-- Logo Nav START -->
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <!-- Logo START -->
      <a class="navbar-brand" href="{% url 'StartSearch' %}">
        <img src="{% static 'assets/images/logo_dummy_new.svg' %}"
             alt="logo"
             style="width:200px;">
      </a>
      <!-- Logo END -->

      <!-- Responsive navbar toggler -->
      <button class="navbar-toggler ms-auto"
              type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
        <!-- menu button, when navbar is collapsed -->
        <span class="navbar-toggler-animation">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>
      <!-- Main navbar START -->
      <div class="navbar-collapse w-100 collapse" id="navbarCollapse">
        <!-- Nav Main menu START -->
        <!-- Nav item 4 Component-->
        <ul class="navbar-nav navbar-nav-scroll mx-auto">
          <!-- Nav technical focus START-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               id="technicalDropdown"
               role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              <img src="{% static 'assets/images/symbol_technical_focus.svg' %}"
                   class="position-absolute start-0 top-50 translate-middle-y"
                   alt=""
                   style="width:35px;">
                 &nbsp; &nbsp; &nbsp; Technischer Fokus
            </a>
            <ul class="dropdown-menu" aria-labelledby="technicalDropdown">
              <li>
                <a class="dropdown-item"
                   href="{% url 'tool_list' %}">
                  Digitale Werkzeuge
                </a>
              </li>

              <li>
                <a class="dropdown-item"
                   href="{% url 'coming' %}">
                  Digitale Anwendungen
                </a>
              </li>

              <li>
                <a class="dropdown-item"
                   href="{% url 'TechnicalStandards' %}">
                  Technische Standards
                </a>
              </li>

              <li>
                <a class="dropdown-item"
                   href="{% url 'weatherdata_list' %}">
                  Wetterdaten
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="{% url 'LastProfile' %}">
                  Lastprofile
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="{% url 'dataset_list' %}">
                  Datensets
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                href="{%url 'publicationPage' %}?searched=&fo=11">
                  Publikationen
                </a>
              </li>
            </ul>
          </li>
          <!-- Nav technical focus END -->
          <!-- Nav operational focus START-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               id="operationalDropdown"
               role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              <img src="{% static 'assets/images/symbol_operational_focus.svg' %}"
                   class="position-absolute start-0 top-50 translate-middle-y"
                   alt=""
                   style="width:35px;">
              &nbsp; &nbsp; &nbsp; Betrieblicher Fokus
            </a>
            <ul class="dropdown-menu" aria-labelledby="operationalDropdown">
              <li>
                <a class="dropdown-item"
                   href="{% url 'businessModelsPractice' %}">
                  Geschäfts&shy;modell&shy; - best-practice
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="{% url 'businessModelsChallenge' %}">
                  Geschäfts&shy;modell&shy; - Herausfoderungen
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="{% url 'buisnessModelApplication' %}">
                  Geschäfts&shy;modell&shy;anwendungen
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="{% url 'userIntegrationPractice' %}">
                  Nutzenden&shy;perspektive - best-practice
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="{% url 'userIntegrationMethod' %}">
                  Nutzenden&shy;perspektive - Methoden
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                href="{%url 'publicationPage' %}?searched=&fo=12">
                  Publikationen
                </a>
              </li>
            </ul>
          <!-- Nav operational focus END-->
          <!-- Nav ecological focus START-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               id="ecologicalDropdown"
               role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              <img src="{% static 'assets/images/symbol_ecological_focus.svg' %}"
                   class="position-absolute start-0 top-50 translate-middle-y"
                   alt=""
                   style="width:35px;">
                &nbsp; &nbsp; &nbsp; Ökologischer Fokus
            </a>
            <ul class="dropdown-menu" aria-labelledby="ecologicalDropdown">
              <li>
                <a class="dropdown-item"
                   href="{% url 'environmentalIntegrityNegativ' %}">
                  Negative Umweltwirkungen
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="{% url 'environmentalIntegrityPositiv' %}">
                  Positive Umweltwirkungen - best-practice
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="{% url 'benchmarkingChallenges' %}">
                  Herausforderungen
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="{% url 'dataSufficiency' %}">
                  Datensuffizienz
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                href="{%url 'publicationPage' %}?searched=&fo=13">
                  Publikationen
                </a>
              </li>
            </ul>
          </li>
          <!-- Nav ecological focus END -->
          <!-- Nav legal focus START-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               id="legalDropdown"
               role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              <img src="{% static 'assets/images/symbol_legal_focus.svg' %}"
                   class="position-absolute start-0 top-50 translate-middle-y"
                   alt=""
                   style="width:35px;">
                &nbsp; &nbsp; &nbsp; Rechtlicher Fokus
            </a>
            <ul class="dropdown-menu" aria-labelledby="legalDropdown">
              <li>
                <a class="dropdown-item"
                   href="{% url 'dataSecurity' %}">
                  Daten&shy;schutz&shy;übersicht
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="{% url 'criteriaCatalog' %}">
                  Kriterien&shy;katalog
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="{% url 'iconsAndVis' %}">
                  Icons und Visualisierung
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                href="{%url 'publicationPage' %}?searched=&fo=14">
                  Publikationen
                </a>
              </li>
            </ul>
          </li>
          <!-- Nav legal focus END -->
        </ul>
        <!-- Nav Main menu END -->
      </div>
      <!-- Main navbar END -->

  </nav>
<!-- Logo Nav END -->
</header>
<!-- Header END -->
