{% load static %}
{% load i18n %}
<div>
  {% blocktranslate %}
Bei der Nutzung digitaler Technologien für die Betriebsoptimierung von Gebäuden und
Quartieren werden in der Regel unterschiedliche Datenverarbeitungsprozesse durchlaufen, die am Ende eine
bestmögliche Nutzung der Daten ermöglichen sollen. Einen Überblick über einige der möglichen
Prozessschritte bietet das in Abbildung 1 gezeigten Daten-Wertschöpfungskette. Hinter jedem
Prozessschritt steht eine programmierte Anweisung, die oftmals in Schleifen ausgeführt wird. Dadurch
kommt es fortwährend zur Generierung von Daten, welche auch mit einem entsprechenden Energieverbrauch
verbunden ist. Hier finden Sie Umweltlasten wichtiger Datenverarbeitungsprozesse.{% endblocktranslate %}
</div>
<div class="column__right-image-background">
  <img src="{% static 'img/componentList/negativeEnvironmentalImpactsBox2.svg' %}"
       alt="Data processing"
       class="column__right-image" />
</div>
<div>
  Hier steht ein Platzhaltertext: Con rest voles molor se reptur, erum sum autaquiae prae nonsequat quas
  ex exero dolupti dolupta tempossimi, volestiures es doluptatur santius ulparciis et ad eum aceptiistion
  cum quianihictem unt rest voles molor se reptur, erum sum autaquiae prae nonsequat quas ex exero dolupti
  dolupta tempossimi, volestiures es doluptatur santius ulparciis et ad eum aceptiistion cum quianihictem
  unt ut pel ma dolorpo rruntur, accat. Ent, que nimi, quas si odi optatis ex estisque ommossi tatur,
  vendit por sum ellecatur repudanda simusae et enis ne nus. Et fugit od eos eatum expedit, imint as quas
  comniminus electibustis doloribus. Ent que volore doles eos es dolupta voluptibusam cus sam que nimodios
  as dolori dolor aut dolorem rem que voluptasimus eum.
</div>
<div>
  Hier steht ein Platzhaltertext: Con rest voles molor se reptur, erum sum autaquiae prae nonsequat quas
  ex exero dolupti dolupta tempossimi, volestiures es doluptatur santius ulparciis et ad eum aceptiistion
  cum quianihictem unt rest voles molor se reptur, erum sum autaquiae prae nonsequat quas ex exero dolupti
  dolupta tempossimi, volestiures es doluptatur santius ulparciis et ad eum aceptiistion cum quianihictem
  unt ut pel ma dolorpo rruntur, accat. Ent, que nimi, quas si odi optatis ex estisque ommossi tatur,
  vendit por sum ellecatur repudanda simusae et enis ne nus. Et fugit od eos eatum expedit, imint as quas
  comniminus electibustis doloribus. Ent que volore doles eos es dolupta voluptibusam cus sam que nimodios
  as dolori dolor aut dolorem rem que voluptasimus eum.
</div>
<div>
  Hier steht ein Platzhaltertext: Con rest voles molor se reptur, erum sum autaquiae prae nonsequat quas
  ex exero dolupti dolupta tempossimi, volestiures es doluptatur santius ulparciis et ad eum aceptiistion
  cum quianihictem unt rest voles molor se reptur, erum sum autaquiae prae nonsequat quas ex exero dolupti
  dolupta tempossimi, volestiures es doluptatur santius ulparciis et ad eum aceptiistion cum quianihictem
  unt ut pel ma dolorpo rruntur, accat. Ent, que nimi, quas si odi optatis ex estisque ommossi tatur,
  vendit por sum ellecatur repudanda simusae et enis ne nus. Et fugit od eos eatum expedit, imint as quas
  comniminus electibustis doloribus. Ent que volore doles eos es dolupta voluptibusam cus sam que nimodios
  as dolori dolor aut dolorem rem que voluptasimus eum.
</div>
