{% load static %}
{% load i18n %}
{% for tool in page.object_list %}

  <!-- Card item START -->
  <div class="col-sm-6 col-lg-4 col-xl-3 card_hover">
    <div class="card border-{{ focusBorder }} h-100" id="{{ tool.id }}">

      {% if typeOfTool == "Tools" or typeOfTool == "Apps" %}
        <a href="{% url 'tool_view' tool.id %}">
        {% else %}
          <a href="{% url 'businessAppView' tool.id %}">
          {% endif %}
          <!-- Card body -->
        <div class="card-body pb-0" id="{{ tool.id }}">
            <!-- Title -->
            <h3 class="card-title">
              <input type="checkbox"
                style="display: none;
                margin-left: 0px;
                vertical-align: middle;"
                class="comparisonInputTools" />
              {{ tool.name }}
            </h3>
            <p class="card-text mb-2 text-truncate-2">
              {% translate 'Nutzerschnittstelle' %}:
              {% for userInterface in tool.userInterface.all %}

                {{ userInterface.userInterface }}
              {% endfor %}
            </p>
          </div>
          <!-- Image -->
          <div class="image-container d-flex" style="height: 150px;">
            {% if tool.image %}
              <img src="{{ tool.image.url }}"
                   class="card-img-bottom px-4 pt-4 pb-2 m-auto"
                   style="max-height: 100%;
                          width: auto;
                          display: block"
                   alt="tool image (if=db)" />
            {% endif %}
          </div>
          <!-- Card footer -->
          <div class="card-footer pt-0 pb-3">
            {% if tool.lastUpdate %}
              <hr />
              <div class="d-flex justify-content-between">
                <span class="h6 fw-light mb-0">
                  {% if tool.lastUpdate_de == 'laufend' %}
                    <i class="fas fa-sync me-2"></i>
                    {% translate "Updates" %}: {{ tool.lastUpdate }}
                  {% else %}
                    <i class="far fa-clock me-2"></i>{% translate "Letztes Update" %}: {{ tool.lastUpdate }}
                  {% endif %}
                </span>
              </div>
            {% endif %}
          </div>
        </a>
      </div>
    </div>
    <!-- Card item END -->
{% endfor %}
{% include "partials/pagination.html" %}
<script>
  // this function adds events to asynchroniously added checkboxes
  // to keep the comparison feture possible after filtered tools were loaded
  // async

</script>
