{% load i18n %}
{% load static %}
<!-- Filter bar START -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/gh/harvesthq/chosen@1.8.7/chosen.jquery.min.js"></script> -->
<!-- <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" /> -->
<script type="text/javascript" src="{% static 'js/chosen.jquery.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />
<style>
  .filter {
    background: #8FDE97;
    padding: 13px; 
    margin-right: 12px;
  }
  .closeFilter {
    color: #000;
    margin-left: 10px;
  
  }
.customSelectArrow {
  background-position: 90% 50%;

}

</style>
<form class="border-{{ focusBorder }} p-4 my-4 z-index-9 position-relative"
      id="searchBox"
      method="GET"
      action="">

  <div class="row g-3">
    <!-- Input -->
    <div class="col-xl-2" title="Suchen in den ">
      <div class="input-group">
        <input id="search-input-{{ nameOfTemplate }}"
               class="form-control border-{{ focusBorder }}"
               type="search"
               placeholder="{% translate 'Suchbegriff' %}"
               name='searched' />
        <div class="input-group-append">
          <button type="submit"
                  class="btn btn-{{ focusBorder }}"
                  id="search-submit-{{ nameOfTemplate }}"
                  style="position: absolute;
                         right: 20px"
                  href="">
            <i class="fas fa-search">
            </i>
          </button>
        </div>
      </div>
    </div>
    <!-- Select item -->
    <div class="col-xl-7">
      <div class="row g-3">
        <!-- Select items -->
        {% for optionContent in optionList %}
          {% if optionContent.multiDimensional %}
            <div class="form-group col-sm-6 col-md-3 pb-lg-2 pb-md-0 mb-0 dropdown">
              <button class="btn border-{{ focusBorder }} border-{{ focusBorder }}-round btn-secondary dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">
                {{ optionContent.placeholder }}
              </button>
              <div class="dropdown-menu" id="dropdownMenuDiv">
                {% for option in optionContent.objects %}
                  <div class="dropdown">
                    <a class="dropdown-item dropdown-toggle"
                       href="#"
                       id="nestedDropdownMenuButton"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                       dblocator="{{ option.name }}">{{ option.shown }}</a>
                    <div class="dropdown-menu dropdown-menu__nested"
                         aria-labelledby="nestedDropdownMenuButton">
                      <a class="dropdown-item nested"
                         href="{% url 'components' %}?firstLevel={{ option.name }}&secondLevel=Ascending"
                         sorting="Ascending">{% translate "Aufsteigend" %}</a>
                      <a class="dropdown-item nested"
                         href="{% url 'components' %}?firstLevel={{ option.name }}&secondLevel=Descending"
                         sorting="Descending">{% translate "Absteigend" %}</a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <div class="form-group col-sm-4 col-md-3 pb-lg-2 pb-md-0 mb-0">
              <!-- <select data-placeholder="{{ optionContent.placeholder }}" multiple class="chosen-select chosen-select-{{ focusBorder }}" name="test">
                {% for option in optionContent.objects %}
                  <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
              </select> -->
              <select class="form-select js-choice border-{{ focusBorder }}-round-font-color trigger-submit-onchange"
                      aria-label=".form-select-sm example"
                      name="{{ optionContent.fieldName }}"
                      id="{{ optionContent.fieldName }}"
                      style="background: url('{% static pathToArrow %}') no-repeat;
                             background-position: 90% 50%">
                <option value="">{% translate optionContent.placeholder %}</option>
                {% for option in optionContent.objects %}
                  <option value="{{ option }}"
                          {% if option.filter == option.id|stringformat:"s" %} selected="selected" {% endif %}>
                    {{ option }}
                  </option>
                {% endfor %}
              </select>
            </div>
          {% endif %}
        {% endfor %}
        <div>
          <input type="radio" id="triggerDetailsView" />
          <span class="{{ focusBorder }}-text-near-radio">{% translate "Detail Ansicht" %}</span>
        </div>
        <div class="form-group col-sm-4 col-md-3 pb-lg-2 pb-md-0 mb-0">
          <input type="radio" id="triggerComparisonMode" />
          <span class="{{ focusBorder }}-text-near-radio">{% translate "Vergleichsmodus" %}</span>
        </div>
      </div>
    </div>

  </div>
</form>
<div style="margin-bottom: 24px;">
  {% for key, value in filters.items %}
    {% if key == "searched" %}
      <span class="filter {{ key }}">{{ value }}
        <button class="closeFilter">
          <i class="fas fa-times"></i>
        </button>
      </span>
    {% else %}
      {% for selectedItem in value %}
        <span class="filter {{ key }}">{{ selectedItem }}
          <button class="closeFilter">
            <i class="fas fa-times"></i>
          </button>
        </span>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>
<script>

  $('.closeFilter').click(function() {
    $(this).parent().remove();
  });
$(document).ready(function() {
    $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
        if (!$(this).next().hasClass('show')) {
            $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
        }
        var $subMenu = $(this).next('.dropdown-menu');
        $subMenu.toggleClass('show');

        $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
            $('.dropdown-submenu .show').removeClass('show');
        });

        return false;
    });
    $(document).ready(function() {
    $('.trigger-submit-onchange').change(function() {
        var selectedOption = $(this).val();
        console.log('You selected: ', selectedOption);
        var form = $('#searchBox');
        var categoryOfNewlySelectedFitler = $(this).attr("id");
        var listOfActivatedFilters = [];
        var url = $('#searchBox').attr('action');
        url += "?";
        
        $("select.form-select").each(function () {

          var filterIdentifer = $(this).attr("id");
          var spansOfFilter = $("span.filter." + filterIdentifer);
          var selectedOptions = "";
          // debugger;
          spansOfFilter.each(function() {
            var filter = $(this).text();
            selectedOptions += filter + ",";
            // debugger;
        });
        if ($(this).attr("id") ==  categoryOfNewlySelectedFitler) {
          selectedOptions += selectedOption;
        }
        // debugger;
          // create a hidden input-field for each filter category, which holds a list of the 
          // already selected filter and the newly selected one
          var hiddenInput = document.createElement("input");
          hiddenInput.setAttribute("type", "hidden");
          hiddenInput.setAttribute("name", filterIdentifer + "-hidden");
          if (selectedOptions.slice(-1) === ',') {
            selectedOptions = selectedOptions.slice(0, -1);
          }
          hiddenInput.setAttribute("value", selectedOptions);
          form.append(hiddenInput);
          // url += filterIdentifer + '=' + encodeURIComponent(selectedOptions) + "&";
        })


        // var action = form.attr('action');
        // action += '?' + $(this).attr("id") + '=' + encodeURIComponent(setCategories);
        // debugger;
        form.submit();
        
        

        // Send a GET request to the server
        // $.get(url, function(response) {

        //     // window.location.href = response;
        //     $('html').html(response);
        // });        
    });
});
    

    // // Handle click events on second level dropdown items
    // $('.dropdown-menu a.dropdown-item.nested').on('click', function(e) {
    //     // Do something when a second level dropdown item is clicked
    //   var secondLevelValue = $(this).attr('sorting');
      
    //   var firstLevelValue = $(this).parent().parent().children('a:first').attr('dblocator');
    //   var form = $('#searchBox');
    //   var action = form.attr('action');
    //   action += '?firstLevel=' + encodeURIComponent(firstLevelValue);
    //   action += '&secondLevel=' + encodeURIComponent(secondLevelValue);
      
    //   form.attr('action', action);
    //   debugger;
    //   form.submit();
    // });
});
</script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script> -->
<script>
$(".chosen-select").chosen({
  no_results_text: "Oops, nothing found!"
})
</script>
