{% load i18n %}
{% load static %}
<!-- Filter bar START -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/gh/harvesthq/chosen@1.8.7/chosen.jquery.min.js"></script> -->
<!-- <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" /> -->
<script type="text/javascript" src="{% static 'js/chosen.jquery.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />
<style>
  .filter {
    background: #8FDE97;
    padding: 13px; 
    margin-right: 12px;
    font-size: 15px;
  }
  .closeFilter {
    color: #000;
    margin-left: 10px;
    background: none;
    /* color: inherit; */
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
.customSelectArrow {
  background-position: 90% 50%;

}
.form-select-sm {
    /* Change the width property */
    width: 150px !important;
    /* color: #8FDE97; */
    /* display: inline !important; */
    /* Add any other properties you want to change */
}
.use-bootstrap-select-wrapper {
  width: 150px !important;
  /* height: 102px; */
  display: inline-block !important;
}

.text-input-with-arrow {
  background-image: url('/static/assets/images/arrowDownEcological.svg'); /* Path to your arrow image */
  background-position: right 10px center; /* Position the arrow on the right, with some padding */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  padding-right: 30px; /* Adjust padding to prevent text from overlapping the arrow */
}

</style>
<form class="border-{{ focusBorder }} p-2 my-4 z-index-9 position-relative"
      id="searchBox"
      method="GET"
      action="">

  <div class="row g-3">
    <!-- Input -->
    <div class="col-xl-2" title="Suchen in den ">
      <div class="input-group">
        <input id="search-input-{{ nameOfTemplate }}"
               class="form-control border-{{ focusBorder }} trigger-submit-onchange"
               type="search"
               placeholder="{% translate 'Suchbegriff' %}"
               name='searched' />
        <div class="input-group-append">
          <button type="submit"
                  class="btn btn-{{ focusBorder }}-free-text"
                  id="search-submit-{{ nameOfTemplate }}"
                  style="position: absolute;
                         right: 10px"
                  href="">
            <i class="fas fa-search">
            </i>
          </button>
        </div>
      </div>
    </div>
    <!-- Select item -->
    <div class="col-xl-10">
      <div class="row g-3">
        <!-- Select items -->
        <div class="form-group col-sm-6 col-md-6" style="margin-left: 100px">
          {% for optionContent in optionList %}
            {% if optionContent.multiDimensional %}
              <div class="dropdown" style="display: inline;">
                <button class="btn border-{{ focusBorder }} border-{{ focusBorder }}-round btn-secondary dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                  >
                  {{ optionContent.placeholder }}
                </button>
                <div class="dropdown-menu" id="dropdownMenuDiv">
                  {% for option in optionContent.objects %}
                    <div class="dropdown">
                      <a class="dropdown-item dropdown-toggle"
                         href="#"
                         id="nestedDropdownMenuButton"
                         role="button"
                         data-bs-toggle="dropdown"
                         aria-haspopup="true"
                         aria-expanded="false"
                         dblocator="{{ option.name }}">{{ option.shown }}</a>
                      <div class="dropdown-menu dropdown-menu__nested"
                           aria-labelledby="nestedDropdownMenuButton">
                        <a class="dropdown-item nested"
                           href="{% url 'components' %}?firstLevel={{ option.name }}&secondLevel=Ascending"
                           sorting="Ascending">{% translate "Aufsteigend" %}</a>
                        <a class="dropdown-item nested"
                           href="{% url 'components' %}?firstLevel={{ option.name }}&secondLevel=Descending"
                           sorting="Descending">{% translate "Absteigend" %}</a>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% else %}

              <!-- <select data-placeholder="{{ optionContent.placeholder }}" multiple class="chosen-select chosen-select-{{ focusBorder }}" name="test">
                {% for option in optionContent.objects %}
                  <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
              </select> -->
              <select id="{{ optionContent.fieldName }}"
                      class="form-select-sm js-choice border-{{ focusBorder }}-round-font-color trigger-submit-onchange"
                      multiple>
                <!-- </select> -->
                <!-- <select class="selectpicker form-select js-choice border-{{ focusBorder }}-round-font-color trigger-submit-onchange"
         aria-label=".form-select-sm example"
         name="{{ optionContent.fieldName }}"
         id="{{ optionContent.fieldName }}"
         style="background: url('{% static pathToArrow %}') no-repeat;
                background-position: 90% 50%"> -->
                <option value="">{% translate optionContent.placeholder %}</option>
                {% for option in optionContent.objects %}
                  <option value="{{ option }}"
                          {% if option.filter == option.id|stringformat:"s" %} selected="selected" {% endif %}>
                    {{ option }}
                  </option>
                {% endfor %}
              </select>
              <!-- </div> -->
            {% endif %}
          {% endfor %}
        </div>
        <div class="form-group col-sm-2 col-md-4 d-flex align-items-center">
          <input type="radio" id="triggerDetailsView" />
          <span class="{{ focusBorder }}-text-near-radio" style="margin-right: 20px;">{% translate "Detail Ansicht" %}</span>
          <input type="radio" id="triggerComparisonMode" />
          <span class="{{ focusBorder }}-text-near-radio">{% translate "Vergleichsmodus" %}</span>
        </div>
      </div>
    </div>

  </div>
</form>
<div style="margin-bottom: 24px;">
  {% for key, value in filters.items %}
    {% for selectedItem in value %}
      <span class="filter {{ key }}">{{ selectedItem }}
        <button class="closeFilter">
          <img src="{% static 'assets/images/closeSymbol.svg' %}" alt="closeSymbol" />
        </button>
      </span>
    {% endfor %}
  {% endfor %}
</div>
<script>
  var listOfUseBootstrapSelects = [];
{% for optionContent in optionList %}
{% if not optionContent.multiDimensional %}
  var element = document.getElementById('{{ optionContent.fieldName }}');
  if (element) {
    listOfUseBootstrapSelects.push(new UseBootstrapSelect(element));
  } else {
    console.error('Element with ID "{{ optionContent.fieldName }}" not found');
  }
  {% endif %}
  {% endfor %}
  $(document).ready(function() {
    debugger;
    $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
      debugger;
        if (!$(this).next().hasClass('show')) {
            $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
        }
        var $subMenu = $(this).next('.dropdown-menu');
        $subMenu.toggleClass('show');

        $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
            $('.dropdown-submenu .show').removeClass('show');
        });

        return false;
    });

  });
  $('.closeFilter').click(function() {
    $(this).parent().remove();

    listOfCollectedFilters = collectFilter();
    writeURLandSubmit(listOfCollectedFilters);
  });
  function collectFilter() {

    var listOfActivatedFilters = [];
    $("select.form-select").each(function () {
      var objectForCurrentCategory = {};
      var filterIdentifer = $(this).attr("id");
      var spansOfFilter = $("span.filter." + filterIdentifer);
      var selectedOptions = "";
      spansOfFilter.each(function() {
        var filter = $(this).text();
        selectedOptions += filter + ",";
    });

    listOfActivatedFilters.push({category: $(this).attr("id"), string: selectedOptions});
  });
  return listOfActivatedFilters;
}

  function writeURLandSubmit(listOfActivatedFilters) {
    var url = $('#searchBox').attr('action');
    url += "?";
    var form = $('#searchBox');
    for (var i = 0; i < listOfActivatedFilters.length; i++) {
      var filterIdentifer = listOfActivatedFilters[i].category;
      var selectedOptions = listOfActivatedFilters[i].string;
      var hiddenInput = document.createElement("input");
          hiddenInput.setAttribute("type", "hidden");
          hiddenInput.setAttribute("name", filterIdentifer + "-hidden");
          if (selectedOptions.slice(-1) === ',') {
            selectedOptions = selectedOptions.slice(0, -1);
          }
          hiddenInput.setAttribute("value", selectedOptions);
          form.append(hiddenInput);
          // url += filterIdentifer + '=' + encodeURIComponent(selectedOptions) + "&";
        }
        form.submit();
   } 
$('#searchBox').on('submit', function(e) {
    e.preventDefault();  // Prevent the form from submitting normally

    var url = $(this).attr('action');  // Get the form's action URL
    var formData = $(this).serialize();  // Serialize the form data

    $.ajax({
        type: 'GET',
        url: url,
        data: formData,
        success: function(response) {
            // Handle the response here
            console.log(response);
            // debugger;
            // remove all ancestors of the div with the id
            $('#componentListingContainer').empty();
            $('#componentListingContainer').append(response);
          },
        error: function(jqXHR, textStatus, errorThrown) {
            // Handle the error here
        }
    });
});
$(document).ready(function() {
    // debugger;
    $("div.input-wrapper").children("input").addClass("form-input-{{ focusBorder }}")
    $("div.input-wrapper").children("input").addClass("text-input-with-arrow")

    
    // $("input.use-bootstrap-select[type='text']").each(function() {
      
    //   $(this).addClass("form-input-{{ focusBorder }}");
    // });
  });
    $(document).ready(function() {
    $('.trigger-submit-onchange').change(function() {
      // get values from the select inputs:
      // iterate over the list of selects and call the method to return the values as a list:
      var listOfSelectedFilters;
      var form = $('#searchBox');
      for (var i=0;i < listOfUseBootstrapSelects.length;i++) {
        listOfSelectedFilters = listOfUseBootstrapSelects[i].getValue()
        $("input[name='" + listOfUseBootstrapSelects[i].selectElement.id + "-hidden']").remove();
        var selectedOptions = "";
        if (listOfSelectedFilters != null) {
            // var selectedOptions = "";
          for (var j=0;j<listOfSelectedFilters.length;j++) {
            selectedOptions += listOfSelectedFilters[j] + ",";
          }
          
          var hiddenInput = document.createElement("input");
            hiddenInput.setAttribute("type", "hidden");
            hiddenInput.setAttribute("name", listOfUseBootstrapSelects[i].selectElement.id  + "-hidden");
            if (selectedOptions.slice(-1) === ',') {
              selectedOptions = selectedOptions.slice(0, -1);
            }
            hiddenInput.setAttribute("value", selectedOptions);
            form.append(hiddenInput);

        }
      }    

        if ($("input[name='filtering']").length == 0) {
          var hiddenInput = document.createElement("input");
          hiddenInput.setAttribute("type", "hidden");
          hiddenInput.setAttribute("name", "filtering");
          hiddenInput.setAttribute("value", "true");
          form.append(hiddenInput);
        }
        form.submit();
        
    });

  })
  $("span.ms-auto").click(function() {
    debugger;
  });
// });
</script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script> -->
<!-- <script>
  $('.my-select').selectpicker();

</script> -->
