{% load i18n %}
<style>
    .strategyCategory {
        font-size: 22px;
    }
    .exampleHeading {
        font-size: 16px;
        text-decoration: underline;
        text-decoration-color: #8FDE97;
        margin-top: 36px;

    }
    .exampleHeading a {
        color: black;
    }
</style>
<div class="strategyCategory">{{ boxObject.strategyCategory }}</div>
{% if boxObject.example1 %}
    <div class="exampleHeading">
        Good Practice Beispiel 1
    </div>
{% endif %}
{% if boxObject.example2 %}
    <div class="exampleHeading">
        Good Practice Beispiel 1
    </div>
{% endif %}
