{% load static %}

{% load i18n %}

<!-- Header START -->
<header class="navbar-light navbar-sticky sticky-top">
  <!-- Logo Nav START -->
  <style>

#search-form1{
  display: flex;
  justify-content: flex-end;
}
#navbarCllapse{
  display: flex;
  justify-content: flex-end;
}
.nav-item {
  padding: 5px 5px;
}
#searchText {
    display: block;         /* Ensures it behaves as a block element */
    width: 100%;            /* Takes up all available width */
    max-width: 100%;        /* Prevents overflow */
    box-sizing: border-box; /* Ensures padding is included in the width */
}

  </style>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <!-- Logo START -->
      <a class="navbar-brand" href="{% url 'StartSearch' %}">
        <img src="{% static 'assets/images/logo_dummy_new.svg' %}"
             alt="logo"
             style="width:200px" />
      </a>
      <!-- Logo END -->

      <!-- Responsive navbar toggler -->
      <button class="navbar-toggler ms-auto"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <!-- menu button, when navbar is collapsed -->
        <span class="navbar-toggler-animation">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>
      <!-- Main navbar START -->
      <div class="navbar-collapse w-100 collapse" id="navbarCollapse">
        <!-- Nav Main menu START -->
        <!-- Nav item 4 Component-->
        <ul class="navbar-nav navbar-nav-scroll mx-auto">
          <!-- Nav technical focus START-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               id="technicalDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
              {% if focusBorder == "technical" %}
                <img src="{% static 'assets/images/symbol_technical_focus.svg' %}"
                     class="position-absolute start-0 top-50 translate-middle-y"
                     alt="technical colored icon"
                     style="width:35px" />
              {% else %}
                <img src="{% static 'assets/images/symbol_technical_focus_no.svg' %}"
                     class="position-absolute start-0 top-50 translate-middle-y"
                     alt="technical uncolored icon"
                     style="width:35px" />
              {% endif %}
              &nbsp; &nbsp; &nbsp; {% translate "Technisch" %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="technicalDropdown">
              <li>
                <a class="dropdown-item technical" href="{% url 'tool_list' %}">
                  {% translate "Digitale Werkzeuge" %}
                </a>
              </li>

              <li>
                <a class="dropdown-item technical" href="{% url 'app_list' %}">
                  {% translate "Digitale Anwendungen" %}
                </a>
              </li>

              <li>
                <a class="dropdown-item technical" href="{% url 'TechnicalStandards' %}">
                  {% translate "Technische Standards" %}
                </a>
              </li>

              <li>
                <a class="dropdown-item technical" href="{% url 'weatherdata_list' %}">
                  {% translate "Wetterdaten" %}
                </a>
              </li>
              <li>
                <a class="dropdown-item technical" href="{% url 'LastProfile' %}">
                  {% translate "Lastprofile" %}
                </a>
              </li>
              <li>
                <a class="dropdown-item technical technical-bottom" href="{% url 'dataset_list' %}">
                  {% translate "Datensätze" %}
                </a>
              </li>
            </ul>
          </li>
          <!-- Nav technical focus END -->
          <!-- Nav operational focus START-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               id="operationalDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
              {% if focusBorder == "operational" %}
                <img src="{% static 'assets/images/symbol_operational_focus.svg' %}"
                     class="position-absolute start-0 top-50 translate-middle-y"
                     alt="operational colored icon"
                     style="width:35px" />
              {% else %}
                <img src="{% static 'assets/images/symbol_operational_focus_no.svg' %}"
                     class="position-absolute start-0 top-50 translate-middle-y"
                     alt="operational uncolored icon"
                     style="width:35px" />
              {% endif %}
              &nbsp; &nbsp; &nbsp; {% translate "Betrieblich" %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="operationalDropdown">
              <li>
                <a class="dropdown-item operational" href="{% url 'businessModels' %}">
                  {% translate "Geschäftsmodelle" %}
                </a>
              </li>
              <!-- <li>
                <a class="dropdown-item" href="{% url 'businessModelsChallenge' %}">
                  {% translate "Geschäfts&shy;modell&shy;" %} - Herausforderungen
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'businessModelApplication' %}">
                  {% translate "Geschäfts&shy;modell&shy;anwendungen" %}
                </a>
              </li> -->
              <li>
                <a class="dropdown-item operational operational-bottom" href="{% url 'userEngagement' %}">
                  {% translate "Nutzendenintegration" %}
                </a>
              </li>
            </ul>
            <!-- Nav operational focus END-->
            <!-- Nav ecological focus START-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 id="ecologicalDropdown"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">
                {% if focusBorder == "ecological" %}
                  <img src="{% static 'assets/images/symbol_ecological_focus.svg' %}"
                       class="position-absolute start-0 top-50 translate-middle-y"
                       alt="ecological colored icon"
                       style="width:35px" />
                {% else %}
                  <img src="{% static 'assets/images/symbol_ecological_focus_no.svg' %}"
                       class="position-absolute start-0 top-50 translate-middle-y"
                       alt="ecological uncolored icon"
                       style="width:35px" />
                {% endif %}

                &nbsp; &nbsp; &nbsp; {% translate "Ökologisch" %}
              </a>
              <ul class="dropdown-menu" aria-labelledby="ecologicalDropdown">
                <li>
                  <a class="dropdown-item ecological"
                     href="{% url 'environmentalIntegrityNegativ' %}">
                    {% translate "Negative Umweltwirkungen" %}
                  </a>
                </li>
                <li>
                  <a class="dropdown-item ecological"
                     href="{% url 'environmentalIntegrityPositiv' %}">
                    {% translate "Positive Umweltwirkungen" %} - Good-practice
                  </a>
                </li>
              </li>
              <li>
                <a class="dropdown-item ecological ecological-bottom" href="{% url 'dataSufficiency' %}">
                  {% translate "Datensuffizienz" %}
                </a>
              </li>
            </ul>
          </li>
          <!-- Nav ecological focus END -->
          <!-- Nav legal focus START-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               id="legalDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
              {% if focusBorder == "legal" %}
                <img src="{% static 'assets/images/symbol_legal_focus.svg' %}"
                     class="position-absolute start-0 top-50 translate-middle-y"
                     alt="legal colored icon"
                     style="width:35px" />
              {% else %}
                <img src="{% static 'assets/images/symbol_legal_focus_no.svg' %}"
                     class="position-absolute start-0 top-50 translate-middle-y"
                     alt="legal uncolored icon"
                     style="width:35px" />
              {% endif %}

              &nbsp; &nbsp; &nbsp; {% translate "Rechtlich" %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="legalDropdown">
              <li>
                <a class="dropdown-item legal" href="{% url 'criteriaCatalog' %}">
                  {% translate "Kriterienkatalog" %}
                </a>
              </li>
              <li>
                <a class="dropdown-item legal" href="{% url 'dataSecurity' %}">
                  {% translate "Daten&shy;schutz&shy;übersicht" %}
                </a>
              </li>
              <li>
                <a class="dropdown-item legal legal-bottom" href="{% url 'iconsAndVis' %}">
                  {% translate "Icons und Visualisierung" %}
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               id="globalDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
              {% if focusBorder == "global" %}
                <img src="{% static 'assets/images/symbol_global_focus.svg' %}"
                     class="position-absolute start-0 top-50 translate-middle-y"
                     alt="global colored icon"
                     style="width:35px" />
              {% else %}
                <img src="{% static 'assets/images/symbol_global_focus_no.svg' %}"
                     class="position-absolute start-0 top-50 translate-middle-y"
                     alt="global uncolored icon"
                     style="width:35px" />
              {% endif %}

              &nbsp; &nbsp; &nbsp; {% translate "Global" %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="globalDropdown">
              <li>
                <a class="dropdown-item global" href="{% url 'use_cases_list' %}">
                  {% translate "Anwendungsfälle" %}
                </a>
              </li>
              <li>
                <a class="dropdown-item global" href="{% url 'publicationPage' %}">
                  {% translate "Veröffentlichungen" %}
                </a>
              </li>
              <li>
                <a class="dropdown-item global" href="/cesium">
                  {% translate "City GML Visualisierung" %}
                </a>
              </li>
            </li>
          </ul>
          <li class="flex-lg-grow-1" id="searchIconLi">
            <form method="POST"
                  class="d-flex"
                  action="{% url 'ResultSearch' %}"
                  id="search-form1">
              {% csrf_token %}
              <input id="searchText"
                     class="form-control me-1 flex-lg-grow-1"
                     type="search"
                     placeholder="{% translate 'Durchsuche die Plattform!' %}"
                     name="searchValue"
                     style="display: none;
                            width:975px"
                     nonce="{{ request.csp_nonce }}" />
              <button type="submit" style="border: none; background: none; padding: 0;">
                <img id="searchIcon"
                     src="{% static 'assets/images/search_icon_navbar.svg' %}" />
              </button>
            </form>
          </li>
        </ul>

        <!-- Nav Main menu END -->
      </div>
      <!-- Main navbar END -->

    </nav>
    <!-- Logo Nav END -->
  </header>
  <!-- Header END -->
  <script>
    $("#searchIconLi").on("mouseenter", function (){
      $("li.nav-item").css({
        display: "none"
      })
      $("#searchText").css({display: "inline"})
    }).on("mouseleave", function () {
      $("li.nav-item").css({
        display: "block"
      })
      $("#searchText").css({display: "none"})
    })
  </script>
