<ul class="list-inline mb-0">

  {% if  score == 0 %}
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>

  {% endif %}

  {% if  score == 1 %}
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>
  {% endif %}

  {% if score == 1.5 %}
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star-half-alt text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>

  {% endif %}
  {% if  score == 2 %}
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>
  {% endif %}

  {% if score == 2.5 %}
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star-half-alt text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>

  {% endif %}
  {% if  score == 3 %}
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>
  {% endif %}

  {% if score == 3.5 %}
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star-half-alt text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>

  {% endif %}
  {% if  score == 4 %}
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star text-warning"></i>
    </li>
  {% endif %}

  {% if score == 4.5 %}
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="far fa-star-half-alt text-warning"></i>
    </li>
  {% endif %}
  {% if  score == 5 %}
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>
    <li class="list-inline-item me-0 {{ class_small }}">
      <i class="fas fa-star text-warning"></i>
    </li>

  {% endif %}
</ul>
