{% load static %}
<style>
.link-navigator__icon {
    vertical-align: middle; /* Aligns the image vertically with the text */
    margin-right: 5px; /* Adds some space between the image and the text, adjust as needed */
    padding-bottom: 2px;
}
</style>
<div class="row">
  <div class="col-12 secondaryNavbar link-navigator">
    <div class="secondaryNavbarLeft">
      {% if backLinkParam %}
        <a href="{% url backLink backLinkParam %}"
           class="link-navigator__negative-{{ focusBorder }}">
        {% else %}
          <a href="{% url backLink %}"
             class="link-navigator__negative-{{ focusBorder }}">
          {% endif %}
          <img src="{% static imageInBackButton %}"
               alt="Caret left icon"
               class="link-navigator__icon" />
          {{ backLinkText }}
        </a>
      </div>
      {% if linkOnRightSiteBool %}
        <div class="secondaryNavbarRight">
          <a href="{% url linkOnRightSiteName %}">{{ linkOnRightSiteDescription }}
            <img src="{% static '/assets/images/right-arrow.svg' %}"
                 class="arrowImage" />
          </a>
        </div>
      {% endif %}
    </div>
  </div>
