{% load i18n %}
{% load static %}
<!-- <div class="col-xl-4" id="firstComparisonButtonTools">
    <h6 class="btn btn-{{ focusBorder }} mb-0 rounded z-index-1 w-100">
        {% translate "Vergleiche" %}
    </h6>
</div> -->

<div class="row g-3" id="comparisonBarTools">
  <div class="col-xl-6" id="secondComparisonButtonTools">
    <a href="#" id="comparisonUrlTools">
      <h6 class="btn btn-{{ focusBorder }} mb-0 rounded z-index-1 w-100">
        {% translate "Vergleiche" %}
      </h6>
    </a>
  </div>
  <div class="col-xl-6" id="cancelButtonTools">
    <h6 class="btn btn-{{ focusBorder }}-white-bg mb-0 rounded z-index-1 w-100">
      {% translate "Zurücksetzen" %}
    </h6>

  </div>
</div>
<!--ComparisonFeature-->
<script nonce="{{request.csp_nonce}}">var modelName = "{{ model }}";</script>
<script type="text/javascript" src="{% static 'js/toolComparison-feature.js' %}" nonce="{{request.csp_nonce}}">   
</script>
