{% load i18n %}
{% load static %}
<style>
  .mainContent {
      font-size: 22px;
      display: block;
  }
  .showMore {
      display: block; 
      width: 100%;
      padding: 24px;
      font-size: 22px;
      background-color: #F2F2F2;
  }
  .showMore a {
      color: #8FDE97;
  }
  .blockOfContent{
    display: block;
    margin-bottom: 20px;
  }

  #explanationText h2 {
    font-size: 22px;
  }

  #explanationText p, li {
    font-size: 16px !important;
  }

  #explanationText {
    margin-top: -80px;
    padding: 80px;
    background-color: #F2F2F2;;
  }

  table {
    width: 100%;
    font-size: 16px;
    background-color: #f1d8cf;
  }

  td {
    border: none;
    border-bottom: 1px solid #000000;
  }

  tr:last-child td {
    border-bottom: none;
  }

  .table-header__bold {
    font-weight: 600;
  }

  #textInExpansionButton {
    opacity: 0;
    color: #000000;
    transition: all 0.2s;
  }

  .collapsed #textInExpansionButton {
    opacity: 1;
  }

  .text-truncation-btn {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }
</style>
<div class="col-12 descriptionContainer {{ focusBorder }}-cards"
     style="margin-top: 24px">
  <div class="description-heading mb-3">
    {% if pathToImage %}
      <img src="{% static pathToImage %}"
           alt="Circle icon"
           class="description-heading__icon" />
    {% endif %}
    <p class="mb-0 description-heading__paragraph">{{ heading }}</p>
  </div>
  <div class="description-content">
    <div class="blockOfContent">
      {% if showMorePresent %}
        <p class="mainContent" id="mainContent"></p>
        <div class="showMore">
          <a role="button"
             class="collapsed text-truncation-btn {{ focusBorder }}-font-color"
             data-toggle="collapse"
             href="#explanationText"
             aria-expanded="false"
             aria-controls="collapseInfoTools"
          >
            <img id="plusOrMinusIcon" src="{% static 'assets/images/plus.svg' %}" />
            <span id="textInExpansionButton">Erfahre mehr über den Hintergrund dieses Themas</span>
          </a>
        </div>
        <div class="mainContent collapse col-lg-12 lead collapseInfo"
             id="explanationText"></div>
      </div>
    {% else %}
      <p class="mainContent" id="mainContent"></p>
    {% endif %}
  </div>
</div>
<script>
  $(document).ready(function() {
      var showMorePresent = '{{ showMorePresent }}'
      var explanationText = '{{ explanaitionText|safe }}'
      var numberOfInitialShownIntro = '{{ charNumberToShowCollapsed }}';
      var numberOfInitialShownIntro = parseFloat(numberOfInitialShownIntro);
      //debugger;
      if (showMorePresent == "True") {
        // split the explanationText into 2 parts
        var collapsedText = explanationText.slice(0, numberOfInitialShownIntro)
        var restOfText = explanationText.slice(numberOfInitialShownIntro)
        
        $("#mainContent").html(collapsedText);
        $("#explanationText").html(restOfText);
        //debugger;
      }
      else {
        $("#mainContent").html('{{ explanaitionText|safe }}');
      }
      var $collapseButton = $('.text-truncation-btn');
    var isExpanded = $collapseButton.attr('aria-expanded') === 'true';
    $collapseButton.text(isExpanded ? $collapseButton.data('expanded-text') : $collapseButton.data('collapsed-text'));

    // Change button text on click based on the collapse state
    $collapseButton.click(function() {
        var $this = $(this);
        var isExpanded = $this.attr('aria-expanded') === 'true';

        if (isExpanded) {
          $("#plusOrMinusIcon").attr("src", "{% static 'assets/images/plus.svg' %}");
        } else {
          $("#plusOrMinusIcon").attr("src", "{% static 'assets/images/minus.svg' %}");
        }

        setTimeout(function() { // Use setTimeout to wait for the collapse action to complete
            $this.text(isExpanded ? $this.data('expanded-text') : $this.data('collapsed-text'));
        }, 350); // Adjust timeout duration if necessary
    });
  });
</script>
