{% load i18n %}
{% load static %}
<style>
  .mainContent {
      font-size: 22px;
      display: inline;
  }
  .showMore {
      display: inline;
      
      font-size: 22px;
  }
  .showMore a {
      color: #8FDE97;
  }
  .blockOfContent{
    display: block;
    margin-bottom: 20px;
  }
</style>
<div class="col-12 descriptionContainer {{ focusBorder }}-cards"
     style="margin-top: 24px">
  <div class="description-heading mb-3">
    {% if pathToImage %}
      <img src="{% static pathToImage %}"
           alt="Circle icon"
           class="description-heading__icon" />
    {% endif %}
    <p class="mb-0 description-heading__paragraph">{{ heading }}</p>
  </div>
  <div class="description-content">
    <div class="blockOfContent">
      {% if showMorePresent %}
        <p class="mainContent" id="mainContent"></p>
        <div class="mainContent collapse col-lg-12 lead collapseInfo"
             id="explanationText"></div>
        <div class="showMore">
          <a role="button"
             class="collapsed text-truncation-btn {{ focusBorder }}-font-color"
             data-toggle="collapse"
             href="#explanationText"
             aria-expanded="false"
             aria-controls="collapseInfoTools"
             data-expanded-text="{% translate 'Zeige weniger ...' %}"
             data-collapsed-text="{% translate 'Zeige mehr ...' %}"></a>
        </div>
      </div>
    {% else %}
      <p class="mainContent" id="mainContent"></p>
    {% endif %}
  </div>
</div>
<script>
  $(document).ready(function() {
      var showMorePresent = '{{ showMorePresent }}'
      var explanationText = '{{ explanaitionText|safe }}'
      var numberOfInitialShownIntro = '{{ charNumberToShowCollapsed }}';
      var numberOfInitialShownIntro = parseFloat(numberOfInitialShownIntro);
      //debugger;
      if (showMorePresent == "True") {
        // split the explanationText into 2 parts
        var collapsedText = explanationText.slice(0, numberOfInitialShownIntro)
        var restOfText = explanationText.slice(numberOfInitialShownIntro)
        
        $("#mainContent").html(collapsedText);
        $("#explanationText").html(restOfText);
        //debugger;
      }
      else {
        $("#mainContent").html('{{ explanaitionText|safe }}');
      }
      var $collapseButton = $('.text-truncation-btn');
    var isExpanded = $collapseButton.attr('aria-expanded') === 'true';
    $collapseButton.text(isExpanded ? $collapseButton.data('expanded-text') : $collapseButton.data('collapsed-text'));

    // Change button text on click based on the collapse state
    $collapseButton.click(function() {
        var $this = $(this);
        setTimeout(function() { // Use setTimeout to wait for the collapse action to complete
            var isExpanded = $this.attr('aria-expanded') === 'true';
            $this.text(isExpanded ? $this.data('expanded-text') : $this.data('collapsed-text'));
        }, 350); // Adjust timeout duration if necessary
    });
  });
</script>
