{% load static %}
{% load i18n %}
<div class="col-12 descriptionContainer {{ focusBorder }}-cards"
     style="margin-top: 24px">
  <div class="description-heading mb-3">
    {% if pathToImage %}
      <img src="{% static pathToImage %}"
           alt="Circle icon"
           class="description-heading__icon" />
    {% endif %}
    <p class="mb-0 description-heading__paragraph">{{ heading }}</p>
  </div>
  <div class="description-content">
    <div class="mainContent col-lg-12">
      <p>{{ introductionText }}</p>
    </div>
    <div class="row">
      <div class="col-lg-12" style="margin-top: 20px; margin-bottom: 36px;">
        <div class="{{ focusBorder }}ShowMore">
          <a role="button"
             class="collapsed text-truncation-btn showMoreCriteriaCatalog"
             data-toggle="collapse"
             href="#explanationText"
             aria-expanded="false"
             aria-controls="collapseInfoTools"
             style="color: black">
            <img id="plusOrMinusIcon" src="{% static 'assets/images/plus.svg' %}" />
            <span id="textInExpansionButton">{% blocktranslate %}Erfahre mehr über den Hintergrund dieses Themas{% endblocktranslate %}</span>
          </a>
        </div>
        <div class="{{ focusBorder }}Collapse collapse card-body"
             id="explanationText">
          {% include pathToExplanationTemplate %}

        </div>
      </div>

    </div>
  </div>
</div>
