{% load static %}
{% load i18n %}
<div style="font-size: 22px;">
  <p>
  {% blocktranslate %}Icons können auch im Gebäude- und Quartiersbereich die grafische Aufbereitung komplexer Sachverhalte unterstützen. In Zusammenarbeit mit dem Projekt <u>“Privacy Icons”</u> der Forschungsgruppe Digitale Selbstbestimmung wurden zu diesem Zweck Open-Source Icons entwickelt und zur freien Nutzung und Änderung freigegeben. {% endblocktranslate %}
  </p>
  <p>
  {% blocktranslate %}Das Set besteht aktuell aus über 150 individuelle Icons und dient dabei insbesondere:{% endblocktranslate %}
  </p>
  <ul>
    <li>
      {% blocktranslate %}der effektiven Umsetzung datenschutzrechtlicher Transparenz- und Informationspflichten gegenüber betroffenen Personen (z.B. in Datenschutzhinweisen),{% endblocktranslate%}
    </li>
    <li>
      {% blocktranslate %}der Visualisierung der Funktionsweise digitaler Anwendungen im Gebäude- und Quartiers-Bereich - gegenüber Kunden sowie Fachpublikum (siehe z.B. Beispiele in der Datenschutzübersicht){% endblocktranslate %}
    </li>
    <li>
      {% blocktranslate %}der Wissenskommunikation und verständlichen Aufbereitung von Forschungsergebnissen. {% endblocktranslate %}
    </li>
  </ul>
  <p>
  {% blocktranslate %}Geplant ist zusätzlich die Veröffentlichung eines Sets von Gebäudegrafiken und anderer Visualisierungskomponenten, um den Nutzenden einen “Baukasten” zur Visualisierung eines Projekts oder einer individuellen Anwendung bereitzustellen.{% endblocktranslate %}
  </p>
</div>
<div>
  <img src="{% static 'img/iconsOverview.png' %}" alt="image_icons" />
</div>
