{% load static %}
<div style="font-size: 22px;">
  <p>
    Icons können auch im Gebäude- und Quartiersbereich die grafische Aufbereitung komplexer Sachverhalte unterstützen. In Zusammenarbeit mit dem Projekt <u>“Privacy Icons”</u> der Forschungsgruppe Digitale Selbstbestimmung wurden zu diesem Zweck Open-Source Icons entwickelt und zur freien Nutzung und Änderung freigegeben.
  </p>
  <p>
    Das Set besteht aktuell aus über 150 individuelle Icons und dient dabei insbesondere:
  </p>
  <ul>
    <li>
      der effektiven Umsetzung datenschutzrechtlicher Transparenz- und Informationspflichten gegenüber betroffenen Personen (z.B. in Datenschutzhinweisen),
    </li>
    <li>
      der Visualisierung der Funktionsweise digitaler Anwendungen im Gebäude- und Quartiers-Bereich - gegenüber Kunden sowie Fachpublikum (siehe z.B. Beispiele in der Datenschutzübersicht)
    </li>
    <li>
      der Wissenskommunikation und verständlichen Aufbereitung von Forschungsergebnissen.
    </li>
  </ul>
  <p>
    Geplant ist zusätzlich die Veröffentlichung eines Sets von Gebäudegrafiken und anderer Visualisierungskomponenten, um den Nutzenden einen “Baukasten” zur Visualisierung eines Projekts oder einer individuellen Anwendung bereitzustellen.
  </p>
</div>
<div>
  <img src="{% static 'img/iconsOverview.png' %}" alt="image_icons" />
</div>
