{% extends 'base.html' %}
{% block title %}Überblick über die technischen Standards{% endblock %}
{% block content %}
{% load static %} 

<!-- =======================
Page Banner START -->
<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="p-2 text-left rounded-3">
          <h2 class="m-0">Technische Standards</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =======================
Page Banner END -->
<section class="py-4">
  <div class="container">
    <!-- row notes START -->
    <div class="row"> 
        <ul>
          <p class="lead">
            Normen und Protokolle spielen eine zentrale Rolle im Kontext der Gebäudeautomation und auch in der Energiewende im Gebäubesektor. 
            Mit Hilfe von Normen sollen Standards und Richtlinien festgelegt werden, die sicherstellen, 
            dass Gebäude entsprechend der neuesten technologischen Entwicklungen und nachhaltigen Prinzipien gestaltet,
            gebaut und betrieben werden. Diese Normen decken Aspekte wie Wärmedämmung, Energieeffizienz von Heizungs-, 
            Lüftungs- und Klimatechnik sowie den Einsatz erneuerbarer Energiequellen ab. Sie dienen als Leitfaden für Architekten, 
            Bauherren und Fachleute der Baubranche, um Gebäude zu schaffen, die den höchsten Standards der Energieeffizienz 
            entsprechen und so zur Reduzierung des Energieverbrauchs und der Umweltauswirkungen beitragen.
          </p>
          <p class="lead">
            Mit Hilfe von moderner Gebäudeautomation und deren intelligente Steuerung und Überwachung von Gebäudetechnik und -systemen kann
der Energieverbrauch optimiert werden. Dazu sind Protokolle notwendig, die spezifische Kommunikations- und 
            Steuerungsstandards definieren, um eine nahtlose Interaktion zwischen verschiedenen Komponenten der Gebäudeautomatisierung 
            zu gewährleisten. Diese Protokolle ermöglichen die Vernetzung von Beleuchtungs-, Heizungs-, Kühlungs-, Lüftungs- 
            und Sicherheitssystemen, um den Energieverbrauch zu regulieren und den Komfort für die Bewohner zu maximieren.
            Sie sorgen dafür, dass Gebäude effizient arbeiten, indem sie Daten sammeln, analysieren und auf Grundlage von vordefinierten 
            Algorithmen automatisierte Aktionen auslösen. Normen und Protokolle sind somit Schlüsselelemente, die dazu beitragen, 
            die Ziele der Energiewende im Gebäudesektor und der intelligenten Gebäudeautomation erfolgreich umzusetzen.
          </p>          
        </ul>
    </div>
    <!-- row notes END -->

    <!-- row norm START -->
    <div class="row " id="collapseInfoContainerNorm">
        <h3><b>Normen</b></h3>
        <div class="row collapseInfoContainer" id="collapseInfoContainerNorm">
          <div class="col-lg-12 collapse lead collapseInfo" id="collapseInfoNorm">
            <p> Auf der Seite befinden sich unterschiedlichen technische Normen,
              die im Herbst 2022 erfasst worden sind. Diese sind durch Recherche in 
              Softwarekatalogen, Normendatenbanken und in Forschungsprojekten der Energiewendebauen
              Projekte erfasst worden. Es handelt sich um deutsche, österreichische, 
              europäische oder internationale Standards und Richtlinien für die Planung, 
              den Bau, und/oder den Betrieb von Lüftungs-, Trinkwasser-, Warmwasser-, 
              Entwässerungs-, Heizungs-, Kühl-, und sonstige Energiesystemen in Gebäuden. 
              Andere technische Standards, wie Schallschutz, Beleuchtung, und Gasinstallation,
              sind ebenfalls enthalten. Für jede Norm wurden die folgenden Aspekte
              erfasst: </p>
            <ul>
              <li class="lead">
                <b>Name und vollständiger Titel der Norm</b>
              </li>
              <li class="lead">
                <b>Kurzbeschreibung</b>&nbsp;&ndash; um was handelt es sich?</li>
              <li class="lead">
                <b>Quelle</b>&nbsp;&ndash; woher kann die Norm bezogen werden?</li>
              <li class="lead">
                <b>Link</b>&nbsp;&ndash; ein Link, über den die Norm abgerufen (ggf.
                gekauft) werden kann.</li>
            </ul>
          </div>
          <div class="col-lg-12 lead mt-3">
            <a role="button" class="collapsed text-truncation-btn"
              data-toggle="collapse" href="#collapseInfoNorm" aria-expanded="false"
              aria-controls="collapseInfoNorm"></a>
          </div>
      </div> 
    <!-- row norm END -->
    </div>
    <!-- link norm START -->
    <div class="row py-5">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-10">
        <a href="{% url 'TechnicalStandards_norm_list' %}" id="linkToNorms">
          <img src="{% static '/img/TechnicalStandards/norm.png' %}"
               style="max-height:30px;" alt="Bild Normen">
               Überblick über die Normen
        </a>
      </div>
    </div>
    <!-- link norm  END -->
<!-- row protocol START -->
<div class="row " id="collapseInfoContainerProtocol">
  <h3><b>Protokolle</b></h3>
  <div class="row collapseInfoContainer" id="collapseInfoContainerProtocol">
    <div class="col-lg-12 collapse lead collapseInfo" id="collapseInfoProtocol">
      <p> Auf der Seite sind verschiedenen Protokolle,
        die im Sommer 2023 erfasst worden sind, ausführlich beschrieben. Diese sind durch Recherche in 
        der entsprechenden Fachliteratur, in Dokumentationen von Hard- und Software, und in Unterlagen aus den 
        Forschungsprojekten der Energiewendebauen zusammengetragen worden. 
        Wir haben 12 häufig verwendete und moderne Protokolle ausgewählt und für diese die 
          folgenden Eigenschaften zusammengefasst:
      </p>
      <ul>
        <li class="lead">
          <b>Name des Protokolls</b>
        </li>
        <li class="lead">
          <b>Übertragungsmethoden</b>&nbsp;&ndash; wie werden Daten zwischen den 
          verschiedenen Komponenten und Geräten innerhalb des Systems übertragen (verkabelt, drahtlos oder verkabelt & drahtlos)?</li>
        <li class="lead">
          <b>Unterstützte Übertragungsmedien</b>&nbsp;&ndash; wie werden Signale übertragen?</li>
        <li class="lead">
          <b>Zugehörige Standards</b>&nbsp;&ndash; spezifische Standards, denen jedes Protokoll zugeordnet werden kann.</li>
        <li class="lead">
          <b>Open-Source-Status</b>&nbsp;&ndash; ist das Protokoll öffentlich und frei verfügbar?</li>
        <li class="lead">
          <b>Lizenzgebühr</b>&nbsp;&ndash; ist eine Gebühr zur Abdeckung der Kosten für die Nutzungund/oder die Zertifizierung fällig?</li>
        <li class="lead">
          <b>Netzwerktopologie</b>&nbsp;&ndash; was ist die physische und logische Anordnung von Geräten und Komponenten in einem Netzwerk?</li>
        <li class="lead">
          <b>Implementierte Sicherheitsmechanismen</b>&nbsp;&ndash; ob und welche Mechanismen sind im Protokoll implementiert, um die Datensicherheit zu gewährleisten?</li>
        <li class="lead">
          <b>Bandbreite</b>&nbsp;&ndash; die Kapazität des Kommunikationskanals, Daten zwischen den verschiedenen Komponenten des Systems zu übertragen.</li>
        <li class="lead">
          <b>Frequenz</b>&nbsp;&ndash; die Frequenz, die Wellenlänge oder die Trägerfrequenz, die von den drahtlosen Kommunikationsgeräten im System verwendet wird.</li>
        <li class="lead">
          <b>Reichweite</b>&nbsp;&ndash; die maximale Entfernung, über die die Kommunikation zwischen den verschiedenen Geräten und Komponenten des Systems aufrechterhalten werden kann, ohne dass die Signalstärke zu schwach wird.</li>
        <li class="lead">
          <b>Implementierte OSI-Schichten</b>&nbsp;&ndash; die Anwendung der Schichten des OSI-Referenzmodells für die Kommunikation zwischen den verschiedenen Komponenten des Systems.</li>
        <li class="lead">
          <b>Ebenen der Gebäudeautomation</b>&nbsp;&ndash; die hierarchische Struktur eines Gebäudeautomation Systems.</li>
        <li class="lead">
          <b>Datenmodell Architektur</b>&nbsp;&ndash; wie werden Informationen oder Attribute zu einem Objekt hinzugefügt?</li>
        <li class="lead">
          <b>Discovery</b>&nbsp;&ndash; ob das Protokoll die „Discovery“ Funktion verfügt, um Geräte bei der Datenübertragung automatisch zu identifizieren?</li>
        <li class="lead">
          <b>Multi Master</b>&nbsp;&ndash; können mehrere Mastergeräte zeitgleich agieren?</li>
        <li class="lead">
          <b>Priorität</b>&nbsp;&ndash; Vorgehen, wie die Änderungen oder Aktualisierungen vorgenommen werden.</li>
        <li class="lead">
          <b>Typische Anwendung</b>&nbsp;&ndash; ggf. Beispielhafte Anwendung.</li>
        </ul>
    </div>
    <div class="col-lg-12 lead mt-3">
      <a role="button" class="collapsed text-truncation-btn"
        data-toggle="collapse" href="#collapseInfoProtocol" aria-expanded="false"
        aria-controls="collapseInfoProtocol"></a>
    </div>
</div> 
<!-- row protocol END -->
</div>
<!-- row protocol link START -->
<div class="row py-5">
<div class="col-lg-2">
</div>
<div class="col-lg-10">
  <a href="{% url 'TechnicalStandards_protocol_list' %}" id="linkToProtocols">
    <img src="{% static '/img/TechnicalStandards/protocol.png' %}"
         style="max-height:30px;" alt="Bild Protokolle">
         Überblick über die Protokolle
  </a>
</div>
</div>
<!-- link protocol link END -->
    
  </div>
</section>

{% endblock %}
