{% load static %} <section class="py-4">
  <div class="container">
    <div class="row collapseInfoContainer" id="collapseInfoContainerProtocols">
      <div class="col-lg-12 collapse lead collapseInfo" id="collapseInfoProtocols">
        <p><b>Was sind Gebäudeautomation (GA; Building Automation)? </b> </p>
        <p>Die Gebäudeautomation revolutioniert die Art und Weise, wie Gebäude betrieben, 
          gesteuert und überwacht werden. Sie ist ein fortschrittliches System, das moderne 
          Technologie nutzt, um die Effizienz, den Komfort und die Sicherheit von Gebäuden 
          zu optimieren.  Es integriert verschiedene Systeme wie HLK (Heizung, Lüftung, 
          Klimatechnik), Beleuchtung, Sicherheit und mehr in eine zentrale Plattform zur 
          effizienten Steuerung und Überwachung. Die Hauptvorteile von GA sind verbesserte 
          Energieeffizienz, geringere Betriebskosten, erhöhter Komfort für die Bewohner 
          und vereinfachte Wartung. Ein GA besteht in der Regel aus drei logischen Ebenen: 
          der Feldebene (Sensoren und Aktoren), der Automatisierungsebene (Steuerungen) 
          und der Managementebene (Überwachungssoftware).
        </p>
        <p><b>
          Warum brauchen wir Protokolle in der Gebäudeautomation?</b></p>
        <p>Protokolle sind in der Gebäudeautomation unverzichtbar, da sie eine nahtlose 
          Kommunikation zwischen verschiedenen Geräten und Systemen innerhalb des Gebäudes 
          ermöglichen. In der Gebäudeautomation kommen oft Produkte verschiedener Hersteller 
          zum Einsatz, die möglicherweise proprietäre Kommunikationsmethoden verwenden. 
          Protokolle dienen als gemeinsame Sprache, die Interoperabilität gewährleistet 
          und Datensilos beseitigt. Sie erleichtern den Datenaustausch in Echtzeit, ermöglichen 
          schnelle Reaktionen auf veränderte Bedingungen und verbessern die Gesamteffizienz des Systems.
        </p>
        <p>
          Auf der Seite sind verschiedenen Protokolle,
          die im Sommer 2023 erfasst worden sind, ausführlich beschrieben. Diese sind durch Recherche in 
          Dokumentation von Entwicklern, Literaturen und in Forschungsprojekten der Energiewendebauen
          Projekte erfasst worden. Wir haben 12 beliebte und moderne Protokolle ausgewählt und die 
          folgenden Eigenschaften für sie zusammengefasst:
        </p>
          <ul>
            <li class="lead">
              <b>Name des Protokolls</b>
            </li>
            <li class="lead">
              <b>Übertragungsmethoden</b>&nbsp;&ndash; wie werden Daten zwischen den 
              verschiedenen Komponenten und Geräten innerhalb des Systems übertragen (verkabelt, drahtlos oder verkabelt & drahtlos)?</li>
            <li class="lead">
              <b>Unterstützte Übertragungsmedien</b>&nbsp;&ndash; Wie werden Signale übertragen?</li>
            <li class="lead">
              <b>Zugehörige Standards</b>&nbsp;&ndash; Spezifische Standards, denen jedes Protokoll entspricht.</li>
            <li class="lead">
              <b>Open-Source-Status</b>&nbsp;&ndash; ist das Protokoll öffentlich und frei verfügbar?</li>
            <li class="lead">
              <b>Lizenzgebühr</b>&nbsp;&ndash; ist ein Gebühr zur Abdeckung der Kosten für Tests und Zertifizierung erforderlich?</li>
            <li class="lead">
              <b>Netzwerktopologie</b>&nbsp;&ndash; was ist die physische und logische Anordnung von Geräten und Komponenten in einem Netzwerk?</li>
            <li class="lead">
              <b>Implementierte Sicherheitmechanismen</b>&nbsp;&ndash; ob und welche Mechanismen sind im Protokoll implementiert, um die Datensicherheit zu gewährleisten?</li>
            <li class="lead">
              <b>Bandbreite</b>&nbsp;&ndash; die Kapazität des Kommunikationskanals, Daten zwischen den verschiedenen Komponenten des Systems zu übertragen.</li>
            <li class="lead">
              <b>Frequenz</b>&nbsp;&ndash; die Frequenz die Wellenlänge oder die Trägerfrequenz, die von den drahtlosen Kommunikationsgeräten im System verwendet wird.</li>
            <li class="lead">
              <b>Reichweite</b>&nbsp;&ndash; ie maximale Entfernung, über die die Kommunikation zwischen den verschiedenen Geräten und Komponenten des Systems aufrechterhalten werden kann, ohne dass die Signalstärke zu schwach wird.</li>
            <li class="lead">
              <b>Implementierte OSI-Schichten</b>&nbsp;&ndash;  die Anwendung der Schichten des OSI-Referenzmodells für die Kommunikation zwischen den verschiedenen Komponenten des Systems.</li>
            <li class="lead">
              <b>Ebenen der Gebäudeautomation</b>&nbsp;&ndash;die hierarchische Struktur eines Gebäudeautomation Systems</li>
          
        </ul>
      </div>
      <div class="col-lg-12 lead mt-3">
        <a role="button" class="collapsed text-truncation-btn"
          data-toggle="collapse" href="#collapseInfoProtocols" aria-expanded="false"
          aria-controls="collapseInfoProtocols"></a>
      </div>
    </div>
  </div>
</section>
