{% load static %}
{% load i18n %}
<style>
    .columnHeading {
        text-decoration: underline;
    }
</style>
<h6>{{ boxObject.challenge }}</h6>
<p>
    <span class="columnHeading">{{ boxObject.property1 }}</span>
</p>
<p>
    <span class="columnHeading">{{ boxObject.property2 }}</span>
</p>
<p>
    <span class="columnHeading">{{ boxObject.property3 }}</span>
</p>
<p>
    <span class="columnHeading">{{ boxObject.property4 }}</span>
</p>
<p>
    <span class="columnHeading">{{ boxObject.property5 }}</span>
</p>
