{% load i18n %}
{% load static %}
<div class="col-12 col-lg-6 box border-{{ focusBorder }}" id="box1">
    <a href="{% url 'userEngagementDetails' boxObject.id %}"
       style="color: inherit;
              text-decoration: none;
              font-style: normal">
        <div class="row box__content">
            <div class="col-12" style="display: flex; justify-content: space-between">
                <h6 class="boxHeading mb-4">{{ boxObject.category }}</h6>
                <img src="{% static boxObject.imageIcon %}" />
            </div>
            <div class="box-content__main">
                <div class="col-12 content-left">
                    <p class="boxDescription">{{ boxObject.categoryShortDescription }}</p>
                </div>
            </div>
        </div>
    </a>
</div>
