{% load i18n %}
{% load template_tags %}
{% if boxObject.name %}
  <h5 class="mb-3">{% translate "Was ist" %} {{ boxObject.name }}?</h5>
  <p>{{ boxObject.description }}</p>
{% endif %}
  <h5 class="mt-4">{% translate "weitere Informationen" %}</h5>
  <p>{{ boxObject.furtherInformation }}</p>
<h5 class="mt-4">{% translate "Einsatzbereich" %}</h5>
<p>
  {{ boxObject|get_m2m_or_attr:"applicationArea__applicationArea" }}
</p>
<h5 class="mt-4">{% translate "Verwendung" %}</h5>
<p>
  {{ boxObject|get_m2m_or_attr:"usage__usage" }}
</p>
<h5 class="mt-4">{% translate "Nutzerschnittstelle" %}</h5>
<p>
{{ boxObject|get_m2m_or_attr:"userInterface__userInterface" }}<br />
  {{ boxObject|get_m2m_or_attr:"userInterfaceNotes" }} 
</p>
<h5 class="mt-4">{% translate "Lizenz" %}</h5>
<p class="mb-0">{{ boxObject|get_m2m_or_attr:"license__license" }}<br />
{{ boxObject|get_m2m_or_attr:"licenseNotes" }}</p>
                  <h5 class="mt-4">{% translate "Ist das Tool veröffentlicht?" %}</h5>
                  {% if boxObject.released == True %}
                    <p class="mb-0">{% translate "Ja" %}</p>
                    {% if boxObject.yearOfRelease %}
                      <h5 class="mt-4">{% translate "Veröffentlichungsjahr" %}</h5>
                      <p class="mb-0">{{ boxObject.yearOfRelease }}</p>
                    {% endif %}
                  {% else %}
                    <p class="mb-0">Nein</p>
                    {% if tool.releasedPlanned %}
                      <h5 class="mt-4">{% translate "Ist eine Veröffentlichung geplant?" %}</h5>
                      {% if tool.releasedPlanned == True %}
                        <p class="mb-0">Ja</p>
                      {% else %}
                        <p class="mb-0">Nein</p>
                      {% endif %}
                    {% endif %}
                  {% endif %}
<h5 class="mt-4">{% translate "Informationsquellen" %}</h5>
                  <p class="mb-0">
                    {% for link in resources %}

                      <a href="{{ link }}" target="_blank">{{ link }}</a>
                    </p>
                  {% endfor %}
