{% load static %}
{% load i18n %}
<style>
  .row.collapseInfoContainer {
    flex-direction: column-reverse;
  }
  .collapse,
  .collapse + div,
  .collapse + div .showMore {
    transition: background-color 0.2s;
  }
  .collapse.show,
  .collapse.show + div,
  .collapse.show + div .showMore {
    background-color: #E3EAFD !important;
  }
  .minus__icon {
    display: none;
  }
  .collapse.show + div .minus__icon {
    display: block;
  }
  .collapse.show + div #plusOrMinusIcon {
    display: none;
  }
  .collapse.show + div {
    #textInExpansionButton {
      display: none;
    }
  }
  .showMore {
      display: flex; 
      align-items: center;
      gap: 16px;
      width: 100%;
      padding: 24px;
      font-size: 22px;
      background-color: #F2F2F2;
  }
  .collapseInfo {
    padding: 80px;
    padding-top: 24px;
  }
</style>
<section class="py-4">

  <div class="container">
    <div class="row collapseInfoContainer" id="collapseInfoContainerTools">
      <div class="col-lg-12 collapse lead collapseInfo" id="collapseInfoTools">
        <p>
          {% blocktranslate %}Die hier vorgestellten digitalen Werkzeuge entsprechen den Werkzeugen, die im Rahmen der Auswertung
          des Fragebogens der wissenschaftlichen Begleitforschung der Forschungsinitiative Energiewendebauen von 
          2021 und 2023 erfasst wurden. Alle digitalen Werkzeuge werden dementsprechend von Projekten eingesetzt, 
          entwickelt oder weiterentwickelt, die im Rahmen der Forschungsinitiative Energiewendebauen gefördert werden. <br />
          Generell wird hier  zwischen digitalen Werkzeugen und digitalen Anwendungen unterschieden <br />
          Ein digitales Werkzeug ist ein Stück Software, das in Verbindung mit anderen Werkzeugen von Entwicklern oder Ingenieuren verwendet wird, 
          um Produkte mit bestimmten Funktionalitäten zu erstellen. Frameworks, Bibliotheken, Programmiersprachen und Standards sind ebenfalls unter Werkzeuge aufgeführt. <br />
          Eine digitale Anwendung hingegen ist ein Stück Software, das einen bestimmten Anwendungsfall allein abdeckt. 
          In der Regel setzt sich eine digitale Anwendung  als eine Verkettung von Werkzeugen, mit möglicher direkter Interaktion mit dem Endbenutzer, zusammen. 
          Plattformen sind ebenfalls unter Anwendungen aufgeführt. <br />
          Es ist durchaus möglich, ein Werkzeug zu haben, das auch als Anwendung klassifiziert werden kann. <br />
          In einem ersten Schritt sammeln wir diese digitalen Werkzeuge und Anwendungen und stellen sie Ihnen als Übersicht und Inspiration zur 
          Verfügung. Eine detaillierte Zusammenstellung der Werkzeuge und Anwendungen kann nur gemeinsam mit den Anwendern erfolgen, sprechen 
          Sie uns daher gerne an. Wir freuen uns auf Ihre Anwendungsbeispiele aus Ihren Projekten.
          <br />
          Bei der Zusammenstellung der Werkzeuge haben wir folgende Aspekte berücksichtigt:{% endblocktranslate %}
        </p>
        <ul>
          <li class="lead">
            <b>{% translate "Kurzbeschreibung" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Um was handelt es sich?{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Einsatzbereich" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Was beschreiben die Entwicklenden als Einsatzsbereich ihres digitalen Werkzeugs?
            Optionen sind Verwaltung, Forschung/Lehre, Industrie, und Dienstleistung.{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Nutzung" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Zu welchem Zweck wird das Werkzeug eingesetzt?
            Optionen sind Simulation, Monitoring, Optimierung, Planung, Steuerung, Regelung.{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Lebenszyklusphase" %}</b>&nbsp;&ndash;
            {% blocktranslate %}In welcher Phase des Produktlebenszyklus wird das Werkzeug eingesetzt?
            Hier sind die Phasen Vorplanung, Planung, Umsetzung und Betrieb berücksichtigt.{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Nutzerschnittstelle" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Wie können Nutzende das digitale Werkzeug bedienen?
            Benötigt es eine eigenständige Installation, gibt es eine webbasierte Oberfläche oder bspw. über die Kommandozeile?{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Zielgruppe" %}</b>&nbsp;&ndash;
            {% blocktranslate %}An wen richtet sich das digitale Werkzeug laut eigener Aussage?
            In der Regel können digitale Werkzeuge von allen genutzt werden.{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Letztes Update" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Wann ist das letzte Update erfolgt.
            Insbesondere bei digitalen Werkzeugen, 
            welche im Rahmen von Forschungsprojekten entwickelt werden, 
            kann nach Abschluss des Projektes die Weiterentwicklung bzw. die Wartung eingestellt werden.{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Zugänglichkeit" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Wie zugänglich ist das Werkzeug? Ist es kostenpflichtig, open-source oder freeware?{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Lizenz" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Unter welcher Lizenz wurde das digitale Werkzeug veröffentlicht und entstehen Kosten
            durch die Anwendung des digitalen Werkzeugs?{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Alternativen" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Benennung von konkreten Beispielen für den Einsatz von Werkzeugen im Bausektor/Energiewendebauen (bspw. Förderkennzeichen).{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Konkrete Anwendungsfälle" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Benennung von konkreten Beispielen für den Einsatz von Werkzeugen im Bausektor/Energiewendebauen (bspw. Projekt Nummer).{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Entwicklende / Maintainer" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Wer ist für die Entwicklung und Wartung des Werkzeugs verantwortlich?{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Generelle Art des Werkzeugs" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Welcher Art ist das Werkzeug?
            Handelt es sich um ein digitales Werkzeug, ein Framework/eine Bibliothek, eine Programmiersprache, einen Standard oder auch eine Anwendung?{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Veröffentlicht" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Ist eine Veröffentlichung geplant? (falls noch nicht erfolgt){% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Veröffentlichung geplant" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Falls das Werkzeug noch nicht veröffentlicht ist, ist eine Veröffentlichung geplant?{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Jahr der Veröffentlichung" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Falls das Werkzeug veröffentlicht ist, in welchem Jahr wurde es veröffentlicht?{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Informationsquellen" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Quelle für weitere Information zum Werkzeug, z.B. git-Repo, Projektwebseite.{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Entwicklungsstand" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Was ist der aktuelle Entwicklungsstand? Dabei sind folgende Optionen möglich:{% endblocktranslate %}
            <ol>
              <li>{% translate "erster Entwurf (pre-Alpha)" %}</li>
              <li>{% translate "wesentliche Funktionen (Alpha)" %}</li>
              <li>{% translate "noch nicht vollständig gestetet (Beta)" %}</li>
              <li>
                {% translate "alle Funktion erhalten, evtl. Fehler enthalten (Release Canditate - RC)" %}
              </li>
              <li>{% translate "bereit für den produktiven Einsatz (Released)" %}</li>
            </ol>
          </li>
          <li class="lead">
            <b>{% translate "Programmiersprache" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Welche Programmiersprache ist bei der Umsetzung des Werkzeugss hauptsächlich genutzt?{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Wichtigste Framework / Bibliotheken" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Was sind die wichtigsten Frameworks oder Bibliotheken bei der Umsetzung?{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Datenbanksystem" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Welches Datenbanksystem verwendet das Werkzeug?{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Räumliche Größenordnung der Anwendungsfälle" %}</b>&nbsp;&ndash;
            {% blocktranslate %}In welcher Größenordnung wird das Werkzeug angewendet? Findet das Werkzeug in
            einer Komponente, einer Anlage, einem Gebäude, oder in einem Quartier/Netz oder einer/em Region/Land?{% endblocktranslate %}
          </li>
          <li class="lead">
            <b>{% translate "Normen/Standards" %}</b>&nbsp;&ndash;
            {% blocktranslate %}Welche Normen oder Standards dienen als Basis bzw. Orientierung für das Werkzeug?{% endblocktranslate %}
          </li>
        </ul>
        <p>{% translate "Weiterführende Informationen:" %}</p>
        <p>
          <a href="https://simquality.de/tools/" target="_blank">https://simquality.de/tools</a>
        </br />
        {% blocktranslate %}Im Projekt Simquality wurden Informationen und Daten rund um das Thema Qualitätssicherung und Standardisierung von Simulationsverfahren gesammelt.
          Bestandteil des Projektes war die unabhängige Prüfung von Simulationssoftware. 
          Auf der oben genannten Website sind weiterführende Informationen zu IDA ICE, EDSL-TAS, NANDRAD, ETU Simulation, THERAKLES, TRNSYS und AixLib einsehbar.{% endblocktranslate %}
      </p>
      <p>
        <a href="https://github.com/protontypes/open-sustainable-technology"
           target="_blank">
          https://github.com/protontypes/open-sustainable-technology
        </a>
      </br />
      {% blocktranslate %}Das Projekt Open Sustainable Technology sammelt offene,
          nachhaltige und aktive Projekte, welche zum Ziel haben eine
          nachhaltige Energieversorgung zu ermöglichen. Dabei werden
          Standards, Daten oder Programme gesammelt. Es erfolgt keine
          weitere Einordnung.{% endblocktranslate %}
    </p>
    <p>
      <a href="https://www.baulinks.de/architektursoftware/index.php"
         target="_blank">
      https://www.baulinks.de/architektursoftware/index.php</a>
    </br />
    {% blocktranslate %}Die Website baulinks sammelt Informationen über Software mit dem Fokus Architektur und Handwerk. Neben CAD-Werkzeugen,
           oder digitale Werkzeuge zur Planungen werden auch Informationen zu digitalen Stundenzetteln oder digitalen Werkzeugen zur Kalkulation von Mengen gesammelt.{% endblocktranslate %}
  </p>
  <p>
    <a href="https://openenergy-platform.org/" target="_blank">
      https://openenergy-platform.org
    </a>
  </br />
  {% blocktranslate %}Die Openenergy Plattform hat zum Ziel die Modellierung von Energiesystemen transparent zu machen.
          Hierzu werden Informationen und digitale Werkzeuge rund um das Thema Energie gesammelt.{% endblocktranslate %}
</p>
<p class="mb-0">
  <a href="https://www.energy.gov/eere/buildings/building-energy-modeling"
     target="_blank">
    https://www.energy.gov/eere/buildings/building-energy-modeling
  </a>
</br />
{% blocktranslate %}Andere Seiten wie bspw. die durch das Office of Energy Efficiency &
          Renewable Energy der Vereinigten Staaten von Amerika betriebene
          Website sammeln Informationen zu digitale Werkzeuge, welche durch
          diese finanziert und erstellt werden. Zudem werden durch weitere
          Informationen wie beispielsweise eines Blogs anschauliche
          Informationen bereitgestellt.{% endblocktranslate %}
</p>
<br />
<p>
  <a href="https://www.gebaeudeforum.de/service/toolbox/" target="_blank">
    https://www.gebaeudeforum.de/service/toolbox/
  </a>
</br />
{% blocktranslate %}Das Gebäudeforum Klimaneutral stellt eine Übersicht zu digitalen Werkzeugen zur Verfügung.
          Diese richten sich insbesondere an Personen richten, die in der Bilanzierung und Beratung tätig sind.{% endblocktranslate %}
</p>
</div>
<div class="col-lg-12 lead mt-3">
  <a role="button"
     class="collapsed text-truncation-btn showMore"
     data-toggle="collapse"
     href="#collapseInfoTools"
     aria-expanded="false"
     aria-controls="collapseInfoTools"
     style="color: black">
    <img class="minus__icon" src="{% static 'assets/images/minus.svg' %}" />
    <img id="plusOrMinusIcon" src="{% static 'assets/images/plus.svg' %}" />
    <span id="textInExpansionButton">{% blocktranslate %}Erfahre mehr über den Hintergrund dieses Themas{% endblocktranslate %}</span>
  </a>
</div>
</div>
</div>
</section>
