{% load static %}
{% load i18n %}
<p>
  {% blocktranslate %}Neben der wissenschaftlichen Entwicklung digitaler Anwendungen,
          müssen erprobte Technologien auch ökonomisch umgesetzt werden. 
          Hierzu sind Geschäftsmodelle notwendig, sodass das Potenzial der digitalen Anwendung 
          als Produkt oder Service einer möglichst breiten Anwenderschaft zur Verfügung gestellt werden kann. 
          Eine Reihe von Tools kann die Geschäftsmodellentwicklungunterstützen. Einige von diesen werden hier vorgestellt.{% endblocktranslate %}
</p>
