{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ heading }}{% endblock %}
{% block content %}
  {% load static %}
  <!DOCTYPE html>

  <!-- **************** MAIN CONTENT START **************** -->
  <main>

    <!-- Page Banner START -->
    <section class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="p-2 text-left rounded-3">
              <h2 class="m-0">{{ heading }}</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Page Banner END -->
    {% if typeOfTool == "Tools" %}
      {% include 'tools_over/explanationTools.html' %}
    {% elif typeOfTool == "Apps" %}
      {% include 'tools_over/explanationApps.html' %}
    {% else %}
      {% include 'tools_over/explanationBusinessApps.html' %}
    {% endif %}
    <!-- Page content START -->
    <section class="pt-0">
      <div class="container {{ focusBorder }}-cards">
        <!-- Filter bar START -->
        <div class="searchContainer {{ focusBorder }}-cards">
          {% include "partials/search-bar.html" %}
        </div>
        <!-- Row END -->
        <!-- Filter bar END -->
        <!-- search tags START -->
        <!-- <ul class="list-inline mb-0">
          {% if search %}
            <li class="list-inline-item">
              <div class="btn btn-outline-light btn-sm">
                <a href="/tool_list/?searched={{ search }}&u=&l=&lcp=">
                  {% translate "Suchbegriff" %}: {{ search }}
                </a>
                <a href="/tool_list/?searched=&u={% if usage %}{{ usage }}{% endif %}&l={% if accessibility %}{{ accessibility }}{% endif %}&lcp={% if lifeCyclePhase %}{{ lifeCyclePhase }}{% endif %}">
                  <i class="bi bi-x-lg"></i>
                </a>
              </div>
            </li>
          {% endif %}

          {% if usage %}
            <li class="list-inline-item">
              <div class="btn btn-outline-light btn-sm">
                <a href="/tool_list/?searched=&u={{ usage }}&l=&lcp=">{% translate "Nutzung" %}:{{ usage }}
                </a>
                <a href="/tool_list/?searched={% if search %}{{ search }}{% endif %}&u=&l={% if accessibility %}{{ accessibility }}{% endif %}&lcp={% if lifeCyclePhase %}{{ lifeCyclePhase }}{% endif %}">
                  <i class="bi bi-x-lg"></i>
                </a>
              </div>
            </li>
          {% endif %}

          {% if accessibility %}
            <li class="list-inline-item">
              <div class="btn btn-outline-light btn-sm">
                <a href="/tool_list/?searched=&u=&l={{ accessibility.accessibility }}&lcp=">{% translate "Zugänglichkeit" %}: {{ accessibility }}
                </a>
                <a href="/tool_list/?searched={% if search %}{{ search }}{% endif %}&u={% if usage %}{{ usage }}{% endif %}&l=&lcp={% if lifeCyclePhase %}{{ lifeCyclePhase }}{% endif %}">
                  <i class="bi bi-x-lg"></i>
                </a>
              </div>
            </li>
          {% endif %}
          {% if lifeCyclePhase %}
            <li class="list-inline-item">
              <div class="btn btn-outline-light btn-sm">
                <a href="/tool_list/?searched=&u=&l=&lcp={{ lifeCyclePhase }}">{% translate "Lebenszyklusphase" %}: {{ lifeCyclePhase }}
                </a>
                <a href="/tool_list/?searched={% if search %}{{ search }}{% endif %}&u={% if usage %}{{ usage }}{% endif %}&l={% if accessibility %}{{ accessibility }}{% endif %}&lcp=">
                  <i class="bi bi-x-lg"></i>
                </a>
              </div>
            </li>
          {% endif %}
        </ul> -->
        <!-- search tags END -->
        <!-- Comparison button START -->
        <div class="compareBox {{ focusBorder }}-cards"
             id="compareBox"
             style="display: none">
          {% include "partials/comparison.html" %}
        </div>
        <!-- Comparison button END -->
        <!-- tools grid row START -->
        <div class="row mt-3">
          <div class="col-12">
            <!-- tools Grid START -->
            <div class="row g-4 listingResults" id="listing-results">
              {% include 'partials/listing-grid.html' with typeOfTool=typeOfTool %}
            </div>
            <!-- tools Grid END -->
            <!-- Pagination START -->

            <!-- Pagination END -->
          </div>
        </div>
        <!-- tools grid row START -->
      </div>
    </section>
    <!-- Page content END -->
  </main>
  <script>var modelName = "{{ model }}";</script>
  <!-- **************** MAIN CONTENT END **************** -->
{% endblock %}
