{% extends 'base.html' %}

{% block title %} Suchergebnisse {% endblock %}

{% load static %}

{% block content%}

<!-- Page Banner START -->
<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bg-light p-4 text-center rounded-3">
          <h1 class="m-0">ResultSearch</h1>
          <h3 class="m-0">Wird die Erebnisseite der Suche von der Startseite</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Page Banner END -->
<!-- Content START -->
<section class="pt-0">
  <div class="container">
    <!-- Filter bar START -->
    <form class="bg-light border p-4 rounded-3 my-4 z-index-9 position-relative">
      <!-- Input -->
      <div class="row g-3">
        <!-- Input text -->
        <div class="col-xl-7" title="Allgemeine Suche">
          <input id="search-input-tools" class="form-control me-1"
                 type="search" placeholder="Suchbeeingabe" name='searchValue'>
        </div>
        <!-- search Button -->
        <div class="col-xl-1">
          <button type="submit"
                  class="btn btn-primary mb-0 rounded z-index-1 w-100"
                  id="search-submit-tools" href="">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
    <!-- Row END -->
    <!-- Filter bar END -->
    <!-- Row START -->
    {% if tools %}
    <!-- Search results list (table) Start -->
    <div class="card-body">
      <!-- Course table START -->
      <div class="table-responsive border-0 rounded-3">
        <!-- Table START -->
        <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
          <!-- Table head -->
          <thead>
            <tr>
              <th scope="col" class="border-0 rounded-start">Nr.:</th>
              <th scope="col" class="border-0">Name</th>
              <th scope="col" class="border-0">Art des Ergebnisses</th>
              <th scope="col" class="border-0">Symbol(zb. rechtilich)</th>
              <th scope="col" class="border-0 rounded-end">Sontiges</th>
            </tr>
          </thead>
          <!-- Table body START -->
          <tbody>
            {% for tool in tools %}
            <!-- Table row -->
            <tr>
              <!-- Table data -->
              <td>
                <div class="d-flex align-items-center position-relative">
                  <!-- Number of result item -->
                  <h6 class="mb-0 ms-2"> 1
                  </h6>
                </div>
              </td>

              <!-- Table data -->
              <td>
                <div class="d-flex align-items-center mb-3">
                  <!-- Avatar -->
                  <div class="avatar avatar-xs flex-shrink-0">
                    <img class="avatar-img rounded-circle" src="assets/images/avatar/09.jpg" alt="avatar">
                  </div>
                  <!-- Info -->
                  <div class="ms-2">
                    <h6 class="mb-0 fw-light">{{ tool.bezeichnung }}</h6>
                  </div>
                </div>
              </td>

              <!-- Table data -->
              <td>28 Oct 2021</td>

              <!-- Table data -->
              <td> <span class="badge bg-primary text-white">Beginner</span> </td>

              <!-- Table data -->
              <td>$350</td>
            </tr>
            {% endfor %}
          </tbody>
          <!-- Table body END -->
        </table>
        <!-- Table END -->
      </div>
      <!-- Course table END -->
    </div>
    <!-- Card body END -->
    {% else %}
      <p>Die Suche hat keine Ergebnisse ergeben.</p>
    {% endif %}
    <div>
      {% if tools %}
        <ul>
        {% for tool in tools %}
          <li>
            <p>{{ tool.bezeichnung }}
            </p>
          </li>
        {% endfor %}
        </ul>
      {% else %}
        <p>Die Suche hat keine Ergebnisse ergeben.</p>
      {% endif %}
    </div>
 </div>
</section>

<!-- Content END -->
{% endblock %}
