{% extends 'base.html' %}

{% block title %} Über uns {% endblock %}

{% load static %}

{% block content%}

<!-- Page Banner START -->
<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bg-light p-4 text-center rounded-3">
          <h1 class="m-0">StartSearch</h1>
          <h3 class="m-0">Wird die neue Startseite</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Page Banner END -->
<!-- Content START -->

<!-- Page content START -->
<section class="pt-0">
  <div class="container">
    <!-- Filter bar START -->
    <form class="bg-light border p-4 rounded-3 my-4 z-index-9 position-relative" method="Post" action="ResultSearch">
      {% csrf_token %}
      <!-- Input -->
      <div class="row g-3">
        <!-- general search Input (text) -->
        <div class="col-xl-7" title="Allgemeine Suche">
          <input id="search-input-general" class="form-control me-1"
                 type="search" placeholder="Sucheingabe" name="searchValue">
        </div>
        <!-- general search Button -->
        <div class="col-xl-1">
          <button type="submit"
                  class="btn btn-primary mb-0 rounded z-index-1 w-100"
                  id="search-submit-general" href="">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
    <!-- Row END -->
    <!-- Filter bar END -->
  </div>
</section>
<!-- Content END -->
{% endblock %}
