/* formating cards */
@mixin border-rect($border-color) {
  border-radius: 2px;
  border: 2px solid $border-color;
}
@mixin border-round ($border-color) {
  border-radius: 20px;
  border: 2px solid $border-color;
}
@mixin btn-search ($btn-color, $btn-text-color) {
  background-color: $btn-color;
  color: $btn-text-color;
}
.webcentral-cards {
  .border-technical {
    @include border-rect($technical-color)
  }
  .border-technical-round {
    @include border-round($technical-color)
  }
  .btn-technical {
    @include btn-search($technical-color, $third-text-color)
  }
  .border-operational {
    @include border-rect($operational-color)
  }
  .border-operational-round {
    @include border-round($operational-color)
  }
  .btn-operational {
    @include btn-search($operational-color, $third-text-color)
  }
  
  .border-ecological {
    @include border-rect($ecological-color)
  }
  .border-ecological-round {
    @include border-round($ecological-color)
  }
  .btn-ecological {
    @include btn-search($ecological-color, $third-text-color)
  }

  .border-legal {
    @include border-rect($legal-color)
  }
  .border-legal-round {
    @include border-round($legal-color)
  }
  .btn-legal {
    @include btn-search($legal-color, $third-text-color)
  }
}

.ecological-cards {
  .border-ecological {
    @include border-rect($ecological-color)
  }
  .border-ecological-round {
    @include border-round($ecological-color)
  }
  .btn-ecological {
    @include btn-search($ecological-color, $third-text-color)
  }
}

.legal-cards {
  .border-legal {
    @include border-rect($legal-color)
  }
  .border-legal-round {
    @include border-round($legal-color)
  }
  .btn-legal {
    @include btn-search($legal-color, $third-text-color)
  }
}
.card-text {
  color: $secondary-text-color;
}
.card-header-text {
  color: $primary-text-color;
}

.neutral-cards {
  .border-neutral {
    @include border-rect($neutral-color)
  }
  .border-neutral-round {
    @include border-round($neutral-color)
  }
  .btn-neutral {
    @include btn-search($neutral-color, $third-text-color)
  }
}

/* card_hover: allows the item display cards to grow on hover
 * to show user selection : Added 06/20/2023
*/
.card_hover{
  transition: all .2s ease-in-out;
}
.card_hover:hover {
  transform: scale(1.1);
}

/* .break-words：change row while reach maxwidth，added 29.01.2024 */
.break-words {
  max-width: 300px; 
  overflow-wrap: break-word; 
  white-space: normal;
  overflow: visible;
}
