@media (max-width: 991px) {
    .navbar {
        padding: 0 1em
    }
    
    .dropdown-menu.shadow {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        background: none !important;
        padding: 0 !important
    }
}

.navbar-light {
  .navbar-nav {
    .nav-link{
      color: $primary-text-color;
      a:hover {
        color: #066ac9;
        text-decoration: none;
      }
    }
  }
}
