@media (max-width: 991px) {
    .navbar {
        padding: 0 1em
    }
}

.navbar-light {
  .navbar-nav {
    .nav-link{
      color: $primary-text-color;
      a {
        color: $primary-text-color;
      }
    }
  }
}

.dropdown-menu {
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1100;
  -webkit-box-shadow: none;
          box-shadow: none;
}
