// here all variabel are stored for
// the project webcentral

$technical-color: #AFC5FF;
$economical-color: #FFAE9D;
$ecological-color: #AEEAB4;
$legal-color: #F5E86A;
$search-color: #CCC;
$primary-text-color: #000;
$secondary-text-color: rgb(116, 117, 121);
$third-text-color: white;
