// here all variabel are stored for
// the project webcentral

$technical-color: #AFC5FF;
$operational-color: #FFAE9D;
$ecological-color: #8FDE97;
$legal-color: #F5E86A;
$neutral-color: #636363;
$search-color: #CCC;
$primary-text-color: #000;
$secondary-text-color: rgb(116, 117, 121);
$third-text-color: white;
$primary-font-family: "Roboto", sans-serif;
$h2-font-size: 32px;
$h3-font-size: 20px;
$h5-font-size: 15px;
