/*!
 * webcentral css
 * this file contains the styles and css formats that are custom to webcentral 
 * card_hover: allows the item display cards to grow on hover to show user selection : Added 06/20/2023
 */
.card_hover{ 
    transition: all .2s ease-in-out; 
}
.card_hover:hover { 
    transform: scale(1.1); 
}

.border-technical {
    border-radius: 2px;
    border: 2px solid var(--blue, #AFC5FF);
}
.border-economical {
    border-radius: 2px;
    border: 2px solid var(--red, #FFAE9D);
}
.border-ecological {
    border-radius: 2px;
    border: 2px solid var(--green, #AEEAB4);
}
.border-legal {
    border-radius: 2px;
    border: 2px solid var(--yellow, #F5E86A);
}

a.technical {
    color: black;
    border-bottom: 2px solid var(--blue, #AFC5FF);
}
a.economical {
    color: black;
    border-bottom: 2px solid var(--red, #FFAE9D);
}
a.ecological {
    color: black;
    border-bottom: 2px solid var(--green, #AEEAB4);
}
a.legal {
    color: black;
    border-bottom: 2px solid var(--yellow, #F5E86A);
}

#container-start-focus table td {
    padding: 3px;
    min-width: 40px;
}
#container-start-focus img {
    height: 35px;
    min-height: 30px;
    flex-shrink: 0;
}
