/*!
 * webcentral css
 * use webcentral.SCSS to style the webcentral project
 * this file contains the styles and css formats that are custom to webcentral
*/
/* formating the startpage */
#container-start-search .border-startsearch {
  border-radius: 2px;
  border: 2px solid #CCC;
}

#container-start-focus .border-technical {
  border-radius: 2px;
  border: None;
  outline: 2px solid #AFC5FF;
  outline-offset: -17px;
}
#container-start-focus .border-economical {
  border-radius: 2px;
  border: None;
  outline: 2px solid #FFAE9D;
  outline-offset: -17px;
}
#container-start-focus .border-ecological {
  border-radius: 2px;
  border: None;
  outline: 2px solid #AEEAB4;
  outline-offset: -17px;
}
#container-start-focus .border-legal {
  border-radius: 2px;
  border: None;
  outline: 2px solid #F5E86A;
  outline-offset: -17px;
}
#container-start-focus a.technical {
  color: #000;
  border-bottom: 2px solid #AFC5FF;
}
#container-start-focus a.economical {
  color: #000;
  border-bottom: 2px solid #FFAE9D;
}
#container-start-focus a.ecological {
  color: #000;
  border-bottom: 2px solid #AEEAB4;
}
#container-start-focus a.legal {
  color: #000;
  border-bottom: 2px solid #F5E86A;
}
#container-start-focus table td {
  padding: 3px;
  min-width: 40px;
}
#container-start-focus img {
  height: 35px;
  min-height: 30px;
  flex-shrink: 0;
}

/* formating cards */
#container-cards-tools .border-technical {
  border-radius: 2px;
  border: 2px solid #AFC5FF;
}
#container-cards-tools .border-technical-round {
  border-radius: 20px;
  border: 2px solid #AFC5FF;
}
#container-cards-tools .btn-technical {
  background-color: #AFC5FF;
  color: white;
}

.card-text {
  color: #000;
}

/* card_hover: allows the item display cards to grow on hover
 * to show user selection : Added 06/20/2023
*/
.card_hover {
  transition: all 0.2s ease-in-out;
}

.card_hover:hover {
  transform: scale(1.1);
}

/* format logos about page */
@media (max-width: 991px) {
  .about-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .about-logos a {
    padding: 2em;
  }
  .about-logos img {
    max-height: 120px;
  }
  .img-side-column {
    margin-top: 2em;
  }
}
@media (min-width: 992px) {
  .about-logos {
    height: 120px;
  }
  .about-logos img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }
}
.about-logos img {
  min-width: 95px;
}

.img-side-column {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.collapseInfoContainer .collapseInfo.collapse:not(.show) {
  display: block;
  height: 3.2rem;
  overflow: hidden;
}

.collapseInfoContainer .collapseInfo.collapsing {
  height: 3.2rem;
}

.collapseInfoContainer a.text-truncation-btn.collapsed::after {
  content: "Zeige mehr ...";
}

.collapseInfoContainer a.text-truncation-btn:not(.collapsed)::after {
  content: "Zeige weniger ...";
}

.close-icon::before {
  vertical-align: -0.2em;
}

/* formating footer */
#footer a {
  color: #000;
}

/*# sourceMappingURL=webcentral.css.map */
