/*!
 * webcentral css
 * use webcentral.SCSS to style the webcentral project
 * this file contains the styles and css formats that are custom to webcentral
*/

$technical-color: #AFC5FF;
$economical-color: #FFAE9D;
$ecological-color: #AEEAB4;
$legal-color: #F5E86A;
$search-color: #CCC;
$primary-text-color: #000;
$secondary-text-color: rgb(116, 117, 121);
$third-text-color: white;

/* card_hover: allows the item display cards to grow on hover
 * to show user selection : Added 06/20/2023
*/
.card_hover{
  transition: all .2s ease-in-out;
}
.card_hover:hover {
  transform: scale(1.1);
}

/* formating the startpage */
@mixin border-boxen($border-color) {
  border-radius: 2px;
  border: None;
  outline: 2px solid $border-color;
  outline-offset: -17px;
}

@mixin link-boxen($underscore-color, $text-color) {
  color: $text-color;
  border-bottom: 2px solid $underscore-color;
}
#container-start-search {
  .border-startsearch {
    border-radius: 2px;
    border: 2px solid $search-color;
  }
}
#container-start-focus {
  .border-technical {
    @include border-boxen($technical-color);
  }
  .border-economical {
    @include border-boxen($economical-color);
  }
  .border-ecological {
    @include border-boxen($ecological-color);
  }
  .border-legal {
    @include border-boxen($legal-color);
  }
  a.technical {
    @include link-boxen($technical-color, $primary-text-color);
  }
  a.economical {
    @include link-boxen($economical-color, $primary-text-color);
  }
  a.ecological {
    @include link-boxen($ecological-color, $primary-text-color);
  }
  a.legal {
    @include link-boxen($legal-color, $primary-text-color);
  }
  table {
    td {
      padding: 3px;
      min-width: 40px;
    }
  }
  img {
    height: 35px;
    min-height: 30px;
    flex-shrink: 0;
  }
}

/* formating footer */
#footer {
  a {
    color: $primary-text-color;
  }
}

/* formating tools cards */
@mixin border-rect($border-color) {
  border-radius: 2px;
  border: 2px solid $border-color;
}
@mixin border-round ($border-color) {
  border-radius: 20px;
  border: 2px solid $border-color;
}
@mixin btn-search ($btn-color, $btn-text-color) {
  background-color: $btn-color;
  color: $btn-text-color;
}
#container-cards-tools {
  .border-technical {
    @include border-rect($technical-color)
  }
  .border-technical-round {
    @include border-round($technical-color)
  }
  .btn-technical {
    @include btn-search($technical-color, $third-text-color)
  }
}

.card-text {
  color: $primary-text-color;
}
