@media (max-width: 991px) {
    .navbar {
        padding: 0 1em
    }
}

.navbar-light {
  .navbar-nav {
    .nav-link{
      color: $primary-text-color;
      a {
        color: $primary-text-color;
      }
    }
  }
}

.dropdown-menu {
  z-index: 1100;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  width: 160px !important;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.dropdown-item-bg {
  background-color: white;
  width: 180px;
}

.dropdown-item {
  width: 180px; /* Makes the dropdown items match the width of the parent dropdown */
}

.technical {
  border-top: 1px solid $technical-color;
  color: black;
}
.technical-bottom {
  border-bottom: 1px solid $technical-color;
  color: black;
}
.technical-bottom:hover {
  background-color: $technical-light-color;
  color: black;
}
.technical:hover {
  background-color: $technical-light-color;
  color: black;
}

.operational {
  border-top: 1px solid $operational-color;
  color: black;
}
.operational-bottom {
  border-bottom: 1px solid $operational-color;
  color: black;
}
.operational-bottom:hover {
  background-color: $operational-light-color;
 color: black;
 
}
.operational:hover {
  background-color: $operational-light-color;
 color: black;
 
}

.ecological {
  border-top: 1px solid $ecological-color;
  color: black;
  
}
.ecological-bottom {
  border-bottom: 1px solid $ecological-color;
  color: black;
}
.ecological-bottom:hover {
  background-color: $ecological-light-color;
  color: black;
 
}
.ecological:hover {
  background-color: $ecological-light-color;
  color: black;
 
}

.legal {
  border-top: 1px solid $legal-color;
  color: black;
}

.legal-bottom {
  border-bottom: 1px solid $legal-color;
  color: black;
}
.legal-bottom:hover {
  background-color: $legal-light-color;
 color: black;
}
.legal:hover {
  background-color: $legal-light-color;
 color: black;
 
}

.global {
  border-top: 1px solid $global-color;
  color: black;
}
.global-bottom {
  border-bottom: 1px solid $global-color;
  color: black;
}

.global-bottom:hover {
  background-color: $global-light-color;
  color: black;
}
.global:hover {
  background-color: $global-light-color;
  color: black;
 
}
.dropdown-toggle:hover {
  color: black;
  font-size: 15px;
}
.dropdown-toggle:active {
  color: black;
}
.dropdown-toggle::after {
    display: none !important;
}
