.overview-box-site {
    .border-ecological {
        @include border-boxen($ecological-color);
        }
    .grey-box-container {
        padding: 16px;
        background-color: #F0F0F0;
    }
    .imageHeading{
        font-weight: 500;
        font-size: 15px;
        padding-bottom: 16px;
    }
}
