.overview-box-site {
    .border-ecological {
        @include border-boxen($ecological-color);
        }
    .grey-box-container {
        padding: 16px;
        background-color: #F0F0F0;
    }
    .imageHeading{
        font-weight: 500;
        font-size: 15px;
        padding-bottom: 16px;
    }
}

@media only screen and (max-width: 800px) {
  .overview-box-site {
    flex-direction: column;
  }

  .overview-box-site .box {
    width: 100%;
  }
}
