@media (max-width: 854px) {
    .video-home {
        width: 100%;
    }
    .video-text {
        width: 100%;
    }
}

@media (min-width: 855px) {
    .video-home {
        width: 854px;
    }
    .video-text {
        width: 854px;
    }
}

@media (max-width: 991px) {
    .detail-card-body .container{
        padding-left: 0;
        padding-right: 0;
    }
}

.video__wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
