// here all variabel are stored for
// the project webcentral

$technical-color: #8FABF7;
$operational-color: #F49783;
$ecological-color: #6CC876;
$legal-color: #E4D85C;
$global-color: #787575;
$search-color: #CCC;
$primary-text-color: #000;
$secondary-text-color: rgb(116, 117, 121);
$third-text-color: white;
$primary-font-family: "Roboto", sans-serif;
$h2-font-size: 32px;
$h3-font-size: 20px;
$h5-font-size: 15px;
