// here all variabel are stored for
// the project webcentral

$technical-color: #8FABF7;
$technical-light-color: #E3EAFD;
$operational-color: #F49783;
$operational-light-color: #FDEAE6;
$ecological-color: #6CC876;
$ecological-light-color: #DFF3E1;
$legal-color: #E4D85C;
$legal-light-color: #F9F6DA;
$global-color: #787575;
$global-light-color: #F2F2F2;
$search-color: #CCC;
$primary-text-color: #000;
$secondary-text-color: rgb(116, 117, 121);
$third-text-color: white;
$details-page-sub-heading: #787575; 
$primary-font-family: "Roboto", sans-serif;
$h2-font-size: 32px;
$h3-font-size: 20px;
$h5-font-size: 15px;
