/*!
 * webcentral css
 * use webcentral.SCSS to style the webcentral project
 * this file contains the styles and css formats that are custom to webcentral
*/
@import "_variables";

@import "_functions";

@import "_startpage";

@import "_criteria-catalog";

@import "_cardspages";

@import "_about-logos";

@import "_collapsable-info-container";

@import "_navbar";

@import "_resposive-video";

@import "_cookies";

@import "_clickable-table-rows";

@import "_footer";

@import "_back-link-focus-color";

@import "_overview-box-site";

@import "details_page";

@import "component_list";

@import "description_container";

@import "explanation";

body {
  color: $primary-text-color;
  h2 {
    font-family: $primary-font-family;
    font-weight: normal;
    font-size: $h2-font-size;
  }
  h3 {
    font-family: $primary-font-family;
    font-weight: normal;
    font-size: $h3-font-size;
  }
  h5 {
    font-family: $primary-font-family;
    font-weight: normal;
    font-size: $h5-font-size;
    text-decoration: underline;
  }
}

.criteriaCatalogHeading {
  color: $legal-color;
}
