{% load static %} <section class="py-4">
  <div class="container">
    <div class="row collapseInfoContainer" id="collapseInfoContainerPublications">
      <div class="col-lg-12 collapse lead collapseInfo" id="collapseInfoPublications">
        <p>Hier dargestellt sind die Publikationen, welche im Rahmen der Projektlaufzeit durch die Begleitforschung 
          Energiewendebauen Modul Digitalisierung entstanden sind. Die jeweiligen Publikationen stehen zum Download zur Verfügung.
        </p>
      </div>
      <div class="col-lg-12 lead mt-3">
        <a role="button" class="collapsed text-truncation-btn"
          data-toggle="collapse" href="#collapseInfoPublications" aria-expanded="false"
          aria-controls="collapseInfoPublications"></a>
      </div>
    </div>
  </div>
</section>
