{% extends 'base.html' %}

{% block title %} Geschäftsmodelle - Herausforderungen {% endblock %}

{% load static %}

{% block content%}

<!-- general text for "coming soon" -->
<!-- {% include 'partials/_coming.html' %} -->

  <!-- =======================
Page Banner START -->
  <!-- Page Banner START -->
  <section class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="p-2 text-left rounded-3">
            <h2 class="m-0">Kriterienkatalog</h2>
          </div>
          <p>
            Viverra orci sagittis eu volutpat odio. Ridiculus mus mauris vitae ultricies. 
            Arcu risus quis varius quam. Consequat mauris nunc congue nisi vitae suscipit tellus. 
            Accumsan in nisl nisi scelerisque eu ultrices. Auctor urna nunc id cursus metus aliquam eleifend mi. 
            Eu volutpat odio facilisis mauris sit amet. Montes nascetur ridiculus mus mauris vitae ultricies leo integer. 
            Aliquam ut porttitor leo a diam sollicitudin tempor id. Scelerisque viverra mauris in aliquam sem fringilla. 
            Elementum eu facilisis sed odio morbi. Nisl condimentum id venenatis a. Morbi tristique senectus et netus et malesuada. 
            Fermentum et sollicitudin ac orci phasellus egestas tellus. Dignissim enim sit amet venenatis. Interdum varius sit amet mattis vulputate enim nulla aliquet. 
            Pharetra massa massa ultricies mi. Amet facilisis magna etiam tempor orci eu lobortis. Massa sed elementum tempus egestas sed sed risus pretium.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Banner END -->
  <section class="pt-0">
    <div class="container legal-cards">

      <!-- tools grid row START -->
        <!-- tools Grid START -->
          <div class="row g-4" id="tool-listing-results">
            {% include '../criteriaCatalog/criteriaCatalogResults.html' %}
          </div>
          <!-- tools Grid END -->
      <!-- tools grid row START -->
    </div>
  </section>
<!-- Page Banner END -->
<!-- Content START -->

<!-- Content END -->
{% endblock %}
