{% load static %}
{% for useCase in useCases %}  
<!-- Card item START -->
<div class="col-sm-6 col-lg-4 col-xl-3 card_hover">
  <a href="{%url 'criteriaCatalog:usecase_view' useCase.id %}">
    <div class="card border-technical h-100">
      <!-- Card body -->
      <div class="card-body pb-0">
        <!-- Title -->
        <h3 class="card-title" style="font-size: 16px;">
          {{ useCase.name   }}
        </h3>
      </div>
      <!-- Card footer -->
      <div class="card-footer pt-0 pb-3">
        <hr>
        <div class="d-flex justify-content-between">
          <span class="h6 fw-light mb-0">
            {{ useCase.text   }}
        </div>
      </div>
    </div>
  </a>
</div>
<!-- Card item END -->
{% endfor %}
