{% extends 'base.html' %}
{% block title %}{{ criteriaCatalog.name }}{% endblock %}
{% block content %}
{% load static %}
{% load format_tags %}
<!DOCTYPE html>


<!-- **************** MAIN CONTENT START **************** -->
<main>
  <!-- Page content START -->
  <section class="pt-0">
    <div class="container legal-cards p-4 my-4 z-index-9 position-relative">
      <!-- Filter bar START -->
      <div class="row my-4">
        <a href="/pages/criteriaCatalog" style="color: #E0D674; font-size: 15px;">< Kriterienkatalog Start</a>
      </div>
      <div class="p-2">
        <div class="row g-4">
          <div class="col-lg-12 border-legal p-2 my-1" id="container-criteria-catalog-details">
            <div class="row">
            <!-- Input -->
              <div class="col-3 col-xl-3" title="Suchen in den Anwendungsnamen">
              {% if "Betriebsoptimierung" in criteriaCatalog.name %}
                <img src="{% static 'assets/images/PurposeCategory1-selected.svg' %}"  class="rounded" alt="icon">
              {% else %}
                <a href="/criteriaCatalog/Betriebsoptimierung">
                  <img src="{% static 'assets/images/PurposeCategory1.svg' %}"  class="rounded" alt="icon">
                </a>
              {% endif %}
              {% if "Profilbildung" in criteriaCatalog.name %}
                <img src="{% static 'assets/images/PurposeCategory2-selected.svg' %}"  class="rounded" alt="icon">
              {% else %}
                <a href="/criteriaCatalog/Profilbildung"><img src="{% static 'assets/images/PurposeCategory2.svg' %}"></a>
              {% endif %}
              {% if "Verhaltensbeeinflussung" in criteriaCatalog.name %}
                <img src="{% static 'assets/images/PurposeCategory3-selected.svg' %}"  class="rounded" alt="icon">
              {% else %}
                <a href="/criteriaCatalog/Verhaltensbeeinflussung"><img src="{% static 'assets/images/PurposeCategory3.svg' %}"></a>
              {% endif %}
              {% if "Teilen" in criteriaCatalog.name %} 
                <img src="{% static 'assets/images/PurposeCategory4-selected.svg' %}"  class="rounded" alt="icon">
              {% else %}
                <a href="/criteriaCatalog/Teilen"><img src="{% static 'assets/images/PurposeCategory4.svg' %}"  class="rounded" alt="icon"></a>
              {% endif %}
            </div>
            <!-- search Field Schlagwort -->
            <div class="col-6"></div>
            <div class="col-3 form-group d-flex align-items-center">
              
              <!-- d-flex align-items-center justify-content-center pe-1 -->
              <form> 
                <!-- <input type="text" class="form-control me-1 border-legal rounded-lg" id="search-input-criteriaCatalog" placeholder="Schlagwort" name='searched'> -->
                <select name="tags" class="form-select js-choice border-legal-round" id="tags" placeholder="Schlagwort" style="color:#E0D674; width: 262px; height: 39px; margin-bottom: 0px;" onchange="handleOptionSelected()"> 
                <!-- style="height: 30px; width: 200px; border-radius: 15px; border: 2px solid #F5E86A; color: #F5E86A"> -->
                  {% for tag in tags %}  
                    <option>{{ tag }}</option>
                  {% endfor %}
                </select>
              </form>
            </div>
          </div>
          <!-- END search Field Schlagwort -->
        </div>
      </div>
    </div>
      <!-- </form> -->
      <div class="p-2">
        <div class="row g-4">
          <div class="col-lg-12 border-legal p-4 my-4" id="container-criteria-catalog-details">
              <p style="margin-bottom: 1px; font-size: 22px;">{{ criteriaCatalog.name }}</p>
            <div class="row">
              <div class="col-lg-12" id="container-criteria-catalog-details">
                <p style="font-size: 22px;">Beschreibungstext: {{ criteriaCatalog.text }}</p>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-lg-1 mb-3" id="container-criteria-catalog-details" style="font-size: 16px;">
                Themen
              </div>
              <div class="col-lg-1 mb-3" id="container-criteria-catalog-details">
                <div id="criterias" style="display: none; font-size: 16px;">Kriterien</div>
              </div>
              <div class="col-lg-3 mb-3" id="container-criteria-catalog-details">
                <div id="requirementsAndRuleExamples" style="display: none; font-size: 16px;">Anforderungen und Regelbeispiele</div>
              </div>
            </div>
              <div class="row" id="hi">
                <!-- <ul> -->
                  {% for tree in trees %}
                    {% for node in tree %}
                      {% if node.indent %}
                          <ul style="margin-bottom: 2px;" id="{{ node.depth }}">
                      {% elif node.outdent %}
                        </li></ul>
                      {% elif node.content %}
                        {% if node.content.depth == 0 %}
                          <li onclick="showOrHide(event, this)" style="font-size: 22px;" id="{{ node.content.depth }}" tags="{{ node.content.topic.tag|format_tags }}"><img src="{% static 'assets/images/'|add:node.content.topic.imageFilename %}" style="width: 20px; margin-right: 4px; margin-bottom: 4px; margin-top: 4px;" id="0">{{ node.content.topic.heading }}
                            <!-- <br id="0" /> -->
                          <p style="display: none; margin-bottom: 0px; font-size: 16px; color: grey; margin-left: 110px;" id="0">{{ node.content.topic.text }}</p>
                          <hr style="display: none; margin-top: 1px; color: #F5E86A; border: 2px solid #F5E86A; margin-left: 110px;" id="0">
                        {% else %}
                          <!-- <hr style="display: none; margin-top: 1px; margin-left: 80px; padding-left: 80px; color: #F5E86A; border: 2px solid #F5E86A;" id="{{ node.content.depth }}"> -->
                          <li onclick="showOrHide(event, this)" id="{{ node.content.depth }}" style="display: none; padding-left: 80px; font-size: 22px;" tags="{{ node.content.topic.tag|format_tags }}">{{ node.content }}
                            <p style="display: none; font-size: 22px; margin-left: 120px;" tags="{{ node.content.topic.tag|format_tags }}" id="{{ node.content.depth }}">{{ node.content.topic.text }}</p>
                            <hr style="display: none; margin-top: 1px; padding-left: 120px; color: #F5E86A; height: 2px; border: 2px solid #F5E86A; margin-left: 80px;" id="{{ node.content.depth }}">
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                    <hr style="margin-top: 1px; margin-bottom: 1px; margin-left: 120px; color: #F5E86A; border: 2px solid #F5E86A;">
                  {% endfor %}
                <!-- </ul> -->
              </div>
          </div>
                <!-- use case tree END -->
        </div>
      </div>
    </div>
  </section>
  <!-- Page content END -->
</main>
<!-- **************** MAIN CONTENT END **************** -->

<!--ComparisonFeature-->
<!-- <script type="text/javascript" src="{% static 'js/toolComparison-feature.js' %}" nonce="{{request.csp_nonce}}"></script> -->

<script>
  function handleOptionSelected() {
    // Code to be executed when an option is selected
    var selectedOption = document.getElementById("tags").value;
    console.log("Selected option: " + selectedOption);
    // search all HTML, which are childs of div-element with id "container-criteria-catalog-details"
    // var elementsToBeSearched = document.getElementById("hi").getElementsByTagName("*");
    var elementsToBeSearched = document.querySelectorAll("#hi *");
    var foundElements = [];
    foundULelements = [];
    for (var i = 0; i < elementsToBeSearched.length; i++) {
      // debugger;
      // if the element has the attribute "tags" and the value of the attribute is not equal to the selected option
      // if (elements[i].hasAttribute("tags") && !elements[i].getAttribute("tags").includes(selectedOption)) {
      //   // hide the element
      //   elements[i].style.display = "none";
      // }
      // if the element has the attribute "tags" and the value of the attribute is equal to the selected option
      if (elementsToBeSearched[i].hasAttribute("tags") && elementsToBeSearched[i].getAttribute("tags").includes(selectedOption)) {
        // show the element
        // add the element to the found elements:
        // debugger;
        parentElement = elementsToBeSearched[i];
        while (parentElement.id != "0") {
          parentElement = parentElement.parentElement;
        }
        // debugger;
        resetCriteriaCatalog();
        depthFirstWalk(parentElement, elementsToBeSearched[i]);
      }
    // if (foundElements.length > 0) {
    //   // call a function, which will reset the criteriaCatalog to the original state
    //   resetCriteriaCatalog();
    //   // show all found elements
    //   // firsst activate the ul-elements
    //   var ulElements = foundElements.filter(function(element) {
    //     return element.tagName === 'UL';
    //   });
    //   for (var i = 0; i < foundElements.length; i++) {
    //     debugger;
    //     foundElements[i].style.display = "block";
    //   }
    // }
    }
    var numberOfLayersShown = checkHowManyLayersAreShown();
    if (numberOfLayersShown >= 1) {
      document.getElementById("criterias").style.display = "block";
    }
    if (numberOfLayersShown >= 2) {
      document.getElementById("requirementsAndRuleExamples").style.display = "block";
    }
  }

function depthFirstWalk(rootElement, target) {
  var childElements = rootElement.children;
  for (var i = 0; i < childElements.length; i++) {
    var childElement = childElements[i];
    // Perform your desired operation on the child element here
    console.log(childElement);
    // check if the childElement is a ancestor of target

    
    if (checkIfAncestor(childElement, target)) {
        if (Number(childElement.id) < Number(target.id)) {
        showHeadingAndDescription(childElement);
        depthFirstWalk(childElement, target);
      }
    }
    else {
      showHeading(childElement);
    }
  }
}

function checkIfAncestor(element, target) {
  var childElements = [];
  childElements.push(element);
  while (childElements.length > 0) {
    var childElement = childElements.pop();
    if (childElement == target) {
      return true;
    }
    else {
      var grandChildElements = childElement.children;
      for (var i = 0; i < grandChildElements.length; i++) {
        childElements.push(grandChildElements[i]);
      }
    }
  }
  return false;
}

function showHeading(element){
  // debugger;
  if (element.tagName == "UL") {
    element.style.display = "block";
    for (var i = 0; i < element.children.length; i++) {
      if (element.children[i].tagName == "LI") {
        element.children[i].style.display = "block";
        element.children[i].getElementsByTagName("hr")[0].style.display = "block";
        element.children[i].getElementsByTagName("hr")[0].style.marginLeft = "0px";
        // debugger;
        // element.children[i].children.getElementsByTagName("hr")[0].style.display = "block";
      }
    }
  }
  if (element.tagName == "LI") {
    element.style.display = "block"; 
    element.children.getElementsByTagName("hr")[0].style.display = "block";
  }
  else if (element.tagName == "HR") {
    element.style.display = "block";
  }
  if (element.tagName == "P" && element.id == "0") {
    element.style.display = "block";
  }
}

function showHeadingAndDescription(element) {
  // debugger;
  if (element.tagName == "UL") {
    element.style.display = "block";
    for (var i = 0; i < element.children.length; i++) {
      if (element.children[i].tagName == "LI") {
        element.children[i].style.display = "block";
        element.children[i].getElementsByTagName("p")[0].style.display = "block";
        element.children[i].getElementsByTagName("hr")[0].style.display = "block";
      }
    }
  }
  if (element.tagName == "LI" || element.tagName == "HR") {
    element.style.display = "block";
    element.getElementsByTagName("p")[0].style.display = "block";
  }
}


// var elementsToBeSearched = document.querySelectorAll("#hi *");
// for (var i = 0; i < elementsToBeSearched.length; i++) {
//   depthFirstWalk(elementsToBeSearched[i]);
// }

function checkHowManyLayersAreShown() {
  var elementsToBeSearched = document.querySelectorAll("#hi *");
  var layersExpanded = 0;
  for (var i = 0; i < elementsToBeSearched.length; i++) {
    if (elementsToBeSearched[i].style.display == "block" && Number(elementsToBeSearched[i].id) > layersExpanded) {
      layersExpanded += 1;
    }
  }
  return layersExpanded;
}


function resetCriteriaCatalog() {
  // search all HTML, which are childs of div-element with id "container-criteria-catalog-details"
  var elementsToBeSearched = document.getElementById("hi").getElementsByTagName("*");
  for (var i = 0; i < elementsToBeSearched.length; i++) {
    // show all elements
    // debugger;
    if (elementsToBeSearched[i].id == "0") {
      if (elementsToBeSearched[i].tagName == "HR" || elementsToBeSearched[i].tagName == "P") {
        elementsToBeSearched[i].style.display = "block";
      }
      else {
        elementsToBeSearched[i].style.display = "inline";
      }
      
    }
    else {
      elementsToBeSearched[i].style.display = "none";

    }
  }
  document.getElementById("criterias").style.display = "none";
  document.getElementById("requirementsAndRuleExamples").style.display = "none";
}

var numberOfOpenElementsPerLayer = {};
function showOrHide(event, element) {
  var childElements = element.children;
  var foundULs = 0;
  var foundChilds = [];
  // var filteredChildElements = childElements.filter((element) => {return element.tagName == "UL"});
  var firstElementSkipped = false;
  // if the parent of the parent of the clicked element is a div, then the clicked element is
  // a root element and its text should be displayed in grey.
  var displayPInGray = false;
  // debugger;
  if (element.parentElement.parentElement.tagName == "DIV") {
    displayPInGray = true;
    pElements = element.getElementsByTagName("p");
    // if (document.getElementById("criterias").style.display == "block" && pElements[0].style.display == "none") {

    // }
    // else {
    //   foundChilds.push(document.getElementById("criterias"));
    // }
    
  //   if (document.getElementById("requirementsAndRuleExamples").style.display == "block"){
  //     foundChilds.push(document.getElementById("requirementsAndRuleExamples"));
  //   }
  // }
  // else if (element.parentElement.parentElement.parentElement.parentElement.tagName  == "DIV"){
  //   foundChilds.push(document.getElementById("requirementsAndRuleExamples"));
  }
  for (var i = 0; i < childElements.length; i++) {
    if (childElements[i].tagName == "P" || childElements[i].tagName == "HR") {
      if (displayPInGray) {
        childElements[i].style.color = "grey";
        childElements[i].style.fontSize = "16px";
        // also append the 2 column names over the tree structure to be hidden or shown
        
      }
      else {
        childElements[i].style.color = "black";
      }
      foundChilds.push(childElements[i]);        
    }

    if (childElements[i].tagName == "UL") {
      foundChilds.push(childElements[i]);
      
      var childrenOfUL = childElements[i].children
      for (var j= 0; j < childrenOfUL.length; j++) {
        if (firstElementSkipped) {
          foundChilds.push(childrenOfUL[j]);
        }
        else {
          firstElementSkipped = true;
        }
      }
    }
    // lastElementStr = childElements[i].tagName;
  }
// var childElementsOfUL = filteredChildElements[0].children;
//     var childElements = Array.from(element.children).filter(function(child) {
//     return child.tagName.toLowerCase() === 'ul' || child.tagName.toLowerCase() === 'li' || child.tagName.toLowerCase() === 'hr' || child.tagName.toLowerCase() === 'p';
// });
    for (i = 0; i < foundChilds.length; i++) {
      
        if ( foundChilds[i].style.display == "block") {
          
          foundChilds[i].style.display = 'none';
          if (foundChilds[i].tagName == "LI") {
              numberOfOpenElementsPerLayer[foundChilds[i].id] -= 1;
          }
        }
        else {
          foundChilds[i].style.display = 'block';
          if (foundChilds[i].tagName == "LI") {
            if (numberOfOpenElementsPerLayer[foundChilds[i].id] == undefined) {
              numberOfOpenElementsPerLayer[foundChilds[i].id] = 1;
            }
            else {
              numberOfOpenElementsPerLayer[foundChilds[i].id] += 1;            
            }
          }
        }
    }
    if (numberOfOpenElementsPerLayer["1"] == undefined || numberOfOpenElementsPerLayer["1"] < 1) {
      document.getElementById("criterias").style.display = "none";
      document.getElementById("requirementsAndRuleExamples").style.display = "none";
    }
    else {
      document.getElementById("criterias").style.display = "block";
      if (numberOfOpenElementsPerLayer["2"] == undefined || numberOfOpenElementsPerLayer["2"] < 1) {
      document.getElementById("requirementsAndRuleExamples").style.display = "none";
      }
      else {
        document.getElementById("requirementsAndRuleExamples").style.display = "block";
      } 
    }
    // debugger;
    if (event.stopPropagation) {
      event.stopPropagation();   // W3C model
    } else {
      event.cancelBubble = true; // IE model
    }
  }
</script>
{% endblock %}
