name: Pylint

on: [push]

jobs:
  build:
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint djlint black
    
    - name: Lint Django templates with djlint
      run: |
          djlint --reformat --warn --configuration=webcentral/pyproject.toml $(git ls-files 'webcentral/**/*.html')
                  
    - name: Format Python code with black
      run: |
          black --config webcentral/pyproject.toml webcentral/ 
     
    - name: Git Auto Commit
        uses: stefanzweifel/git-auto-commit-action@v5.0.1
          
    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files 'webcentral/**/*.py') --output=lint.txt || true

